.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 0px 30px;
}
.dialog-toolbar-heading h3{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}
.personal-detail-heading h5{
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 10px 0;
}
.document-heading h5{
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 10px 0;
}
.personal-detail-sec{
    border-bottom: 1px solid #e2e2e2;
}
.document-sec{
    border-bottom: 1px solid #e2e2e2;
}
.personal-detail-content{
    padding: 5px 0px;
    margin: 0 70px;
}
.personal-detail-content-1 p{
    font-size: 13px;
    font-weight: 600;
}

.personal-detail-content-2 p{
    font-size: 13px;
    font-weight: 600;
}
.mat-toolbar-row{
    height: 75px;
}
.clear-icon{
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
}
.professional-detail-content{
    padding: 5px 0px;
    margin: 0 70px;
}
.professional-detail-content-1 p{
    font-size: 13px;
    font-weight: 600;
}
.professional-detail-content-2{
    padding-left: 150px;
}
.professional-detail-content-2 p{
    font-size: 13px;
    font-weight: 600;
}
.document-content-sec{
    padding: 5px 0px;
    margin: 0 70px;
}
.document-content-1{
    color: #b44634;
}

.document-content-2{
    color: #0f38f7;
    text-decoration: underline;
}
.button-sec{
    padding: 5px 0px;
    margin: 0 70px;
}
.print-btn{
    border: 0;
    outline: 0;
    background-color: #465f9e;
    box-shadow: 0 0 40px rgba(223,140,64, .3);
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    padding: 3px 7px;
}
.activate-worker button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 8px 25px;
    box-shadow: 0 0 40px rgba(223,140,64, .3);
    border: 0;
    outline: none;
    margin: 10px 50px 30px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
