<mat-toolbar-row class="dialog-toolbar">
  <p class="letter-text text-center">U</p>
  <span class="dialog-header">From: Ultra Agent Control</span>
  <span class="example-spacer"></span>
  <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
</mat-toolbar-row>
<mat-dialog-content>
  <div class="dialog-subject">
    <p>Subject Details : {{subjectTitle}}</p>
    <p>Details:</p>
    <div class="details_content">
      <p>{{p1}}</p>
      <p>{{p2}}</p>
      <p>  
        <!-- <span>Start time: 12:12.</span>
        <span>End time: 16:30</span>
        <span>Duration: 2hrs 15mins</span> -->
        {{p3}}
      </p>
    </div>
    <div class="suspend_worker_button text-center" *ngIf="!buttonDisabled">
      <button class="suspend_btn" (click)="buttonClick()">{{buttonTitle}}</button>
    </div>
  </div>
</mat-dialog-content>