<div class="profile-container">
    <mat-toolbar>
      <div class="profile-heading">Profile</div>
    </mat-toolbar>
    <div class="profile-content">
      <div class="profile-background-image-sec">
          <div class="profile-image">
              <label for="profilePicInputId" class="profile-pic-sec">
                  <img id="profilePic" 
                  [src]="profilePic ||  '../../../assets/ultraagent_admin_image.png' " alt="logo" />
                  <div class="camera-icon">
                    <i class="fa fa-camera"></i>
                  </div>
              </label>
              <input id="profilePicInputId" type='file' (change)="readProfilePicURL($event)" />
              
          </div>

          <div class="col-md-8 offset-md-2">
            <div class="progress-container" *ngIf="((profilePicUpload!=undefined) && (profilePicUpload.progress != 100))">
                <div class="progress">
                    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': profilePicUpload?.progress + '%' }"></div>
                </div>
                Progress: {{profilePicUpload?.name}} | {{profilePicUpload?.progress}}% Complete
              </div>
            </div>
      </div>
      <div class="profile-form-sec">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <!--<div class="edit-profile text-right">
              <button class="edit-prifile-btn">EDIT PROFILE</button>
            </div>-->
            <form class="profile-form">
              <div class="profile-form-group">
                <div class="row">
                  <div class="col-3"><p class="">First Name</p></div>
                  <div class="col-1"><span>:</span></div>
                  <div class="col-8"><input class="" type="text" value="" [(ngModel)]="profile.firstName" name="firstName"></div>
                </div>
              </div>
              <div class="profile-form-group">
                  <div class="row">
                    <div class="col-3"><p class="">Last Name</p></div>
                    <div class="col-1"><span>:</span></div>
                    <div class="col-8"><input class="" type="text" value="" [(ngModel)]="profile.lastName" name="lastName"></div>
                  </div>
                </div>
              <div class="profile-form-group">
                <div class="row">
                  <div class="col-3"><p class="">Job Title</p></div>
                  <div class="col-1"><span>:</span></div>
                  <div class="col-8"><input type="text" value="" [(ngModel)]="profile.jobTitle" name="jobTitle"></div>
                </div>
              </div>
              <div class="profile-form-group">
                  <div class="row">
                    <div class="col-3"><p class="">City</p></div>
                    <div class="col-1"><span>:</span></div>
                    <div class="col-8"><input type="text" value="" [(ngModel)]="profile.city" name="city">
                    </div>
                  </div>
                </div>
                <div class="profile-form-group">
                    <div class="row">
                      <div class="col-3"><p class="">Address</p></div>
                      <div class="col-1"><span>:</span></div>
                      <div class="col-8"><input type="text" value="" [(ngModel)]="profile.address" name="address">
                      </div>
                    </div>
                  </div>
                  <div class="profile-form-group">
                      <div class="row">
                        <div class="col-3"><p class="">Phone</p></div>
                        <div class="col-1"><span>:</span></div>
                        <div class="col-8"><input type="text" value="" 
                          [(ngModel)]="profile.phoneNumber" name="phoneNumber" uaNumberOnly>
                        </div>
                      </div>
                    </div>
                    <div class="profile-form-group form-group-last">
                        <div class="row">
                          <div class="col-3"><p class="">Email</p></div>
                          <div class="col-1"><span>:</span></div>
                          <div class="col-8"><input type="email" value="" [(ngModel)]="profile.email" name="email" readonly>
                          </div>
                        </div>
                      </div>
  
                      <div class="ultra-agent-btn text-center">
                          <button mat-button type="submit" class="save-button" (click)="onProfileSave()">SAVE</button>
                        </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  