.admin_login{
    background-image: url(../../assets/admin_login_bg.jpg);
    background-size: cover;
}
.admin-text h1{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
}
.ultra-agent-logo{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 12px;
}
.ultra-agent-logo img{
    width: 100%;
    height: 100%;
}
.forgot_password_text{
    padding: 0 5px;
}
.forgot_password_text h4{
    padding: 10px 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.forgot_password_text p{
    color: #fff;
    font-family: Montserrat;
    /* padding: 10px; */
    letter-spacing: 1px;
    font-size: 16px;
    word-break: break-word;
}
.forgot_password_text a{
    color: #DF8C40;
}
mat-card{
    box-shadow: 0 0 60px rgba(82,113,255, .8)!important;
}
.forgot_password_card{
    width: 400px;
    margin: auto;
    background-color: #5271ff;
    border: 1px solid #fff;
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom: 100px;
}

input[type='text'], input[type='password'] {
    border-radius: 5px;
    padding: 16px 10px;
    outline: none;
    border: none;
    color: #838383;
    margin: 8px 0;
    font-size: 16px;
    color: #838383;
    letter-spacing: 1px;
}
.ultra_agent_btn{
    margin-top: 8px;
}
.margintopstyle{
    margin-top: 20px;
}
.sendcode_button{
    background-color: #DF8C40;
    color: #fff;
    padding: 8px 0px;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.login_here_button{
    padding: 30px 0;
}
.login_here_button button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
@media (max-width: 768px) {
    .forgot_password_card{
        width: 320px;
    }
    .forgot_password_img{
        left: 110px;
    }
    .forgot_password_text h4{
        font-size: 1.2rem;
    }
    .forgot_password_text p{
        font-size: 14px;
    }
}