.profile-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
}
.mat-toolbar{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}
.profile-content{
    margin: 0 40px;
    background-color: #f4f4f4;
}
.profile-background-image-sec{
    background-image: url(../../../assets/profile-bg.jpg);
    background-size: cover;
    min-height: 145px;
    position: relative;
    z-index: 1;
    margin-bottom: 25px;
}
.profile-image{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 95px;
    left: 185px;
    z-index: 2;
}
.profile-image img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    border: 5px solid #5271ff;
    cursor: pointer;
  }
.profile-pic-sec{
    position: relative;
}
.camera-icon{
    position: absolute;
    bottom: 20px;
    right: -8px;
    font-size: 16px;
    color: #fff;
    background-color: #5271ff;
    border-radius: 50%;
    padding: 3px 6px;
    cursor: pointer;
}

  .profile-image > input
{
    display: none;
}
.progress-container{
    position: absolute;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
    top:205px;
}

.profile-form{
    background-color: #fff;
    padding: 35px 35px;
    margin: 80px 0 50px;
}
.profile-form-group input:focus{
    outline: 0;
}
.profile-form-group{
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    padding: 12px 15px;
    font-weight: bold;
    min-height: 50px;
}
.profile-form-group p{
    margin-bottom: 0;
}
.profile-form-group input{
    border: 0;
    width: 100%;
    font-weight: bold;
}
.profile-form-group span{
    font-weight: normal;
}
.form-group-last{
    border-bottom: 0;
}
.edit-profile{
    padding: 25px 0;
}
.ultra-agent-btn{
    margin-top: 30px;
}

.ultra-agent-btn button{
    background-color: #DF8C40;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width: 768px){
    .profile-form{
        padding: 0;
    }
    .profile-content{
        background-color: transparent;
    }
}

