.dialog-content{
    padding: 50px 0;
}
.dialog-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 25px;
    white-space: pre-wrap;
    margin-bottom: 0;
    padding: 40px 0 20px;
}
.dialog-sub-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 17px;
    line-height: 25px;
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 0;
}
.ok-btn{
    padding: 20px 0 40px;
}
.ok-btn button{
    color: #fff;
    outline: none;
    border: 0;
    padding: 10px 50px;
    border-radius: 3px;
    background-color: #5271ff;
    box-shadow: 0 0 80px rgba(82,113,255, .4);
    cursor: pointer;
}

 .mat-dialog-title {
     margin: 0;
 } 
 .mat-dialog-content{
     margin: 0;
     padding: 0;
 } 
  