<div mat-dialog-content class="dialog-content">
  <h2 class="text-center dialog-title">{{title}}</h2>
  <h4 class="text-center dialog-sub-title">{{descr}}</h4>
    <div class="ok-btn text-center">
      <button (click)="cancelClick()">OK</button>
    </div>
  </div>

