<div class="timesheet-content">
    <mat-toolbar-row>
      <span class="timesheet-heading">Timesheet</span>
      <span class="example-spacer"></span>
      <div class="graph-image">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="timesheet-header-img">
                        <img src="../../../assets/timesheet_completed.png">
                        <p class="timesheet-count">
                            {{(blist | employertimesheetcompletedfilter).length}}
                        </p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="timesheet-header-img">
                        <img src="../../../assets/timesheet_pending.png">
                        <p class="timesheet-count">
                            {{(blist | employertimesheetpendingfilter).length}}
                        </p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="timesheet-header-img">
                        <img src="../../../assets/timesheet_disputed.png">
                        <p class="timesheet-count">
                            {{(blist | employertimesheetdisputedfilter).length}}
                        </p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="timesheet-header-img">
                        <img src="../../../assets/timesheet_thismonth.png">
                        <p class="timesheet-count">
                            +{{(blist | employertimesheetallfilter).length}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </mat-toolbar-row>
  </div>
    <div class="timesheet-tab-sec">
      <div class="clearfix">
        <div class="float-left timesheet-header-tab-sec">
            <ul class="nav nav-tabs timesheet-tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link timesheet-link workers-btn" id="All-tab" data-toggle="tab" 
                    href="#all" role="tab" aria-controls="workers" aria-selected="true" 
                    [ngClass]="{ 'active':activeTab==='all'}">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timesheet-link agents-btn" id="completed-tab" data-toggle="tab" 
                    href="#completed" role="tab" aria-controls="agents" aria-selected="false" 
                    [ngClass]="{ 'active':activeTab==='completed'}">Completed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timesheet-link agents-btn" id="pending-tab" data-toggle="tab" 
                    href="#pending" role="tab" aria-controls="companies" aria-selected="false" 
                    [ngClass]="{ 'active':activeTab==='pending'}">Pending</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link timesheet-link companies-btn" id="disputed-tab" data-toggle="tab" 
                    href="#disputed" role="tab" aria-controls="companies" aria-selected="false" 
                    [ngClass]="{ 'active':activeTab==='disputed'}">Disputed</a>
                </li>
            </ul>
        </div>
        <div class="float-right timesheet-date-sec">
            <div class="d-flex flex-row">
                <div class="select-date">Select By Date<span>:</span></div>
                <div class="calender-picker-input-sec">
                <input class="calender-picker-input" matInput [matDatepicker]="filterDatePicker" 
                placeholder="DD/MM/YYYY" 
                [(ngModel)]="filterDate" (click)="filterDatePicker.open()" uaNumberOnly>
                <mat-datepicker-toggle matSuffix [for]="filterDatePicker" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #filterDatePicker></mat-datepicker>
                </div>
            </div>
        </div>
      </div>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show" id="all" role="tabpanel" aria-labelledby="home-tab" 
        [ngClass]="{ 'active':activeTab==='all'}">
            <div class="timesheet-table">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr class="text-center table-row">
                        <th scope="col">DATE</th>
                        <th scope="col">Time<br>24 Hrs</th>
                        <th scope="col">Shift No</th>
                        <th scope="col">Location</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Fee<br>(&pound;/h)</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody class="table-body text-center">
                    <tr *ngFor="let booking of blist | employertimesheetallfilter:filterDate | employertimesheetorderfilter">
                        <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MM/yyyy'}}</td>
                        <td>{{this.Math.round(booking.workedMins/60)}}:{{booking.workedMins%60}}</td>
                        <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                        <td>{{booking.address}}</td>

                        <td>{{booking.workStartTime.toDate() | date:'HH:mm'}}</td>
                        <td>{{booking.workEndTime.toDate() | date:'HH:mm'}}</td>
                        <td><span class="pound-symbol">&pound;</span>{{booking.fee}}/h</td>                       
                        <td>{{
                            ((booking.timesheetStatus == undefined) || (booking.timesheetStatus == 'pending')) ?
                        'Pending' :  (booking.timesheetStatus == 'approved') ? 'Completed' : 'Disputed'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade show" id="completed" role="tabpanel" aria-labelledby="profile-tab" 
        [ngClass]="{ 'active':activeTab==='completed'}">
            <div class="timesheet-table">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr class="text-center table-row">
                        <th>DATE</th>
                        <th>Time<br>24 Hrs</th>
                        <th>Shift No</th>
                        <th>Location</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Fee<br>(&pound;/h)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody class="table-body text-center">
                        <tr *ngFor="let booking of blist | employertimesheetcompletedfilter:filterDate | employertimesheetorderfilter">
                            <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MM/yyyy'}}</td>
                            <td>{{this.Math.round(booking.workedMins/60)}}:{{booking.workedMins%60}}</td>
                            <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                            <td>{{booking.address}}</td>

                            <td>{{booking.workStartTime.toDate() | date:'HH:mm'}}</td>
                            <td>{{booking.workEndTime.toDate() | date:'HH:mm'}}</td>
                            <td><span class="pound-symbol">&pound;</span>{{booking.fee}}/h</td>                       
                            <td><a (click)="openCompletedViewDetailsDialog(booking)">View Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade show" id="pending" role="tabpanel" aria-labelledby="contact-tab" 
        [ngClass]="{ 'active':activeTab==='pending'}">
            <div class="timesheet-table">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr class="text-center table-row">
                        <th>DATE</th>
                        <th>Time<br>24 Hrs</th>
                        <th>Shift No</th>
                        <th>Location</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Fee<br>(&pound;/h)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody class="table-body text-center">
                        <tr *ngFor="let booking of blist | employertimesheetpendingfilter:filterDate | employertimesheetorderfilter">
                            <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MM/yyyy'}}</td>
                            <td>{{this.Math.round(booking.workedMins/60)}}:{{booking.workedMins%60}}</td>
                            <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                            <td>{{booking.address}}</td>

                            <td>{{booking.workStartTime.toDate() | date:'HH:mm'}}</td>
                            <td>{{booking.workEndTime.toDate() | date:'HH:mm'}}</td>
                            <td><span class="pound-symbol">&pound;</span>{{booking.fee}}/h</td>                       
                            <td><a (click)="openPendingViewDetailsDialog(booking)">View Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade show" id="disputed" role="tabpanel" aria-labelledby="contact-tab" 
        [ngClass]="{ 'active':activeTab==='disputed'}">
            <div class="timesheet-table">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                    <tr class="text-center table-row">
                        <th>DATE</th>
                        <th>Time<br>24 Hrs</th>
                        <th>Shift No</th>
                        <th>Location</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Fee<br>(&pound;/h)</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody class="table-body text-center">
                        <tr *ngFor="let booking of blist | employertimesheetdisputedfilter:filterDate | employertimesheetorderfilter">
                            <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MM/yyyy'}}</td>
                            <td>{{this.Math.round(booking.workedMins/60)}}:{{booking.workedMins%60}}</td>
                            <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                            <td>{{booking.address}}</td>

                            <td>{{booking.workStartTime.toDate() | date:'HH:mm'}}</td>
                            <td>{{booking.workEndTime.toDate() | date:'HH:mm'}}</td>
                            <td><span class="pound-symbol">&pound;</span>{{booking.fee}}/h</td>                       
                            <td><a (click)="openDisputedViewDetailsDialog(booking)">View Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>