<mat-toolbar class="dialog-toolbar">
  <mat-toolbar-row>
    <!-- <h3 class="toolbar-heading">NEW ROOFING SHIFT</h3> -->
    <h3 class="toolbar-heading">SHIFT NO: {{shift.subcategory}} #{{shift.shiftNo}} </h3>
    <span class="example-spacer"></span>
    <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <div class="dialog-subject">
    <div class="details_content">
      <h5 class="description-heading">Shift Description :</h5>
      <p class="description-text">
        {{shift.description}}
        </p>
    </div>
    <div class="shift-description-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold"><img src="../../../assets/calendericon-black.png">Date &amp; Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.startDateTime | date:'dd/MMM/yyyy HH:mm a'}}</div>
            </div>
          </div>
          <div class="col-md-6">
              <!-- <p><span>Duration:</span>{{shift.duration}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Duration<span> : </span></div>
              <div class="order-2 p-b breaking-word">{{shift.duration}}</div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- <p><span>Fees:</span>&pound;{{shift.fee}}</p> -->
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Fees<span>:</span></div>
                <div class="order-2 p-b breaking-word">&pound;{{shift.fee}}</div>
              </div>
            </div>
            <div class="col-md-6">
                <!-- <p><span>Needed Experience:</span> {{shift.expNeeded}}</p> -->
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Needed Experience(Years)<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{shift.expNeeded}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <!-- <p><span>Contact Person:</span> {{shift.contactpername}}</p> -->
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Contact Person<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{shift.contactpername}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{shift.phoneNumber}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- <div class="col-md-12">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{shift.phoneNumber}}</div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">City<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{shift.city}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Postcode<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{shift.postcode}}</div>
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-md-12">
                    <!-- <p><span>Location:</span>{{shift.address}}</p> -->
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Location<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{shift.address}}</div>
                </div>
              </div>
            </div>
      </div>
    </div>
    <div class="amend-approve-btn text-center">
      <button class="amend-btn" (click)="cancelClick()">CANCEL</button>
      <button class="approve-btn" (click)="addClick()">DONE</button>
    </div>
  </div>
</mat-dialog-content>
