.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 25px 30px;
}
.text-bold{
    font-size: 16px;
    font-weight: 600;
    color: #000;
 }
 .p-b{
     padding-bottom: 20px;
 }
.text-bold img{
    padding-right: 5px;
}
.text-bold span{
    padding: 0 5px;
}
.breaking-word{
    word-break: break-word;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 2px;
}
.clear-icon{
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}
.toolbar-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
}
.toolbar-subheading{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
}
.mat-toolbar-row{
    height: 30px;
}
.dialog-subject{
    padding: 30px 0px;
}
.details_content{
    background-color: #f4f4f4;
    padding: 35px 20px 35px;
    margin: 0 40px;
}
.description-heading{
    font-size: 20px;
}
.description-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
.shift-description-content{
    padding: 30px 20px 15px;
    font-size: 14px;
    font-weight: 500;
    margin: 0 20px;
}
.shift-description-content span{
    padding-right: 10px;
    font-weight: 600;
    color: #000;
}
.shift-description-content-3{
   margin-left: 20px;
}
.shift-description-content-1 span{
   margin-right: 10px;
}
.shift-description-content-2 span{
    margin-right: 10px;
 }
.underline{
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
}
.worker-details-sec{
    padding: 20px 40px;
}
.worker-details-heading{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
}
.worker-details-content-2{
    margin: 0 40px;
}
.amend-btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 9px 35px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.approve-btn{
    background-color: #5271ff;
    color: #fff;
    border-radius: 3px;
    padding: 9px 35px;
    box-shadow: 0 0 40px rgba(82,113,255, .3);
    border: 0;
    outline: none;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}