<div class="dialog-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-10">
        <h3 class="toolbar-heading">{{title}}</h3>
        <h4 class="toolbar-subheading">{{subtitle}}</h4>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>
    <div class="dialog-subject">
      <div class="details_content">
        <h5 class="description-heading">Shift Description :</h5>
        <p class="description-text">{{booking.description}}</p>
      </div>
      
      <div class="shift-description-below-content">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold"><img src="../../../assets/calendericon-black.png">Date<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shiftStartDateTime.toDate() | date:'dd/MM/yyyy'}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold"><img src="../../../assets/clockicon-black.png">Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shiftStartDateTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Duration<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.duration}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Fees<span>:</span></div>
              <div class="order-2 p-b breaking-word">&pound;{{booking.fee}}/h</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Start Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workStartTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">End Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workEndTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Contact Person<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.contactpername}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.contactphonenumber}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Location<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.address}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">City<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.city}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Status<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{status}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="underline" *ngIf="!hideProposedChangesSection"></div>
      <div class="proposed-changes-sec" *ngIf="!hideProposedChangesSection">
        <h3 class="proposed-changes-heading">PROPOSED CHANGES</h3>
        <div class="proposed-changes-content">
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Fees<span>:</span></div>
                <div class="order-2 p-b breaking-word">&pound;{{amend != undefined? amend.proposedFee: ''}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Start Time<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{amend != undefined? (amend.proposedStartTime.toDate() | date:'HH:mm a'): ''}}</div>
              </div>
             </div>
             <div class="col-md-4">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">End Time<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{amend != undefined? (amend.proposedEndTime.toDate() | date:'HH:mm a'): ''}}</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="explanation">
                  <!-- <p><span class="text-bold">Explanation :</span><br>The Worker took two beaks during the shift The first break was of 15 minutes and the second break was also 15 minutes</p> -->
                  <div class="d-flex flex-nowrap">
                    <div class="order-1 text-bold explanation-heading">Explanation<span>:</span></div>
                  </div>
                  <div class="d-flex flex-nowrap">
                    <div class="order-1 explanation-text">{{amend != undefined? amend.brief: ''}}</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="underline"></div>
      <div class="worker-details">
        <h3 class="worker-details-heading">WORKER DETAILS</h3>
        <div class="worker-details-content">
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Worker Name<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{booking.workerFirstName}} {{booking.workerLastName}}</div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{booking.workerPhoneNumber}}</div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rate-worker-sec text-center" *ngIf="!hideRateWorkerButton">
        <button class="rate-worker-btn" (click)="rateWorkerClick(booking)">{{rateworkerbtnTitle}}</button>
      </div>
      <div class="amend-approve-btn text-center" *ngIf="!hideAmendApproveButtons">
        <button class="amend-btn" (click)="amendClick()">{{amendTitle}}</button>
        <button class="approve-btn" (click)="approveClick()">{{approveTitle}}</button>
      </div>
    </div>
  </mat-dialog-content>
  