<div class="postedshifts-content">
  <mat-toolbar-row>
    <span class="postedshifts-heading" *ngIf="!hideShiftTitle">Shifts</span>
    <span class="postedshifts-heading" *ngIf="!hideNewConstructionShiftTitle">New {{shift.category}} Shift</span>
    <span class="example-spacer"></span>
    <div class="graph-image-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="shifts-header-img">
              <img src="../../../assets/totalshift_blank_img.png">
              <p class="total-shift-text">{{totalShiftCount}}</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="shifts-header-img">
              <img src="../../../assets/thismonth_blank_img.png">
              <p class="total-shift-text">+{{monthlyShiftCount}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</div>
<div class="shift-tab-sec">
  <div class="clearfix">
    <div class="float-left shift-header-tab-sec">
      <ul class="nav nav-tabs postedshifts-tab" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active postedshifts-link myshifts-btn" id="myshifts-tab" data-toggle="tab" href="#myshifts"
            role="tab" aria-controls="workers" aria-selected="true" (click)="onMyShiftsTabSelected()">My Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link postedshifts-link newshifts-btn" id="newshifts-tab" data-toggle="tab" href="#newshifts"
            role="tab" aria-controls="agents" aria-selected="false" (click)="onNewShiftTabSelected()">New Shifts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link postedshifts-link advanced-bookings-btn" id="advancebooking-tab" data-toggle="tab"
            href="#advancebooking" role="tab" aria-controls="companies" aria-selected="false"
            (click)="onAdvanceBookingsTabSelected()">Advanced Bookings</a>
        </li>
      </ul>
    </div>
    <div class="float-right shift-date-sec" *ngIf="!hideFilterDate">
      <div class="d-flex flex-row">
        <div class="select-date">Select By Date<span>:</span></div>
        <div class="calender-picker-input-sec">
          <!-- using old angular date picker -->
          <!-- <input class="calender-picker-input" matInput [matDatepicker]="filterDatePicker" 
            placeholder="DD/MM/YYYY" [(ngModel)]="filterDate">
          <mat-datepicker-toggle matSuffix [for]="filterDatePicker" class="calender-picker-bg">
            <mat-icon matDatepickerToggleIcon>
              <img src="../../../assets/calender-icon.png" class="calender-picker-image">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #filterDatePicker></mat-datepicker> -->
          <form autocomplete="off">
            <input class="calender-picker-input" matInput [owlDateTime]="filterDatePicker" [(ngModel)]="filterDate"
              name="shiftdate" placeholder="DD/MM/YYYY" (click)="filterDatePicker.open()" uaNumberOnly>
          </form>
          <span [owlDateTimeTrigger]="filterDatePicker" class="custom-date-picker">
            <mat-icon matDatepickerToggleIcon>
              <img src="../../../assets/calender-icon.png" class="calender-picker-image">
            </mat-icon>
          </span>
          <owl-date-time [pickerType]="'calendar'" #filterDatePicker></owl-date-time>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="myshifts" role="tabpanel" aria-labelledby="home-tab">
      <div class="postedshifts-table">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr class="text-center table-row">
              <th>Date &amp; Time</th>
              <th>Shift No</th>
              <th>Location</th>
              <th>Fee<br>(&pound;/h)</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody class="table-body text-center">
            <tr *ngFor="let shift of shiftslist | shiftsmyfilter:filterDate | orderby">
              <td>{{shift.startDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
              <td>{{shift.subcategory}} #{{shift.shiftNo}}</td>
              <td>{{shift.address}}</td>
              <td><span class="pound-symbol">&pound;</span>{{shift.fee}}</td>
              <td>
                <div class="dropdown action-dropdown">
                  <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action<span>&#9662;</span>
                  </a>
                  <div class="dropdown-menu action-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item action-item" (click)="openViewDetailsDialog(shift)">
                      View Details</a>
                    <!-- <span class="dropdown-item action-item" 
                      (click)="openViewWorkersDetailsDialog(shift)">View Worker Details</span> -->
                    <a class="dropdown-item action-item" (click)="openEditShiftDialog(shift)">Edit</a>
                    <a class="dropdown-item action-item" (click)="openDeleteShiftDialog(shift)">
                      Delete Shift</a>
                  </div>
                </div>
              </td>
            </tr>
            <!-- <h3>{{ shiftslist.length | number }}</h3> -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="newshifts" role="tabpanel" aria-labelledby="profile-tab">
      <div class="new-shift-sec">
        <div class="container">
          <form class="form-container">
            <div class="form-row">
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputcategory">Category</label>
                <select id="shiftcategory" class="form-control form-control-bg dropdown-cursor" name="shiftcategory"
                  [(ngModel)]="shift.category" (ngModelChange)="onCategoryChange($event)" disabled>
                  <option [value]="i" *ngFor="let i of categories">{{i}}</option>
                </select>
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputPassword4">Sub Category</label>
                <select id="shiftsubcategory" class="form-control form-control-bg dropdown-cursor"
                  name="shiftsubcategory" [(ngModel)]="shift.subcategory">
                  <option [value]="i" *ngFor="let i of subcategories">{{i}}</option>
                </select>
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputPassword4">Duration</label>
                <!-- <input type="text" class="form-control" id="shiftduration" 
                    placeholder="Duration" aria-label="Duration" [(ngModel)]="shift.duration" 
                    name="shiftduration"
                    [ngxTimepicker]="durationTimePicker" [format]="24" readonly>
                    <ngx-material-timepicker #durationTimePicker></ngx-material-timepicker> -->



                <div class="row">
                  <div class="col-md-4 pr-1">
                    <select id="durationhh" class="form-control form-control-bg dropdown-cursor" name="durationhh"
                      [(ngModel)]="shift.durationHH">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>
                  <div class="col-md-2 p-0">Hrs</div>
                  <div class="col-md-4 pr-1">
                    <select id="durationmm" class="form-control form-control-bg dropdown-cursor" name="durationmm"
                      [(ngModel)]="shift.durationMM">
                      <option value="00">0</option>
                      <option value="01">1</option>
                      <option value="02">2</option>
                      <option value="03">3</option>
                      <option value="04">4</option>
                      <option value="05">5</option>
                      <option value="06">6</option>
                      <option value="07">7</option>
                      <option value="08">8</option>
                      <option value="09">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="45">45</option>
                      <option value="46">46</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                      <option value="50">50</option>
                      <option value="51">51</option>
                      <option value="52">52</option>
                      <option value="53">53</option>
                      <option value="54">54</option>
                      <option value="55">55</option>
                      <option value="56">56</option>
                      <option value="57">57</option>
                      <option value="58">58</option>
                      <option value="59">59</option>
                    </select>
                  </div>
                  <div class="col-md-2 p-0">Mins</div>
                </div>

              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="shiftdate">Start Date & Time</label>

                <div class="calender-picker-input-sec">

                  <!-- using Angular material date picker -->
                  <!-- <input class="calender-picker-input" matInput [matDatepicker]="newShiftDatePicker" 
                    placeholder="DD/MM/YYYY" [(ngModel)]="newShiftDateFromPicker" name="shiftdate" 
                    (click)="newShiftDatePicker.open()" readonly>
                  <mat-datepicker-toggle matSuffix [for]="newShiftDatePicker" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #newShiftDatePicker></mat-datepicker>  -->

                  <!-- using date & time picker -->
                  <input class="calender-picker-input" matInput [owlDateTime]="newShiftDatePicker"
                    [owlDateTimeTrigger]="newShiftDatePicker" [min]="minShiftStartTime"
                    [(ngModel)]="newShiftDateFromPicker" name="shiftdate" placeholder="DD/MM/YYYY" readonly>
                  <span [owlDateTimeTrigger]="newShiftDatePicker" class="custom-date-picker">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </span>
                  <owl-date-time #newShiftDatePicker></owl-date-time>

                </div>
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputPassword4">Fee (&pound;/h)</label>
                <input type="text" id="shiftfee" class="form-control" placeholder="" [(ngModel)]="shift.fee"
                  name="shiftfee" minLength="1" maxLength="3" uaNumberOnly>
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputcategory">Contact Person</label>
                <input type="text" class="form-control" id="shiftcontactperson" placeholder=""
                  [(ngModel)]="shift.contactpername" name="shiftcontactperson">
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputPassword4">Phone Number</label>
                <input type="text" class="form-control" id="shiftphone" placeholder="" [(ngModel)]="shift.phoneNumber"
                  name="shiftphone" uaNumberOnly>
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputPassword4">Address</label>
                <label for="inputPassword4" class="float-right"><span class="view-map"
                    (click)="openLocationLookupDialog()">View Map</span></label>
                <input type="text" class="form-control" id="shiftaddress" placeholder="" [(ngModel)]="shift.address"
                  name="shiftaddress">
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="postCode">Postcode</label>
                <input type="text" class="form-control" id="postcode" placeholder="" [(ngModel)]="shift.postcode"
                  name="postcode">
              </div>
              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="inputCity">City</label>
                <select id="inputCity" class="form-control form-control-bg dropdown-cursor" name="inputCity"
                  [(ngModel)]="shift.city">
                  <!-- <option selected>City</option> -->
                  <!-- <option value="London">London</option>
                  <option value="Birmingham">Birmingham</option>
                  <option value="Leeds">Leeds</option>
                  <option value="Glasgow">Glasgow</option>
                  <option value="Sheffield">Sheffield</option>
                  <option value="Bradford">Bradford</option> -->

                  <option *ngIf="shift.city == undefined || shift.city.length < 1" disabled selected value> Select City
                  </option>
                  <option *ngFor="let aSel of citySelectionData" value="{{aSel.city}}" [disabled]="aSel.city===''">
                    {{aSel.display}}</option>

                </select>
              </div>

              <div class="form-group col-md-4 col-sm-6 col_max_width">
                <label for="experience">Experience Needed (Years)</label>
                <select id="inputExp" class="form-control form-control-bg" name="inputExp"
                  [(ngModel)]="shift.expNeeded">
                  <!-- <option selected>Experience In Years</option> -->
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                </select>
                <!-- <input type="text" id="experience"  class="form-control  form-control-bg" 
                    placeholder="" [(ngModel)]="shift.expNeeded" name="experience"
                    minLength="1" maxLength="2" uaNumberOnly> -->
              </div>
            </div>
            <div class="form-row">
              <div class="form-group shift-description col-md-8 col-sm-6">
                <label for="inputCity">Shift Description</label>
                <textarea class="form-control form-control-bg" rows="3" id="shiftdesc" [(ngModel)]="shift.description"
                  name="shiftdesc"></textarea>
              </div>
            </div>
            <div class="add-button text-center">
              <button type="submit" class="btn" (click)="openDialog()">ADD</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="advancebooking" role="tabpanel" aria-labelledby="contact-tab">
      <div class="postedshifts-table">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr class="text-center table-row">
              <th>Date &amp; Time</th>
              <th>Shift No</th>
              <th>Location</th>
              <th>Fee<br>(&pound;/h)</th>
              <th>ACTION</th>
            </tr>
          </thead>
          <tbody class="table-body text-center">
            <tr *ngFor="let shift of shiftslist | orderby
            ">
              <td>{{shift.startDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
              <td>{{shift.subcategory}} #{{shift.shiftNo}}</td>
              <td>{{shift.address}}</td>
              <td><span class="pound-symbol">&pound;</span>{{shift.fee}}</td>
              <td>
                <div class="dropdown action-dropdown">
                  <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Action<span>&#9662;</span>
                  </a>
                  <div class="dropdown-menu action-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item action-item" (click)="openViewAdvanceBookingDetailsDialog(shift)">
                      View Details</a>
                    <a class="dropdown-item action-item" (click)="openAdvanceBookingEditDialog(shift)">Edit</a>
                    <a class="dropdown-item action-item" (click)="openDeleteShiftDialog(shift)">
                      Delete Shift</a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>