.example-spacer {
    flex: 1 1 auto;
  }
.postedshifts-content{
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0;
}
.postedshifts-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
    padding-left: 24px;
}
.new-registration-heading{
    font-size: 12px;
    color: #a4a4a4;
    font-weight: 400;
    line-height: 5px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
}
.action-menu{
    background-color: #9e9e9e;
    min-width: 5rem;
    margin-right: 10px;
}
.action-item{
    color: #fff;
    font-size: 14px;
}

.action-dropdown{
    cursor: pointer;
    color: #DF8C40;
}
.postedshifts-tab{
    border: 0;
    /* padding: 15px 0; */
}
.shift-header-tab-sec{
    padding: 18px 0 15px 0px;
}
.postedshifts-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 20px;
    text-align: center;
    margin-left: 1px;
}
.postedshifts-link.active{
    color: #fff;
    background-color: #5271ff;
}
.postedshifts-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.myshifts-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.newshifts-btn{
    border-radius: 0;
}
.advanced-bookings-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.tab-input{
    padding: 15px 0;
} 

/*.tab-input input[type='text'] {
    background-image: url(../../../assets/calender-icon.png);
    background-position: 208px 6px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 14px;
    width: 240px;
    border: 1px solid #d2d1d1;
}*/
.shifts-header-img{
    position: relative;
}
.total-shift-text{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.select-date{
    padding: 5px 0;
}
.select-date span{
    padding: 0 5px;
}
.shift-date-sec{
    padding: 15px 15px 15px 0;
}
.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #d2d1d1;
}
.calender-picker-input-sec{
    position: relative;
    /* width: 240px; */
}
.custom-date-picker{
    position: absolute;
    right: 5px;
    bottom: 4px;
    cursor: pointer;
}
.calender-picker-image{
    vertical-align: top;
}
.mat-icon-button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.calender-picker-bg{
    position: absolute;
    right: 0;
}

.shift-tab-sec{
    margin: 0 15px 30px 30px;
}

.table-striped tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff;
    border: 0;
}
.table-row{
    background-color: #f4f4f4;
}
.table-row th{
    font-size: 14px;
    font-weight: 700;
}
.table-body td{
   font-size: 14px;
   color: #a6a6a6;
   padding: 13px 0;
   border-top: 0;
}
.postedshifts-table{
    overflow-x: auto;
}
.table-bordered th{
    border-bottom: 0;
}
.table td{
    border-top: 0;
    border-bottom: 0;
    padding: 15px 20px;
}
.dropdown-menu.action-dropdown-menu{
    padding: 0;
    background-color: red;
}
.mat-toolbar-row{
  padding: 0 24px 0 0;
}
.shifts-image span{
   margin-left: 50px;
}
.add-button button{
    background-color: #DF8C40;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 30px;
}

.view-map{
    color: #DF8C40;
    font-size: 14px;
    padding-right: 5px;
    cursor: pointer;
}

.form-group input{
    background-color: #efefef;
}
.shift-description input{
    height: 100px;
    width: 615px;
}
.date-form input{
    background-image: url(../../../assets/calender-icon.png);
    background-position: 240px 5px;
    background-repeat: no-repeat;
}
.form-group{
    position: relative;
    margin-bottom: 0;
    padding: 0 15px 30px;
}
.plumbing-dropdown-icon{
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 275px;
    right: 0;
    font-size: 20px;
}
.form-control-bg{
    background-color: #efefef;
    border: 1px solid #d2d1d1;
    resize: none;
}

.no-padding{
    padding-left: 0;
}
.new-shift-sec{
    background-color: #f9f9f9;
    padding: 30px 20px;
}
.dropdown-cursor{
    cursor: pointer;
}
.action-menu a{
    color: #fff;
    font-size: 14px;
}
.action-menu a:hover {
    background-color: rgba(0,0,0,.5);
}
.action-dropdown span{
    font-size: 16px;
    margin-left: 5px;
    color: #9e9e9e;
}
.dropdown-toggle::after {
    display: none;
}
.pound-symbol{
    padding-right: 5px;
}


@media (max-width: 1066px) and (min-width: 768px){
    .col_max_width{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 1120px) {
    .shift-header-tab-sec{
        float: none !important;
    }
    .shift-date-sec{
        float: none !important;
        padding: 15px 15px 15px 0;
    }
}
@media (max-width: 768px) {
    .new-shift-sec{
        padding: 20px;
    }
    .mat-toolbar-row{
        height: 100px;
    }
    .shifts-header-img{
        text-align: right;
        padding: 5px 0;
    }
    .container{
        max-width: 100%;
    }
    .shift-tab-sec{
        margin: 20px;
    }
    .postedshifts-link {
        padding: 8px 11px;
    }
    
 }