  <mat-toolbar-row class="dialog-toolbar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-4 no-padding worker-col">
          <div class="worker-image">
              <!-- <img [src]="company.profilePicture != undefined? company.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
              <img [src]="company.profilePicture != undefined? company.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            <div class="admin-online">
              <img src="../../../assets/onlinesymbol.png">
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-8 col-8 no-padding">
          <div class="worker-name-address">
            <h3>{{company.name}}</h3>
            <p>{{company.city}}</p>
          </div>
        </div>
      </div>
    </div>
    <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
  </mat-toolbar-row>
  <mat-dialog-content>
    <div id="companyPrintableContainerId">
      <div class="dialog-subject">
        <div class="worker_detail">
          <div class="row">
            <!-- <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Worker Profession<span>:</span></div>
                <div class="order-2 p-2 breaking-word">{{profile.wProfession}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Total Shifts<span>:</span></div>
                <div class="order-2 p-2 breaking-word">1000</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Rating<span>:</span></div>
                <div class="order-2 p-2 breaking-word">5.0(500 review)</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Booking<span>:</span></div>
                <div class="order-2 p-2 breaking-word">10</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Pending<span>:</span></div>
                <div class="order-2 p-2 breaking-word">20</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Dispute<span>:</span></div>
                <div class="order-2 p-2 breaking-word">2</div>
              </div>
            </div> -->
            <div class="col-md-7">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Email<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{company.email}}</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Phone No<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{company.phoneNumber}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">City<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{company.city}}</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Registration No<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{company.regdNumber}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Address<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{company.address}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="personal-description">
          <h3 class="personal-description-heading text-center">Company Brief Description</h3>
          <p class="personal-description-text">{{company.descr}}</p>
        </div>
        <div class="shifts">
          <h3 class="shifts-heading text-center">Shifts</h3>
          <div class="row">
            <div class="col-md-7">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Total Shifts<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{totalShiftCount}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Bookings<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{bookingCount}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Experience<span>:</span></div>
                <div class="order-2 p-b breaking-word">1 year</div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Pending<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{pendingCount}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Dispute<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{openDisputeCount + closeDisputeCount}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Completed Shifts<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{completedCount}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="document-sec" *ngIf="(company != undefined) && (company.documents != undefined)">
          <h3 class="document-heading text-center">Documents</h3>
          <div class="row" *ngFor="let aDoc of company.documents">
            <!-- <div class="col-md-6 col-sm-6 col-6">
              <div class="document-data-text">
                <p>Company Profile.pdf</p>
                <p>Company Files.zip</p>
              </div>
            </div> -->
            <!-- <div class="col-md-6 col-sm-6 col-6">
              <div class="document-data-download">
                <p><a href="#">Download</a></p>
                <p><a href="#">Download</a></p>
              </div>
            </div> -->
            <div class="col-6">
              <p class="document-content-1">{{aDoc.name == undefined? '': aDoc.name}}</p>
            </div>
            <div class="col-6">
              <p class="document-content-2"><a href="{{aDoc.url}}" target="_blank" download>Download</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="print-pdf-sec d-flex justify-content-center">
          <div class="button-content-1" style="padding-right:5px;">
              <span><img src="../../../assets/printicon.png"></span><button class="print-btn print-pdf-btn" (click)="generatePrint()">Print</button>
          </div>
          <div class="button-content-2" style="padding-left:5px;">
              <span><img src="../../../assets/pdficon.png"></span><button class="pdf-btn print-pdf-btn" (click)="generatePDF()">Generate PDF</button>
            </div>
        </div> -->
        <div class="deletesuspendCompany text-center">
          <span><button (click)="suspendButtonClicked()">Suspend Company</button></span>
          <span><button (click)="deleteButtonClicked()">Delete Company</button></span>
        </div>
      </div>
    </div>
</mat-dialog-content>