mat-sidenav-container{
    position: static !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
}
.sidenav {
  width: 280px;
  overflow: hidden;
  background-color: #5271ff;
  padding: 50px 0 0 0;
  position: fixed;
  overflow-y: auto;
}
.underline{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 2px;
  background-color: rgba(108, 134, 251, 0.5);
}
/*.sidenav:hover {
  overflow-y:scroll;
  transition-delay: 0.2s;
}*/
:host /deep/ .mat-list-item-content {
  padding: 0!important;
}
mat-toolbar.tool-nav {
  background-color: #f4f4f4;
  border-bottom: 3px solid #e2e2e2;
  padding-top: 40px;
  padding-bottom: 40px;
}
.top-workers-details{
  padding: 5px 0 10px 20px;
}
.admin-image{
  width: 60px;
  height: 60px;
  position: relative;
}
.admin-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.admin-online{
  width: 25px;
  height: 30px;
  position: absolute;
  top: 25px;
  left: 45px;
}
.admin-online img{
  width: 100%;
  height: 100%;
}
.nav-list-item{
  padding: 10px 0;
}
/*.admin-intro{
  margin-left: 20px;
  margin-top: 10px;
  line-height: 5px;
}*/
.employer-name{
  color: #fff;
  font-family: Montserrat;
  font-weight: 200;
  word-wrap: break-word;
}
.employer-name::first-letter {
  text-transform: uppercase;
}
.ultra-agent-employer-text{
  color: #b0bec5;
  font-family: Montserrat;
  font-size: 14px;
  word-wrap: break-word;
}
.topbar-button-right{
  padding-left: 10px;
}
.btn-img{
  width: 40px;
  height: 40px;
}
.btn-img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inline{
  display: inline-block;
}

mat-expansion-panel.expansion-pannel{
  box-shadow: 0 0 0 0;
}
mat-expansion-panel-header.expansion-header{
  padding: 0 24px 0 0;
}
.example-spacer{
  flex: 1 1 auto;
}

.notification-btn{
  margin: 12px 0 0;
  color: #000;
  padding-right: 20px;
}
.mat-badge-warn .mat-badge-content{
  background-color: #DF8C40 !important;
}
.mat-expansion-panel-body.expansion-panel-body{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 0;
}
.toggle-btn{
  color: #000;
}
.tagatool-toggle-btn:focus {
  outline: none;
}
.topbar-button-right:focus {
  outline: none;
}

.sidenav-hold  a {
  /*height: 48px;*/
  color: #fff;
  padding: 10px 0 10px 20px;
}
.sidenav-hold a .mat-icon{
  text-align: center;
  margin-right: 3px;
  height: 48px;
  width: 48px;
  line-height: 48px;
  border-left: 3px solid;
  border-color: transparent;
}
.sidenav-hold a img{
  width: 30px;
  height: 30px;
}

.sidenav-hold .mat-list .mat-list-item .mat-list-item-content{
  padding: 0;
}

.mat-list .mat-list-item .mat-list-item-content{
  padding: 0 0;
}
.sidenav-hold mat-list-item a:hover{
  background-color: rgba(255, 255, 255, 0.33);
  color: #fff;
  text-decoration: none;
}
.sidenav-hold mat-list-item a.active{
  background-color: rgb(108, 134, 251);
  border-left: 4px solid #DF8C40 !important;
  color: #fff;
  padding: 10px 0 10px 16px;
}

mat-list-item.list_item{
  padding-left: 0px !important;
}
.mat-drawer-container{
  background-color: #fff !important;
}

.top-search-form{
  position: relative;
  background: transparent;
  border-radius: 30px;
  display: block;
  border: 1px solid #ccc;
  margin: 0 10px;
}
.top-search-form .material-icons {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
  color: #5a5a5a;
}
.top-search-form input {
  font-size: 1rem;
  padding: 0.2rem 2.5rem 0.2rem 0.75rem;
  z-index: 2;
  cursor: text;
  border: none;
  background: 0 0;
  width: 300px;
  outline: 0;
}
::placeholder{
  color: #8b8b8b;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: Montserrat;
  font-weight: 500;
}
.menu-item-img{
  cursor: pointer;
}
.notification-bell-image img{
  margin-bottom: 30px;
}
.shifts-number{
  font-size: 12px;
  font-family: Montserrat;
  background-color: #DF8C40;
  padding: 1px 13px;
  border-radius: 10px;
  margin-top: 5px;
  margin-right: 20px;
}
.tagatool-toggle-btn{
  cursor: pointer;
}
.list-item-text{
  padding-left: 10px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
} 
.employer-name::first-letter {
  text-transform: uppercase;
}
.ultra-agent-employer-text::first-letter {
  text-transform: uppercase;
}
.dropdown-toggle::after {
  display:none;
}
.profile-btn{
  background-color: transparent;
}
.profile-btn:active,
.profile-btn:focus,
.profile-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
}

.profile-dropdown-menu .dropdown-item{
  border: 0;
  color: #5271ff;
  background-color: transparent;
  padding-left: 15px;
}
.profile-dropdown-menu .dropdown-item:hover {
  background-color: #e2e2e2;
}
.profile-dropdown-menu .dropdown-item span{
  padding-right: 10px;
}
.profile-dropdown-menu{
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  margin-right: 15px;
  margin-top: 10px;
  min-width: 30px;
}
.profile-dropdown-menu::after{
  content: '';
  position: absolute;
  left: 72%;
  bottom: 100%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  clear: both;
}


@media screen and (max-width: 768px) {
  .top-search-form input {
    width: 180px;
  }
}