<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
      <div class="top-workers-details">
        <div class="container">
          <div class="row">
            <div class="col-4">
              <div class="admin-image">
                <img [src]="this.authService.loggedInProfile.profilePicture != undefined? this.authService.loggedInProfile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' ">
                <div class="admin-online">
                  <img src="../../../assets/onlinesymbol.png">
                </div>
              </div>
            </div>
            <div class="col-8">
              <div class="admin-intro">
                <h4 class="employer-name">{{profile.firstName+' '+profile.lastName}}</h4>
                <p class="ultra-agent-employer-text">
                  {{company.name}} 
                  <!-- {{profile.profileType == 'companyadmin' ?' - Admin':''}} -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="sidenav-hold">
      <mat-list role="list">
          <mat-list-item role="listitem" class="ultra-agent-list-item">
              <a matLine href="" routerLink="/employer_dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                <img src="../../../assets/dashboardicon.png" alt="Photo">
                <span class="list-item-text">Dashboard</span>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="ultra-agent-list-item"
            *ngIf="(profile.profileType == 'companyadmin') ? true : (profile.permsShifts == true)">
              <a matLine href="" routerLink="/posted_shifts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                <img src="../../../assets/shiftsicon.png" alt="Photo">
                <span class="list-item-text">Posted Shifts</span>
                <!-- <span class="shifts-number float-right">32</span> -->
              </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="ultra-agent-list-item"
            *ngIf="(profile.profileType == 'companyadmin') ? true : (profile.permsBookings == true)">
              <a matLine href="" routerLink="/bookings" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                <img src="../../../assets/registrationicon.png" alt="Photo">
                <span class="list-item-text">Bookings</span>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="ultra-agent-list-item"
            *ngIf="(profile.profileType == 'companyadmin') ? true : (profile.permsTimesheets == true)">
              <a matLine href="" routerLink="/employer_timesheet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                <img src="../../../assets/timesheeticon.png" alt="Photo">
                <span class="list-item-text">TimeSheet</span>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="ultra-agent-list-item"
            *ngIf="(profile.profileType == 'companyadmin') ? true : (profile.permsUsers == true)">
              <a matLine href="" routerLink="/workers" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                <img src="../../../assets/usersicon.png" alt="Photo">
                <span class="list-item-text">Workers</span>
              </a>
          </mat-list-item>
          <mat-list-item role="listitem" class="ultra-agent-list-item">
              <a matLine href="" routerLink="/employer_report" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                <img src="../../../assets/employer-reporticon.png" alt="Photo">
                <span class="list-item-text">Reports</span>
              </a>
          </mat-list-item>
      </mat-list>

    </div>
    <div class="underline"></div>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="tool-nav">
          <!--<button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="sidenav.toggle()" aria-expanded="false" class="tagatool-toggle-btn">
            <mat-icon aria-label="Side nav toggle icon" class="toggle-btn" fxShow.sm="true" fxShow.gt-sm="false">
              menu
            </mat-icon>
          </button>-->
          <div class="menu-item-img" aria-label="Toggle sidenav"
            
            (click)="sidenav.toggle()" aria-expanded="false" class="tagatool-toggle-btn">
              <img src="../../../assets/hamburgericon.png">
            </div>
          <span class="example-spacer"></span>
          <!--<form class="top-search-form">
              <input placeholder="Search Something..." type="text">
              <mat-icon aria-hidden="true">search</mat-icon>
            </form>
          <button mat-icon-button class="topbar-button-right">
            <div class="notification-btn">
             <mat-icon matBadge="5" matBadgePosition="above after" matBadgeColor="warn"><span class="example-fill-remaining-space">notifications</span></mat-icon>
            </div>
          </button>-->
          <form class="top-search-form">
            <input placeholder="Search Something..." type="text" name="searchword" [(ngModel)]="searchword" 
            (ngModelChange)="searchWordUpdated()">
            <mat-icon aria-hidden="true">search</mat-icon>
          </form>
        <button mat-icon-button class="topbar-button-right">
          <div class="notification-btn" (click)="notificationClick()">
           <mat-icon matBadge="{{unreadNoticesCount == 0? '':unreadNoticesCount}}" matBadgePosition="above after" matBadgeColor="warn">
             <span class="example-fill-remaining-space notification-bell-image">
               <img src="../../../assets/notification-bell-icon.png">
              </span>
            </mat-icon>
          </div>
        </button>
          <!--<button class="topbar-button-right img-button mat-icon-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <div class="btn-img">
              <img src="../../../assets/ultraagent_admin_image.png">
            </div>
          </button>
          <mat-menu #menu="matMenu">
              <a routerLink="/profile_for_employer"><button mat-menu-item><span><img src="../../../assets/profileicon.png"></span>Profile</button></a>
              <a routerLink="/settings"><button mat-menu-item><span><img src="../../../assets/settingicon.png"></span>Settings</button></a>
              <a><button mat-menu-item (click)="clickOnLogOut()"><span><img src="../../../assets/logouticon.png"></span>Log Out</button></a> 
          </mat-menu>-->
          <div class="dropdown">
            <button class="btn profile-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="btn-img">
                  <img [src]="this.authService.loggedInProfile.profilePicture != undefined? this.authService.loggedInProfile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' ">
                </div>
            </button>
            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/profile_for_employer"><span><img src="../../../assets/profileicon.png"></span>Profile</a>
              <a class="dropdown-item" routerLink="/settings"><span><img src="../../../assets/settingicon.png"></span>Settings</a>
              <a class="dropdown-item" routerLink="" (click)="clickOnLogOut()"><span><img src="../../../assets/logouticon.png"></span>Log Out</a>
            </div>
          </div>
        </mat-toolbar>
    <div class="right-side-content">
        <!-- <div class="row" *ngIf="message.getValue() != null">
          <div style="margin-left: 20px;">
            {{ message.getValue().notification.title }}
          </div>
        </div> -->
      <router-outlet></router-outlet>  
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

 