<div class="timesheet-content">
    <mat-toolbar-row>
      <span class="timesheet-heading">Timesheet</span>
      <span class="example-spacer"></span>
      <div class="text-center">
        <div class="pending-paid-shifts" *ngIf="!hidePendingShiftCountTitle">
          <span class="pending-paid-shifts-heading">Pending Shifts</span>
          <p class="number">{{(blist | admintimesheetpendingfilter).length}}</p>
        </div>
        <div class="pending-paid-shifts" *ngIf="!hidePaidShiftCountTitle">
          <span class="pending-paid-shifts-heading">Paid Shifts</span>
          <p class="number">{{(blist | admintimesheetpaidfilter).length}}</p>
        </div>
      </div>
    </mat-toolbar-row>
  </div>
    <div class="timesheet-tab-sec">
      <div class="clearfix">
        <div class="tab-shift-content float-left">
          <ul class="nav nav-tabs timesheet-tab" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link timesheet-link tab-first-btn" id="pending-tab" 
              data-toggle="tab" href="#pending" role="tab" aria-controls="pending" 
              aria-selected="true" (click)="onPendingTabSelected()" 
              [ngClass]="{ 'active':activeTab==='pending'}">Pending</a>
            </li>
            <li class="nav-item">
              <a class="nav-link timesheet-link tab-last-btn" id="paid-tab" 
              data-toggle="tab" href="#paid" role="tab" aria-controls="paid" 
              aria-selected="false" (click)="onPaidTabSelected()" 
              [ngClass]="{ 'active':activeTab==='paid'}">Paid</a>
            </li>
          </ul>
        </div>
        <div class="select-by-date float-right">
          <div class="d-flex flex-row">
            <div class="select-date">Select By Date<span>:</span></div>
            <div class="calender-picker-input-sec">
                <input class="calender-picker-input" matInput [matDatepicker]="filterDatePicker" placeholder="DD/MM/YYYY" [(ngModel)]="filterDate" (click)="filterDatePicker.open()">
                <mat-datepicker-toggle matSuffix [for]="filterDatePicker" class="calender-picker-bg">
                  <mat-icon matDatepickerToggleIcon>
                    <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                  </mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #filterDatePicker></mat-datepicker>
              </div>
          </div>
        </div>
      </div>
      
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show" id="pending" role="tabpanel" aria-labelledby="home-tab" 
        [ngClass]="{ 'active':activeTab==='pending'}">
          <div class="timesheet-table">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr class="text-center table-row">
                    <th>DATE</th>
                    <th>SHIFT NO</th>
                    <th>EMPLOYEE FEE(&pound;)</th>
                    <th>WORKER FEE(&pound;)</th>
                    <th>UA MARGINS(&pound;)</th>
                    <th>DETAILS</th>
                  </tr>
                </thead>
                <tbody class="table-body text-center">
                  <tr *ngFor="let booking of blist | admintimesheetpendingfilter:filterDate | adminbookingsorderfilter:sortKey">
                    <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                    <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                    <td>&pound;{{booking.calculatedEmployerFee}}</td>
                    <td>&pound;{{booking.calculatedWorkerFee}}</td>
                    <td>&pound;{{booking.calculatedUAMargin}}</td>
                    <td><a (click)="openPendingDetailsDialog(booking)">Details</a></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade show" id="paid" role="tabpanel" aria-labelledby="contact-tab" 
        [ngClass]="{ 'active':activeTab==='paid'}">
          <div class="timesheet-table">
            <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr class="text-center table-row">
                        <th>DATE</th>
                        <th>SHIFT NO</th>
                        <th>EMPLOYEE FEE(&pound;)</th>
                        <th>WORKER FEE(&pound;)</th>
                        <th>UA MARGINS(&pound;)</th>
                        <th>DETAILS</th>
                    </tr>
                  </thead>
                  <tbody class="table-body text-center">
                    <tr *ngFor="let booking of blist | admintimesheetpaidfilter:filterDate | adminbookingsorderfilter:sortKey">
                      <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                      <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                      <td>&pound;{{booking.calculatedEmployerFee}}</td>
                      <td>&pound;{{booking.calculatedWorkerFee}}</td>
                      <td>&pound;{{booking.calculatedUAMargin}}</td>
                      <td><a (click)="openPaidDetailsDialog(booking)">Details</a></td>
                    </tr>
                  </tbody>
                 
            </table>
          </div>
        </div>
      </div>
      <!--<mat-toolbar-row>
        <span class="example-spacer"></span>
        <div class="pagination-sec">
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item regn-page-item disabled">
                    <a class="page-link page-link-text" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item active regn-page-item"><a class="page-link page-link-number">1 <span class="sr-only">(current)</span></a></li>
                  <li class="page-item regn-page-item">
                    <a class="page-link page-link-number">2</a>
                  </li>
                  <li class="page-item regn-page-item"><a class="page-link page-link-number">3</a></li>
                  <li class="page-item regn-page-item"><a class="page-link page-link-number">4</a></li>
                  <li class="page-item regn-page-item disabled">
                    <a class="page-link page-link-text">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
      </mat-toolbar-row>-->
    </div>