<div class="worker-advance-booking-sec">
  <mat-toolbar>
    <h4 class="advance-booking-heading">Advance Booking</h4>
  </mat-toolbar>
  <div class="advance-booking-subheading">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-12">
          <!-- <h5 class="advance-booking-subheading-1">Name : {{workerFirstName}} {{workerLastName}}</h5> -->
          <div class="d-flex flex-row advance-booking-subheading-1">
            <div class="p-2">Name<span>:</span></div>
            <div class="p-2">{{workerFirstName}} {{workerLastName}}</div>
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-12">
          <!-- <h5>Work Number : {{workerNumber}}</h5> -->
          <div class="d-flex flex-row advance-booking-subheading-2">
            <div class="p-2">Work Number<span>:</span></div>
            <div class="p-2">{{workerNumber}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="advance-booking-form">
    <form class="form-container">
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputcategory">Category</label>
          <select id="advanceBookingcategory" class="form-control form-control-bg dropdown-cursor"
            name="advanceBookingcategory" [(ngModel)]="shift.category" disabled>
            <option [value]="i" *ngFor="let i of categories">{{i}}</option>
          </select>
        </div>
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputsubcategory">Sub Category</label>
          <select id="advanceBookingsubcategory" class="form-control form-control-bg dropdown-cursor"
            name="advanceBookingsubcategory" [(ngModel)]="shift.subcategory" disabled>
            <option [value]="i" *ngFor="let i of subcategories">{{i}}</option>
          </select>
        </div>

        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputPassword4">Duration</label>
          <!-- <input type="text" class="form-control" id="advanceBookingduration" 
                    placeholder="Duration" aria-label="Duration" [(ngModel)]="shift.duration" 
                    name="advanceBookingduration"
                    [ngxTimepicker]="durationTimePicker" [format]="24" readonly>
                    <ngx-material-timepicker #durationTimePicker></ngx-material-timepicker> -->
          <div class="row">
            <div class="col-md-4 pr-1">
              <select id="durationhh" class="form-control form-control-bg dropdown-cursor" name="durationhh"
                [(ngModel)]="shift.durationHH">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
            </div>
            <div class="col-md-2 p-0">Hrs</div>
            <div class="col-md-4 pr-1">
              <select id="durationmm" class="form-control form-control-bg dropdown-cursor" name="durationmm"
                [(ngModel)]="shift.durationMM">
                <option value="00">0</option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
              </select>
            </div>
            <div class="col-md-2 p-0">Mins</div>
          </div>
        </div>
        <!-- </div> -->
        <!-- <div class="form-row"> -->
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="shiftdate">Start Date & Time</label>
          <div class="calender-picker-input-sec">
            <!-- using date & time picker -->
            <input class="calender-picker-input" matInput [owlDateTime]="newShiftDatePicker"
              [owlDateTimeTrigger]="newShiftDatePicker" [min]="minShiftStartTime" [(ngModel)]="newShiftDateFromPicker"
              name="shiftdate" placeholder="DD/MM/YYYY" readonly>
            <span [owlDateTimeTrigger]="newShiftDatePicker" class="custom-date-picker">
              <mat-icon matDatepickerToggleIcon>
                <img src="../../../assets/calender-icon.png" class="calender-picker-image">
              </mat-icon>
            </span>
            <owl-date-time #newShiftDatePicker></owl-date-time>
          </div>
        </div>
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputfee">Fee (&pound;/h)</label>
          <input type="text" class="form-control form-control-bg" id="advanceBookingfee" placeholder=""
            name="advanceBookingfee" [(ngModel)]="shift.fee" minLength="1" maxLength="3" uaNumberOnly>
        </div>
        <!-- </div> -->
        <!-- <div class="form-row"> -->
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputcontactper">Contact Person</label>
          <input type="text" class="form-control form-control-bg" id="advanceBookingcontactperson" placeholder=""
            name="advanceBookingcontactperson" [(ngModel)]="shift.contactpername">
        </div>
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputphoneno">Phone Number</label>
          <input type="text" class="form-control form-control-bg" id="advanceBookingphone" placeholder=""
            name="advanceBookingphone" [(ngModel)]="shift.phoneNumber" uaNumberOnly>
        </div>
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputaddress">Address</label>
          <label for="inputPassword4" class="float-right"><span class="view-map"
              (click)="openLocationLookupDialog()">View Map</span></label>
          <input type="text" class="form-control form-control-bg" id="advanceBookingaddress" placeholder=""
            name="advanceBookingaddress" [(ngModel)]="shift.address">
        </div>
        <!-- </div> -->
        <!-- <div class="form-row"> -->
        <!-- <div class="form-group col-md-4">
                    <label for="inputPassword4">City</label>
                    <input type="text" class="form-control form-control-bg" id="advanceBookingcity" 
                  placeholder="" name="advanceBookingcity" [(ngModel)]="shift.city">
                </div> -->
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputCity">City</label>
          <select class="form-control form-control-bg dropdown-cursor" name="advanceBookingcity" id="advanceBookingcity"
            [(ngModel)]="shift.city">
            <!-- <option selected>City</option> -->
            <!-- <option value="London">London</option>
                    <option value="Birmingham">Birmingham</option>
                    <option value="Leeds">Leeds</option>
                    <option value="Glasgow">Glasgow</option>
                    <option value="Sheffield">Sheffield</option>
                    <option value="Bradford">Bradford</option> -->

            <option *ngIf="shift.city == undefined || shift.city.length < 1" disabled selected value> Select City
            </option>
            <option *ngFor="let aSel of citySelectionData" value="{{aSel.city}}" [disabled]="aSel.city===''">
              {{aSel.display}}</option>

          </select>
        </div>
        <div class="form-group col-md-4 col-sm-6 col_max_width">
          <label for="inputaddress">Postcode</label>
          <input type="text" class="form-control form-control-bg" id="advanceBookingpostcode" placeholder=""
            name="advanceBookingpostcode" [(ngModel)]="shift.postcode">
        </div>
        <div class="form-group col-md-8 col-sm-6 col_max_width">
          <label for="comment">Shift Description</label>
          <textarea class="form-control form-control-bg" rows="3" id="advanceBookingdesc" name="advanceBookingdesc"
            [(ngModel)]="shift.description"></textarea>
        </div>
      </div>
      <div class="book-button text-center">
        <button type="submit" class="btn" (click)="bookClicked()">BOOK</button>
      </div>
    </form>
  </div>
</div>