.mat-toolbar{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}
.advance-booking-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
    padding-left: 10px;
}
.advance-booking-subheading{
    padding: 30px 0;
}
/* .calender-picker-input{
    position: relative;
} */
.calender-icon-img{
    position: absolute;
    right: 25px;
    top: 25px;
}
.advance-booking-subheading-1{
    color: #DF8C40;
    font-weight: 400;
    font-family: Roboto;
    font-size: 1.5rem;
}
.advance-booking-subheading-1 span{
    padding: 0 5px;
}
.advance-booking-subheading-2{
    font-weight: 400;
    font-family: Roboto;
    font-size: 1.5rem;
}
.advance-booking-subheading-2 span{
    padding: 0 5px;
}
.advance-booking-form{
    padding: 30px;
}
textarea{
    resize: none;
}
.book-button button{
    background-color: #DF8C40;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 8px 30px;
    margin-top: 20px;
}
.form-group{
    padding: 0 15px 30px;
}
.form-group input{
    background-color: #efefef;
}
.form-control-bg{
    background-color: #efefef;
    border: 1px solid #d2d1d1;
}
.view-map{
    color: #DF8C40;
    font-size: 14px;
    cursor: pointer;
}
.dropdown-cursor{
    background-color: #efefef;
    border: 1px solid #d2d1d1;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
}
/*.date-input{
    background-image: url(../../../assets/calender-icon.png);
    background-position: 275px 6px;
    background-repeat: no-repeat;
    cursor: pointer;
}*/
/* .date-form{
    position: relative;
} */
.calender-picker-input-sec{
    position: relative;
}
.calender-picker-input{
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #d2d1d1;
}
.calender-picker-image{
    vertical-align: top;
}
/* .calender-image img{
    position: absolute;
    right: 25px;
    top: 38px;
    cursor: pointer;
} */
.custom-date-picker{
    position: absolute;
    right: 5px;
    bottom: 4px;
    cursor: pointer;
}
.dropdown-cursor{
    cursor: pointer;
}
@media (max-width: 1066px) and (min-width: 768px){
    .col_max_width{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media (max-width: 768px){
    .container{
        max-width: 100%;
    }
}
