<div mat-dialog-container class="dialog-content">
  <h2 mat-dialog-title class="text-center dialog-title">Are You Sure</h2>
  <h4 mat-dialog-content class="text-center dialog-sub-title">You Want To Delete</h4>
    <div class="ok-btn text-center">
      <button routerLink="/registration" (click)="cancelClick()">Yes,Delete</button>
      <button routerLink="/registration" (click)="cancelClick()">No,Cancel</button>
    </div>
  </div>

