.example-spacer {
    flex: 1 1 auto;
  }
.registration-content{
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0;
}
.registration-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
}
.all-workers-heading{
    font-size: 12px;
    color: #a4a4a4;
    font-weight: 400;
    line-height: 5px;
}
.all-employers-heading{
    font-size: 12px;
    color: #a4a4a4;
    font-weight: 400;
    line-height: 5px;
}
.number{
    margin-bottom: 0 !important;
}
.all-workers{
    /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 
    rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
    box-shadow: 0px 5px 5px 0px rgb(236, 234, 234), 0 2px 2px 0 
    rgb(236, 234, 234), 0 1px 5px 0 rgb(218, 218, 218);
    padding: 0 50px;
}
.all-employers{
    /* box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 
    rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
    box-shadow: 0px 5px 5px 0px rgb(236, 234, 234), 0 2px 2px 0 
    rgb(236, 234, 234), 0 1px 5px 0 rgb(218, 218, 218);
    padding: 0 50px;
}
.registration-tab{
    border: 0;
}
.registration-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 0px;
    width: 110px;
    text-align: center;
    margin-left: 1px;
}
.registration-link.active{
    color: #fff;
    background-color: #5271ff;
}
.registration-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.workers-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.agents-btn{
    border-radius: 0;
}
.companies-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.user-tab-sec{
    padding: 20px 0;
}
.user-tab-content{
    padding-left: 16px;
}
.filter-workers-dropdown{
    padding-right: 16px;
}
.filters-workers-btn{
    color: #fff;
    background-color: #5271ff;
    opacity: 1;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
}
.top-search-form{
    position: relative;
    background: transparent;
    border-radius: 30px;
    display: block;
    border: 1px solid #ccc;
}
.top-search-form .material-icons {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    color: #5a5a5a;
}
.top-search-form input {
    font-size: 1rem;
    padding: 0.2rem 2.5rem 0.2rem 0.75rem;
    z-index: 2;
    width: 300px;
    cursor: text;
    border: none;
    background: 0 0;
    outline: 0;
}
::placeholder{
  color: #8b8b8b;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: Montserrat;
  font-weight: 500;
}
.workers-tab-sec{
    padding: 10px 20px;
}
.worker-content{
    background-color: #cde0fb;
    border-radius: 5px;
    padding: 15px 10px 20px;
    margin-bottom: 25px;
    cursor: pointer;
}
.worker-sub-below-text span{
    padding: 0 5px;
}
.worker-image{
    width: 80px;
    height: 80px;
    margin: auto;
}
.worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
}
.worker-text{
    color: #2f3b4c;
    font-family: Roboto;
    font-weight: 400;
    font-size: 22px;
    padding: 20px 10px 0;
    word-break: break-word;
}
.worker-sub-text{
    color: #2f3b4c;
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    word-break: break-word;
    padding: 0px 10px;
}
.inline{
    display: inline-block;
}
.rating-icon{
    padding-left: 47px;
} 
.star{
    color: orange;
    font-size: 18px;
    width: 16px;
}
.ratings-text span{
    padding: 0 5px;
} 
.worker-sub-below-text{
    font-size: 16px;
    font-weight: 400;
}
.worker-sub-below-content{
    font-size: 16px;
    font-weight: 400;
}
.user-form-sec{
    padding: 0 60px;
}
@media (max-width: 1245px){
    .user-tab-content{
        float: none !important;
    }
    .user-form-sec{
        float: none !important;
        padding: 15px;
        width: 300px;
    }
    .filter-workers-dropdown {
        float: none !important;
        padding-left: 15px;
    }
    .top-search-form input {
        font-size: 1rem;
        padding: 0.2rem 2.5rem 0.2rem 0.75rem;
        z-index: 2;
        width: 275px;
        cursor: text;
        border: none;
        background: 0 0;
        outline: 0;
    }   
}
@media (max-width: 1033px) and (min-width: 768px){
    .d-flex{
        display: block !important;
    }
    .ratings-text{
        text-align: center;
    }
    .rating-icon{
        text-align: center;
        padding-left: 0;
    }
}
