<div class="registration-content">
  <mat-toolbar-row>
    <span class="registration-heading">Users</span>
    <span class="example-spacer"></span>
    <div class="text-center">
      <div class="all-workers" *ngIf="!hideAllWorkers">
        <span class="all-workers-heading">All workers</span>
        <p class="number">{{workerslist.length}}</p>
      </div>
      <div class="all-employers" *ngIf="!hideAllEmployers">
        <span class="all-employers-heading">All Employees</span>
        <p class="number">{{companieslist.length}}</p>
      </div>
    </div>
  </mat-toolbar-row>
</div>

<div class="clearfix user-tab-sec">
  <div class="user-tab-content float-left">
    <ul class="nav nav-tabs registration-tab" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active registration-link workers-btn" id="workers-tab" data-toggle="tab" href="#workers" role="tab" 
        aria-controls="workers" aria-selected="true" (click)="onWorkersTabSelected()">Workers</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled registration-link agents-btn" id="agents-tab" data-toggle="tab" href="#agents" role="tab" aria-controls="agents" aria-selected="false">Agents</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link registration-link companies-btn" id="companies-tab" data-toggle="tab" href="#companies" role="tab" 
        aria-controls="companies" aria-selected="false" (click)="onCompaniesTabSelected()">Companies</a>
      </li>
    </ul>
  </div>
  <div class="user-form-sec float-left">
    <form class="top-search-form">
      <input placeholder="Search" type="text" [(ngModel)]="filterSearchText" id="searchTextId" name="searchTextName">
      <mat-icon aria-hidden="true">search</mat-icon>
    </form>
  </div>
  <div class="filter-workers-dropdown float-left">
    <div class="dropdown">
      <button class="btn filters-workers-btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span style="white-space: pre-wrap;">Sort {{filterSubCategoryText.length > 0? '- '+filterSubCategoryText: filterCategoryText.length > 0? '- '+filterCategoryText:''}} </span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item"  *ngIf="filterCategoryText.length > 0"
              (click)="filterWorkersSelected('none','')">-None-</a>
          <a class="dropdown-item" *ngFor="let aSel of filterSelections" 
          (click)="filterWorkersSelected(aSel.category, aSel.subcategory)">{{aSel.display}}</a>
      </div>
    </div>
  </div> 
</div>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="workers" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="workers-tab-sec">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let profile of workerslist | usersworkerfilter:filterSearchText:filterCategoryText:filterSubCategoryText | registrationsorderfilter">
          <div class="worker-content" (click)="openWorkersDialog(profile)">
            <div class="worker-image">
                <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            </div>
            <h3 class="worker-text text-center">{{ profile.firstName }} {{profile.lastName}}</h3>
            <p class="worker-sub-text text-center">{{ profile.wProfession }}</p>
            <p class="worker-sub-text text-center">{{ profile.wSubCategory }}</p>
            <div class="d-flex justify-content-center">
              <p class="ratings-text">Ratings<span>:</span></p>
              <star-rating [starType]="'svg'" [rating]="profile.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="tab-pane fade" id="agents" role="tabpanel" aria-labelledby="nav-profile-tab">2</div> -->
  <div class="tab-pane fade" id="companies" role="tabpanel" aria-labelledby="nav-contact-tab">
    <div class="workers-tab-sec">
      <div class="row">
        <!-- <div class="col-md-4 col-sm-6" *ngFor="let profile of profileslist | userscompanyfilter | registrationsorderfilter">
          <div class="worker-content">
            <div class="worker-image">
              <img src="../../../assets/ultraagent_admin_image.png">
            </div>
            <h3 class="worker-text text-center">{{ profile.eCompanyName }}</h3>
            <p class="worker-sub-text text-center">{{ profile.eIndustry }}</p>
            <p class="companies-text"><span>Date Registered:</span>{{ profile.createdAt == undefined? '': profile.createdAt.toDate() | date:'dd/MMM/yyyy' }}</p>
            <p class="companies-text"><span>Completed Shifts:</span>2000</p>
          </div>
        </div> -->
        <div class="col-md-4 col-sm-6" *ngFor="let profile of companieslist | userscompanyfilter:filterSearchText:filterCategoryText:filterSubCategoryText | registrationsorderfilter">
          <div class="worker-content" (click)="openCompaniesDialog(profile)">
            <div class="worker-image">
                <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            </div>
            <h3 class="worker-text text-center">{{ profile.name }}</h3>
            <p class="worker-sub-text text-center">{{ profile.industry }}</p>
            <div class="d-flex flex-row">
              <div class="p-2 worker-sub-below-text">Date Registered<span>:</span></div>
              <div class="p-2 worker-sub-below-content">{{ profile.createdAt == undefined? '': profile.createdAt.toDate() | date:'dd/MMM/yyyy' }}</div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-2 worker-sub-below-text">Completed Shifts<span>:</span></div>
              <div class="p-2 worker-sub-below-content">2000</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>