<div class="dialog-toolbar">
  <div class="row">
    <div class="col-md-10 col-sm-10 col-10">
      <h3 class="toolbar-heading">{{title}}</h3>
      <h4 class="toolbar-subheading">{{subtitle}}</h4>
    </div>
    <div class="col-md-2 col-sm-2 col-2">
      <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="dialog-subject">
    <div class="details_content">
      <h5 class="description-heading">Shift Description :</h5>
      <p class="description-text">{{shift.description}}</p>
    </div>
  </div>
  <div class="shift-description-below-content">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold"><img src="../../../assets/calendericon-black.png">Date &amp; Time<span>:</span></div>
          <div class="order-2 p-b breaking-word">{{shift.startDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Duration<span>:</span></div>
          <div class="order-2 p-b breaking-word">{{shift.duration}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Fees<span>:</span></div>
          <div class="order-2 p-b breaking-word">&pound;{{shift.fee}}/h</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Needed Experience<span>:</span></div>
          <div class="order-2 p-b breaking-word">{{shift.expNeeded == undefined? '': shift.expNeeded}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Company<span>:</span></div>
          <div class="order-2 p-b breaking-word">{{shift.companyName}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
          <div class="order-2 p-b breaking-word">{{shift.phoneNumber}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Location<span>:</span></div>
          <div class="order-2 p-b breaking-word">{{shift.address}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="underline"></div> 

  <!-- INTERESTED WORKERS-->
  <div class="interested-workers-sec" *ngIf="!interestedWorkersHidden">
    <h4 class="interested-worker-heading">Interested Workers</h4>
    <div class="interested-workers-content">
      <div class="row intrested-worker-details" *ngFor="let aReq of shift.bookingrequests | bookingrequestfromworker">
        <div class="col-md-3">
          <div class="interested-worker-image inline">
            <!-- <img [src]="aReq.worker.profilePicture != undefined? aReq.worker.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
            <img [src]="aReq.worker.profilePicture != undefined? aReq.worker.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            <div class="interested-worker-online">
              <img src="../../../assets/onlinesymbol.png">
            </div>
          </div>
          <span class="inline intrested-worker-name">{{aReq.worker.firstName}} {{aReq.worker.lastName}}</span> 
        </div>
        <div class="col-md-1">
          <p class="top-margin">{{aReq.worker.wSubCategory}}</p>
        </div>
        <div class="col-md-3">
          <p class="top-margin">{{aReq.worker.wWorkExperienceYears}} Experience</p>
        </div>
        <div class="col-md-3"><p class="top-margin">(70 Reviews)5.0</p></div>
        <div class="col-md-2">
          <div class="rating-icon top-margin">
            <!-- <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span> -->
            <star-rating [starType]="'svg'" [rating]="3" [showHalfStars]="true"></star-rating>
          </div>
        </div>
      </div>
      <!-- <div class="row intrested-worker-details">
        <div class="col-md-3">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">
              <div class="interested-worker-image">
                <img src="../../../assets/ultraagent_admin_image.png">
                <div class="interested-worker-online">
                  <img src="../../../assets/onlinesymbol.png">
                </div>
              </div>
            </div>
            <div class="order-2 p-2 breaking-word intrested-worker-name">Ononto Jolil</div>
          </div>
        </div>
        <div class="col-md-1">
          <p class="top-margin">Roofer</p>
        </div>
        <div class="col-md-3">
          <p class="top-margin">10 yr Experience</p>
        </div>
        <div class="col-md-3"><p class="top-margin">(70 Reviews)5.0</p></div>
        <div class="col-md-2">
          <div class="rating-icon top-margin">
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-md-3">
          <div class="clearfix">
              <div class="interested-worker-image float-left">
                <img src="../../../assets/ultraagent_admin_image.png">
                <div class="interested-worker-online">
                  <img src="../../../assets/onlinesymbol.png">
                </div>
              </div>
            <div class="float-left breaking-word intrested-worker-name">Ononto Jolil</div>
          </div>
        </div>
        <div class="col-md-2">
          <p class="top-margin">Roofer</p>
        </div>
        <div class="col-md-2">
          <p class="top-margin">10 yr Experience</p>
        </div>
        <div class="col-md-2">
          <p class="top-margin">(70 Reviews)5.0</p>
        </div>
        <div class="col-md-3">
          <div class="rating-icon top-margin">
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
            <span><mat-icon class="star">star</mat-icon></span>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!-- <div class="underline"></div> -->

  <!-- SELECTED WORKERS-->
  <!-- <div class="selected-workers-sec" *ngIf="!selectedWorkersHidden">
    <h4 class="selected-workers-heading">Selected Workers</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="selected-worker-image inline">
          <img src="../../../assets/ultraagent_admin_image.png">
          <div class="selected-worker-online">
            <img src="../../../assets/onlinesymbol.png">
          </div>
        </div>
        <span class="inline selected-worker-name">{{bookedWorker.firstName}} {{bookedWorker.lastName}}</span>
        <div class="selected-worker-name-below">
          <p class="roofer">{{bookedWorker.wSubCategory}}<span>{{bookedWorker.wWorkExperienceYears}}{{bookedWorker.wWorkExperienceYears > 1 ? 'yrs' :'yr '}} Experience</span></p>
          <p class="inline">{{bookedWorker.ratingsAvg == undefined ? '-' : bookedWorker.ratingsAvg}} 
          ({{bookedWorker.ratingsCount == undefined ? '0 reviews' : bookedWorker.ratingsCount + (bookedWorker.ratingsCount == 1 ? ' review': ' reviews')}})</p>
          <div class="rating-icon selected-worker-rating inline">
              <star-rating [starType]="'svg'" [rating]="bookedWorker.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
          </div>
        </div>
      </div>
      <div class="col-md-6 selected-workerd-all-data">
        <p class="selected-worker-data"><span class="text-bold">Phone Number :</span> {{bookedWorker.phoneNumber}}</p>
        <p class="selected-worker-data"><span class="text-bold">Total Booking :</span> 10</p>
      </div>
    </div>
  </div> -->
  <div class="selected-workers-sec" *ngIf="!selectedWorkersHidden">
    <h4 class="selected-workers-heading">Selected Workers</h4>
    <div class="row">
     <div class="col-md-1">
      <div class="selected-worker-image">
        <img [src]="bookedWorker.profilePicture != undefined? bookedWorker.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
        <div class="selected-worker-online">
          <img src="../../../assets/onlinesymbol.png">
        </div>
      </div>
     </div>
     <div class="col-md-2">
        <div class="selected-worker-name">{{bookedWorker.firstName}} {{bookedWorker.lastName}}</div>
     </div>
     <div class="col-md-2">
      <p class="roofer">{{bookedWorker.wSubCategory}}</p>
     </div>
     <div class="col-md-2">
      <p>{{bookedWorker.wWorkExperienceYears}}{{bookedWorker.wWorkExperienceYears > 1 ? 'yrs' :'yr '}} Experience</p>
     </div>
     <div class="col-md-2">
      <p class="rating-avg">{{bookedWorker.ratingsAvg == undefined ? '-' : bookedWorker.ratingsAvg | number : '1.2-2'}} 
      ({{bookedWorker.ratingsCount == undefined ? '0 reviews' : bookedWorker.ratingsCount + (bookedWorker.ratingsCount == 1 ? ' review': ' reviews')}})</p>
      <div class="rating-icon selected-worker-rating inline">
        <star-rating [starType]="'svg'" [rating]="bookedWorker.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
      </div>
     </div>
     <div class="col-md-3 selected-workerd-all-data">
      <!-- <p class="selected-worker-data"><span class="text-bold">Phone Number :</span> {{bookedWorker.phoneNumber}}</p>
      <p class="selected-worker-data"><span class="text-bold">Total Booking :</span> 10</p> -->
      <div class="d-flex flex-nowrap selected-worker-data">
        <div class="order-1 text-bold">Phone Number<span>:</span></div>
        <div class="order-2 scrollable-data">{{bookedWorker.phoneNumber}}</div>
      </div>
      <div class="d-flex flex-nowrap selected-worker-data">
        <div class="order-1 text-bold">Total Booking<span>:</span></div>
        <div class="order-2 scrollable-data">{{bookedWorker.incompleteBookings != undefined ? bookedWorker.incompleteBookings.length : '0'}}</div>
      </div>
    </div>
    </div>
  </div>

<!-- <div class="underline"></div> -->

  <!-- WORKER DETAILS-->
  <div class="worker-detail" *ngIf="!workerDetailHidden">
    <h5 class="worker-detail-heading">Worker Detail</h5>
    <div class="worker-detail-content">
      <!-- <p><span class="worker-detail-content-result text-bold">Worker Name:</span>{{bookedWorker.firstName}} {{bookedWorker.lastName}}</p>
      <p><span class="worker-detail-content-result text-bold">Phone Number:</span>{{bookedWorker.phoneNumber}}</p>
      <p><span class="worker-detail-content-result text-bold">Location:</span>{{bookedWorker.address}}</p> -->
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-b text-bold">Worker Name<span>:</span></div>
        <div class="order-2 p-b breaking-word">{{bookedWorker.firstName}} {{bookedWorker.lastName}}</div>
      </div>
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
        <div class="order-2 p-b breaking-word">{{bookedWorker.phoneNumber}}</div>
      </div>
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-b text-bold">Location<span>:</span></div>
        <div class="order-2 p-b breaking-word">{{bookedWorker.address}}</div>
      </div>
    </div>
  </div>

   <div class="underline"></div> 

  <div class="start-end-time" *ngIf="!startEndTimeHidden">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex flex-nowrap">
          <div class="order-1 text-bold">Start Time<span>:</span></div>
          <div class="order-2 breaking-word">{{booking.workStartTime.toDate() | date:'HH:mm a'}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex flex-nowrap">
          <div class="order-1 text-bold">Expected End Time<span>:</span></div>
          <div class="order-2 breaking-word">{{expectedEndTime | date:'HH:mm a'}}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="underline"></div> -->

  <!-- Reason For Cancellation-->
  <div class="reason-for-cancellation" *ngIf="!reasonForCancellationHidden">
    <h5 class="reason-for-cancellation-heading">Reason For Cancellation</h5>
    <!-- <p><span class="text-bold">{{booking.cancelledBy == booking.workerId ? 'Worker': 'Employer'}}:</span> 
      {{booking.cancelReason}}</p>
      <p><span class="text-bold">Brief:</span>{{booking.cancelBrief}}</p> -->
      <div class="reason-for-cancellation-content">
        <div class="row">
          <div class="col-md-4">
            <div class="text-bold">{{booking.cancelledBy == booking.workerId ? 'Worker': 'Employer'}}<span>:</span></div>
            <div class="breaking-word">{{booking.cancelReason}}</div>
          </div>
          <div class="col-md-8">
            <div class="text-bold">Brief<span>:</span></div>
            <div class="breaking-word">{{booking.cancelBrief}}</div>
          </div>
        </div>
      </div>
  </div>

  <!-- <div class="underline"></div> -->

  <!-- Employer Review -->
  <div class="employer-review-sec" *ngIf="!employerReviewHidden">
    <!-- <h4 class="employer-review-heading inline">Employer Review:</h4>
      <div class="rating-icon inline">
        <star-rating [starType]="'svg'" [rating]="averageRating" [showHalfStars]="true"></star-rating>
      </div>
      <p>{{employerRating == undefined? '':employerRating.whyHiredBrief}}</p>
      <p><span class="text-bold status-span">Status:</span>Timesheet {{booking.paymentStatus == undefined? 'Pending': (booking.paymentStatus == 'paid'? 'Paid': 'Pending')}}</p> -->
      <div class="d-flex flex-nowrap">
        <div class="order-1 text-bold">
          <h5 class="employer-review-heading">Employer Review<span>:</span></h5>
        </div>
        <div class="order-2 p-b breaking-word">
          <div class="rating-icon">
            <star-rating [starType]="'svg'" [rating]="averageRating" [showHalfStars]="true" [readOnly]="true"></star-rating>
          </div>
        </div>
      </div>
      <div class="brief-status-sec">
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Brief<span>:</span></div>
          <div class="order-2 p-b breaking-word">{{employerRating == undefined? '':employerRating.whyHiredBrief}}</div>
        </div>
        <div class="d-flex flex-nowrap">
          <div class="order-1 p-b text-bold">Status<span>:</span></div>
          <div class="order-2 p-b breaking-word">Timesheet {{booking.paymentStatus == undefined? 'Pending': (booking.paymentStatus == 'paid'? 'Paid': 'Pending')}}</div>
        </div>
      </div>
  </div>

  <!-- Track Shift in Timesheet -->
  <div class="track-shift-in-timesheet-btn-sec text-center" *ngIf="!tracktimesheetHidden">
    <button class="track-shift-in-timesheet-btn" (click)="buttonClick()">{{buttonTitle}}</button>
  </div>

  <!-- Penalise worker employer button -->
  <div class="penalise-worker-employer-btn-sec text-center" *ngIf="!penaliseWorkerHidden">
    <button class="penalise-worker-employer-btn" (click)="buttonClick()">{{penaliseWorkerbutton}}</button>
    <button class="penalise-worker-employer-btn" (click)="buttonClick()">{{penaliseEmployerbutton}}</button>
  </div>
</mat-dialog-content>