.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.no-padding{
    margin: 0;
    padding: 0;
}
.p-b{
    padding-bottom: 20px;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 20px 40px;
}
.clear-icon{
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
.toolbar-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
    text-transform: uppercase;
}
.toolbar-subheading{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
    text-transform: uppercase;
    word-break: break-word;
}
.mat-toolbar-row{
    height: 30px;
}
.dialog-subject{
    padding: 30px 0px;
}
.details_content{
    background-color: #f4f4f4;
    padding: 35px 20px 35px;
    margin: 0 40px;
}
.description-heading{
    font-size: 20px;
}
.description-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
.underline{
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
}
.shift-description-below-content{
    padding: 0px 20px;
    margin: 0 40px;
}
.scrollable-data{
    overflow-x: auto;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 2px;
}

.text-bold{
    font-size: 16px;
    font-weight: 600;
    color: #000;
 }
.text-bold img{
    padding-right: 5px;
}
.text-bold span{
    padding: 0 5px;
}
.breaking-word{
    word-break: break-word;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 2px;
}
.interested-workers-sec{
    padding: 30px 0 15px 0;
    margin: 0 40px;
}
.interested-worker-image{
    width: 60px;
    height: 60px;
    position: relative;
    margin: 10px 0 10px 10px;
}
.interested-worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.interested-worker-online{
    width: 25px;
    height: 27px;
    position: absolute;
    left: 43px;
    bottom: 4px;
}
.interested-worker-online img{
    width: 100%;
    height: 100%;
}
.inline{
    display: inline-block;
}
.star{
    color: rgb(255, 165, 0);
    font-size: 18px;
    width: 18px;
}
.intrested-worker-name{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
    padding: 25px 0 25px 10px;
}
.interested-workers-content{
    background-color: #f4f4f4;
    border-right: 3px solid #DF8C40;
}
.intrested-worker-details{
    padding-bottom: 20px;
}
.top-margin{
    padding: 28px 0;
}
.selected-workers-sec{
    margin: 0 40px 20px;
}
.interested-worker-heading{
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat;
    padding-bottom: 20px;
}
.selected-workers-heading{
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat;
    padding: 20px 0;
}
.selected-worker-name{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
    padding-left: 15px;
}
.selected-worker-image{
    width: 60px;
    height: 60px;
    position: relative;
}
.selected-worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.selected-worker-online{
    width: 25px;
    height: 27px;
    position: absolute;
    left: 43px;
    bottom: 4px;
}
.selected-worker-online img{
    width: 100%;
    height: 100%;
}
.selected-worker-name-below{
    padding-left: 73px;
}
.roofer{
    margin-bottom: 0;
}
.roofer span{
    padding-left: 20px;
}
/* .selected-workerd-all-data{
    padding-top: 65px;
} */
.selected-worker-data{
    margin-bottom: 0;
    padding-bottom: 5px;
}
.rating-avg{
    margin-bottom: 0;
}
.rating-icon{
    margin-top: 3px;
}

/* Worker Details */
.worker-detail{
    margin: 20px 40px;
}
.worker-detail-content{
    padding: 0 20px;
}
.worker-detail-content-result{
    padding-right: 50px;
}

/* reason for cancellation */
.reason-for-cancellation{
    margin: 20px 40px;
}
.reason-for-cancellation-heading{
    font-size: 20px;
    margin-bottom: 0;
    padding: 5px 0 15px;
}
.reason-for-cancellation-content{
    padding: 0 20px;
}
/* .reason-for-cancellation span{
    padding-right: 50px;
} */

/* worker-details */
.worker-detail-heading{
    font-size: 20px;
    margin-bottom: 0;
    padding: 5px 0 15px;
}
.employer-review-heading{
    font-size: 20px;
    margin-bottom: 0;
    padding: 5px 0 15px;
}
.brief-status-sec{
    padding: 0 20px;
}

/* start time end time */
.start-end-time{
    margin: 20px 40px;
    padding: 0 20px;
}
.start-end-time p{
    margin-bottom: 5px;
}

/* employer review */
.employer-review-sec{
    margin: 20px 40px 0;
}
/* .selected-worker-rating{
    padding-left: 80px;
} */
.status-span{
    padding-right: 80px;
}

/* button */
.penalise-worker-employer-btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 9px 25px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 20px 5px 30px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.track-shift-in-timesheet-btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 9px 25px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 20px 5px 30px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
@media (max-width: 1102px) {
  .intrested-worker-name{
      padding: 0 0 0 10px;
  }
}
@media (max-width: 767px) {
    .intrested-worker-name{
        padding: 25px 0;
        margin-left: 10px;
    }
    .top-margin{
        padding: 0 0 0 10px;
    }
  }