<div class="dialog-header d-flex justify-content-center">
  <div class="employer-image">
    <img src="../../../assets/ultraagent_admin_image.png">
    <div class="employer-online">
      <img src="../../../assets/onlinesymbol.png">
    </div>
  </div>
  <div class="employer-intro">
    <h6>Walter White</h6>
    <span>Available</span>
  </div>
  <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
</div>
<mat-dialog-content>
    <div class="dialog-content">
      <div class="content-heading text-center">
        <h5>1/8/18 - Available Hours</h5>
      </div>
      <div class="available-hour-list">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="list-time text-right">
                <ul>
                  <li class="list-text">08:00 - 09:00</li>
                  <li class="list-text">09:00 - 10:00</li>
                  <li class="grey-color-text">10:00 - 11:00</li>
                  <li class="grey-color-text">11:00 - 12:00</li>
                  <li class="list-text">12:00 - 13:00</li>
                  <li class="list-text">13:00 - 14:00</li>
                  <li class="list-text">14:00 - 15:00</li>
                  <li class="grey-color-text">16:00 - 18:00</li>
                </ul>
              </div>
            </div>
            <div class="col-6">
              <div class="list-button">
                <ul>
                  <li><button type="button" class="btn book-btn">BOOK</button></li>
                  <li><button type="button" class="btn book-btn">BOOK</button></li>
                  <li><button type="button" class="btn grey-color-btn">BOOK</button></li>
                  <li><button type="button" class="btn grey-color-btn">BOOK</button></li>
                  <li><button type="button" class="btn book-btn">BOOK</button></li>
                  <li><button type="button" class="btn book-btn">BOOK</button></li>
                  <li><button type="button" class="btn book-btn">BOOK</button></li>
                  <li><button type="button" class="btn grey-color-btn">BOOK</button></li>
                 </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ok-button-sec text-center">
        <button type="button" class="btn ok-btn" (click)="cancelClick()">OK</button>
      </div>
    </div>
</mat-dialog-content>