.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-header{
    background-color: rgb(195, 204, 247);
    padding: 25px 20px;
    position: relative;
}
.clear-icon{
    position: absolute;
    right: 65px;
    top: 40px;
    cursor: pointer;
    font-size: 28px;
    font-weight: 700;
}
.employer-image{
    width: 60px;
    height: 60px;
    position: relative;
}
.employer-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.employer-online{
    width: 25px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 45px;
}
.employer-online img{
    width: 100%;
    height: 100%;
}
.employer-intro{
    padding-left: 10px;
}
.employer-intro h6{
    color: #101010;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
    word-wrap: break-word;
    padding-top: 5px;
}
.employer-intro span{
    font-size: 18px;
    -webkit-text-stroke: 0.5px #5a5a5a;
    line-height: 31px;
    font-family: Roboto;
    font-weight: 600;
    color: rgb(99, 229, 153);
    letter-spacing: 1px;
}
.dialog-content{
    padding: 20px;
    background-color: #f4f4f4;
}
.content-heading h5{
    margin-bottom: 0;
    padding: 30px 0 10px;
    letter-spacing: 1px;
}
.list-time ul{
    list-style: none;
    padding: 0;
}
.list-time{
    margin-right: 20px;
}
.list-button ul{
    list-style: none;
    padding: 0;
}
.list-button{
    margin-left: 20px;
}
.book-btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 6px 22px;
    border: 0;
    outline: none;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.book-btn:active,
.book-btn:focus,
.book-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
   outline: none !important;
}
.list-text{
    font-size: 17px;
    color: #DF8C40;
    font-family: Roboto;
    padding-bottom: 22px;
}
.grey-color-text{
    font-size: 17px;
    color: #c1c1c1;
    font-family: Roboto;
    padding-bottom: 22px;
}
.ok-btn{
    background-color: #5271ff;
    color: #fff;
    border-radius: 3px;
    padding: 12px 50px;
    border: 0;
    outline: none;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.grey-color-btn{
    background-color: #c1c1c1;
    color: #fff;
    border-radius: 3px;
    padding: 6px 22px;
    border: 0;
    outline: none;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.available-hour-list{
    padding: 20px 0;
}
