<div class="employee_user_experience">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="ultra_agent_logo">
          <img src="../../../assets/ultra-agent-logo.png">
        </div>
        <h3 class="employer_user_experience_heading">EMPLOYEE USER EXPERIENCE</h3>
        <div class="employee_user_experience_text">
          <p>Congratulatons you have Successfully completed employer sign up process.You will be notified within the next 24 hours once your account has been approved.</p>
          <p>While your account is being reviewed, feel free to familiarize yourself with being at UA partner through the video</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="employee-user-experience-video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="got-it-link text-center"><button routerLink="/employer_login_registration">GOT IT</button></div>
  </div>
</div>
