.employee_user_experience{
    background-image: url(../../../assets/company_registration_bg.jpg);
    background-size: cover;
}
.ultra_agent_logo{
    width: 160px;
    height: 160px;
    margin: 15px 0 80px;
}
.ultra_agent_logo img{
    width: 100%;
    height: 100%;
}
.employer_user_experience_heading{
    font-weight: Montserrat;
}
.employee-user-experience-video{
    margin: 200px 0 0;
    border: 4px solid #fff;
}
.got-it-link{
    padding: 75px 0;
}
.got-it-link button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 12px 35px;
    box-shadow: 0 0 40px rgba(82,113,255, .3);
    border: 0;
    outline: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    cursor: pointer;
}