<div class="dialog-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-10">
        <h3 class="toolbar-heading">{{title}}</h3>
        <h4 class="toolbar-subheading">SHIFT NO:{{booking.shiftSubCategory}}#{{booking.shiftNo}}</h4>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="dialog-subject">
    <div class="details_content">
      <h5 class="description-heading">Shift Description :</h5>
      <p class="description-text">
        {{booking.description}}
      </p>
    </div>
    <div class="shift-description-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- <p><span class="text-bold date-image"><img src="../../../assets/calendericon-black.png">
              Date:</span> 
              {{booking.shiftStartDateTime.toDate() | date:'dd/MM/yyyy'}}
            </p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold"><img src="../../../assets/calendericon-black.png">Date<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shiftStartDateTime.toDate() | date:'dd/MM/yyyy'}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <p><span class="text-bold"><img src="../../../assets/clockicon-black.png"></span>{{booking.shiftStartDateTime.toDate() | date:'HH:mm a'}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold"><img src="../../../assets/clockicon-black.png">Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shiftStartDateTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <p><span class="text-bold">Duration:</span>{{booking.duration}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Duration<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.duration}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <!-- <p><span class="text-bold">Fees:</span> &pound;{{booking.fee}}/h</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Fees<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.fee}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <p><span class="text-bold">Start Time:</span>{{booking.workStartTime.toDate() | date:'HH:mm a'}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Start Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workStartTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <p><span class="text-bold">End Time:</span>{{booking.workEndTime.toDate() | date:'HH:mm a'}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">End Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workEndTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <!-- <p><span class="text-bold">Supervisor:</span>{{booking.contactpername}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Supervisor<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.contactpername}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- <p><span class="text-bold">Contact:</span>{{booking.contactphonenumber}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Contact<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.contactphonenumber}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <!-- <p><span class="text-bold">Location:</span>{{booking.address}}</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Location<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.address}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="underline" *ngIf="!hidePreviousProposalSection"></div>
    <div class="proposed-changes-sec" *ngIf="!hidePreviousProposalSection">
      <h3 class="proposed-changes-heading">{{proposalTitle}}</h3>
      <div class="proposed-changes-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Fees<span>:</span></div>
                <div class="order-2 p-b breaking-word">&pound;{{amend != undefined? amend.proposedFee: ''}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Start Time<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{amend != undefined? (amend.proposedStartTime.toDate() | date:'HH:mm a'): ''}}</div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">End Time<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{amend != undefined? (amend.proposedEndTime.toDate() | date:'HH:mm a'): ''}}</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="explanation">
                  <div class="d-flex flex-nowrap">
                    <div class="order-1 text-bold explanation-heading">Explanation<span>:</span></div>
                  </div>
                  <div class="d-flex flex-nowrap">
                    <div class="order-1 explanation-text">{{amend != undefined? amend.brief: ''}}</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="underline" *ngIf="!hideApprovedProposalSection"></div>
    <div class="proposed-changes-sec" *ngIf="!hideApprovedProposalSection">
      <h3 class="proposed-changes-heading">ULTRA AGENT DECISION</h3>
      <div class="proposed-changes-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Fees<span>:</span></div>
                <div class="order-2 p-b breaking-word">&pound;{{amend != undefined? amend.adminApprovedFee: ''}}</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Start Time<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{amend != undefined? (amend.adminApprovedStartTime.toDate() | date:'HH:mm a'): ''}}</div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">End Time<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{amend != undefined? (amend.adminApprovedEndTime.toDate() | date:'HH:mm a'): ''}}</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="explanation">
                  <div class="d-flex flex-nowrap">
                    <div class="order-1 text-bold explanation-heading">Explanation<span>:</span></div>
                  </div>
                  <div class="d-flex flex-nowrap">
                    <div class="order-1 explanation-text">{{amend != undefined? amend.adminApprovedBrief: ''}}</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="underline" *ngIf="!hideProposalSubmitSection"></div>
    <div class="worker-details-sec" *ngIf="!hideProposalSubmitSection">
      <h3 class="worker-details-heading">AMEND (RAISE DISPUTE)</h3>
      <div class="worker-details-content">
        <form class="proposed-changes-form">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">Start Time</label>
               <input class="calender-picker-input form-control" matInput 
               [owlDateTime]="startDatePicker" [owlDateTimeTrigger]="startDatePicker" 
               [(ngModel)]="inputStartTime" name="inputStartTime" placeholder="DD/MM/YYYY" readonly>
              <span [owlDateTimeTrigger]="startDatePicker" class="custom-date-picker"> 
                <mat-icon matDatepickerToggleIcon>
                  <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                </mat-icon>
              </span>
              <owl-date-time #startDatePicker></owl-date-time>
             
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">End Time</label>
              <input class="calender-picker-input form-control" matInput 
               [owlDateTime]="endDatePicker" [owlDateTimeTrigger]="endDatePicker" 
               [(ngModel)]="inputEndTime" name="inputEndTime" placeholder="DD/MM/YYYY" readonly>
              <span [owlDateTimeTrigger]="endDatePicker" class="custom-date-picker"> 
                <mat-icon matDatepickerToggleIcon>
                  <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                </mat-icon>
              </span>
              <owl-date-time #endDatePicker></owl-date-time>
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Fee</label>
              <input type="text" class="form-control" id="inputFee" name="inputFee" 
              [(ngModel)]="inputFee" uaNumberOnly>
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Add Explanation</label>
            <textarea type="text" class="form-control add-explanation" id="inputExpl" name="inputExpl" 
            [(ngModel)]="inputExpl"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="amend-approve-btn text-center"  *ngIf="!hideProposalSubmitSection">
      <button class="amend-btn" (click)="amendBackClick()">BACK</button>
      <button class="approve-btn" (click)="amendClick()">SUBMIT</button>
    </div>
  </div>
</mat-dialog-content>
