.example-spacer {
    flex: 1 1 auto;
}
.flex-row{
    padding-top: 20px;
}
.p-b{
    padding-bottom: 20px;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 0px 30px;
}
.clear-icon{
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
}
.mat-toolbar-row{
    height: 100px;
}
.worker-image{
    width: 60px;
    height: 60px;
    position: relative;
}
.worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.inline{
    display: inline-block;
}
.admin-online{
    width: 25px;
    height: 27px;
    position: absolute;
    bottom: 3px;
    left: 45px;
}
.admin-online img{
    width: 100%;
    height: 100%;
}
.worker-name-address{
    padding-left: 20px;
    padding-top: 5px;
}
.worker-name-address h3{
    color: #323232;
    font-size: 23px;
    font-weight: 400;
    font-family: Roboto;
    margin-bottom: 0;
}
.worker-name-address p{
    color: #323232;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}
.dialog-content{
    padding: 30px 50px;
}
.personal-description-sec{
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
}
.advance-booking-btn button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px;
    border: 0;
    outline: none;
    margin: 10px 20px 0;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}
.profession-body-number{
    padding-top: 20px;
}
.personal-description-sec{
    padding-top: 20px;
}
.worker-name-address .available{
    font-size: 18px;
    /* -webkit-text-stroke: 0.5px #5a5a5a; */
    font-family: Roboto;
    font-weight: 600;
    /* color: rgb(99, 229, 153); */
    letter-spacing: 1px;
}
.dialog-content-heading{
    margin-bottom: 0;
    font-weight: 600;
}
.dialog-content-heading span{
    padding: 0 5px;
}
.dialog-content-text{
    font-size: 14px;
    font-weight: 500;
    margin-top: 3px;
}