<div class="dialog-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-10">
        <div class="d-flex flex-row">
          <div class="worker-image">
            <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
            <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            <div class="admin-online">
              <img [src]="profile.wAvailable != false ? '../../../assets/onlinesymbol.png' : '../../../assets/offlinesymbol.png'">
            </div>
          </div>
          <div class="worker-name-address">
            <h3>{{profile.firstName}} {{profile.lastName}}</h3>
            <p class="available" 
            [style.color]="profile.wAvailable != false ? 'rgb(99, 229, 153)' : '#9e9d9d'" 
            [style.-webkit-text-stroke]="profile.wAvailable != false ? '0.5px #5a5a5a' : '0'">
            {{profile.wAvailable != false ? 'Available' : 'Unavailable'}}</p>
            
            <!-- <p  class="available" [ngStyle]="{ 'color': (profile.wAvailable != false ? 'rgb(99, 229, 153)' : '#9e9d9d') }">{{profile.wAvailable != false ? 'Available' : 'Unavailable'}}</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="dialog-content">
   <div class="row">
    <div class="col-7">
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-b dialog-content-heading">Worker Profession<span>:</span></div>
        <div class="order-2 p-b dialog-content-text">{{profile.wSubCategory}}</div>
      </div>
    </div>
    <div class="col-5">
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-b dialog-content-heading">Total Shifts<span>:</span></div>
        <div class="order-2 p-b dialog-content-text">{{totalShiftCount}}</div>
      </div>
    </div>
   </div>
   <div class="row">
    <div class="col-7">
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-b dialog-content-heading">Ratings<span>:</span></div>
        <div class="order-2 p-b dialog-content-text">{{profile.ratingsAvg == undefined ? '-' : profile.ratingsAvg | number : '1.2-2'}} 
          ({{profile.ratingsCount == undefined ? '0 reviews' : profile.ratingsCount + (profile.ratingsCount == 1 ? ' review': ' reviews')}})</div>
      </div>
    </div>
    <div class="col-5">
    <div class="d-flex flex-nowrap">
      <div class="order-1 p-b dialog-content-heading">Experience<span>:</span></div>
      <div class="order-2 p-b dialog-content-text">{{profile.wWorkExperienceYears}}</div>
    </div>
    </div>
   </div>
   <div class="row">
    <div class="col-12">
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-b dialog-content-heading">Profession Body Number<span>:</span></div>
        <div class="order-2 p-b dialog-content-text">{{profile.wProfessionBodyNumber}}</div>
      </div>
    </div>
   </div>
   <div class="advance-booking-btn text-center">
    <button class="btn" (click)="advanceBookingClick()">ADVANCE BOOKING</button>
   </div>
  </div>
</mat-dialog-content>