<div class="ultra-agent-webapp-login-full-page">
  <div class="ultra-agent-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 no-padding">
          <mat-card class="ultra-agent-bg">
          </mat-card>
        </div>
        <div class="col-md-6 col-xs-12 no-padding">
          <mat-card class="ultra-agent-login">
              <mat-card-header class="ultra-agent-logo">
                <div class="ultra-agent-login-img">
                  <img src="../../assets/ultra-agent-logo.png" alt="ultra-agent-logo">
                </div>
              </mat-card-header>
              <mat-card-content>
                  <mat-card-title><h1 class="text-center ultra-agent-heading">Ultra Agent Web Apps</h1></mat-card-title>
              </mat-card-content>
              <mat-card-actions class="text-center ultra-agent-btn">
                  <button mat-button routerLink="/employer_login_registration">Employer</button>
                  <button mat-button routerLink="/Admin_login">Control</button>
              </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>