.ultra-agent-webapp-login-full-page{
    background-color: #5271FF;
}
.ultra-agent-content{
    padding: 80px 80px;
}
.no-padding{
    margin: 0;
    padding: 0;
}
.ultra-agent-login{
    background-color: #fff;
}
.ultra-agent-login-img{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 50px;
}
.ultra-agent-login-img img{
    width: 100%;
    height: 100%;
}

.ultra-agent-heading{
    color: #5271FF;
    font-weight: 400;
    padding: 40px 0;
    font-family: Roboto;
}
.ultra-agent-btn button{
    margin: 0px 20px 85px;;
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 4px 50px;
    box-shadow: 0 0 40px rgba(82,113,255, .3);
    border: 0;
    outline: none;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
}
.ultra-agent-bg{
    background-image: url(../../assets/landing-bg2.png);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    min-height: 564px;
}
@media (min-width: 993px) and (max-width: 1044px){
    .ultra-agent-heading{
        font-size: 28px;
    }
    .ultra-agent-btn button{
        padding: 2px 30px;
        margin: 0px 10px 85px;
    }
    .ultra-agent-bg{
        min-height: 546px;
    }
}

@media (min-width: 768px) and (max-width: 993px){
    .ultra-agent-content{
        padding: 50px 50px;
    }
    .ultra-agent-heading{
        font-size: 28px;
    }
    .ultra-agent-bg{
        min-height: 545px;
    }
    .ultra-agent-btn button{
        padding: 2px 30px;
        margin: 0px 10px 85px;

    }
}
@media (max-width: 768px) {
    .ultra-agent-bg{
        display: none;
    }
    .ultra-agent-content{
        padding: 80px 40px;
    }
    .ultra-agent-btn button{
        padding: 2px 30px;
        margin: 0px 10px 35px;
    }
    .ultra-agent-heading{
        font-size: 28px;
    }
}
@media (max-width: 402px) {
    .ultra-agent-content{
        padding: 20px 20px;
    }
    .ultra-agent-login-img{
        margin-top: 80px;
    }
    .ultra-agent-heading{
        padding: 50px 0;
    }
    .ultra-agent-btn button{
        margin: 0px 10px 90px;
    }
}