<div class="terms_of_services">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
      <div class="terms_of_services_content">
        <div class="terms_of_services_heading">
          <h2>TERMS OF SERVICES</h2>
        </div>
        <h4>Introdution</h4>
        <p>These terms and conditions apply between you, the User of this Website 
        (including any sub-domains, unless expressly excluded by their own terms 
        and conditions), and Ultra Agent Limited, the owner and operator of this 
        Website. Please read these terms and conditions carefully, as they affect 
        your legal rights. Your agreement to comply with and be bound by these terms 
        and conditions is deemed to occur upon your first use of the Website. If you 
        do not agree to be bound by these terms and conditions, you should stop using 
        the Website immediately.</p>
        <p>In these terms and conditions, User or Users means any third party that accesses 
        the Website and is not either (i) employed by Ultra Agent Limited and acting in the 
        course of their employment or (ii) engaged as a consultant or otherwise providing services 
        to Ultra Agent Limited and accessing the Website in connection with the provision of such 
        services.</p>
        <p>You must be at least 16 years of age to use this Website. By using the Website and agreeing
         to these terms and conditions, you represent and warrant that you are at least 16 years of 
         age.</p>
         <h5>Intellectual property and acceptable use</h5>
         <p>1. All Content included on the Website, unless uploaded by Users, is the property of 
         Ultra Agent Limited, our affiliates or other relevant third parties. In these terms and 
         conditions, Content means any text, graphics, images, audio, video, software, data 
         compilations, page layout, underlying code and software and any other form of information 
         capable of being stored in a computer that appears on or forms part of this Website, 
         including any such content uploaded by Users. By continuing to use the Website you 
         acknowledge that such Content is protected by copyright, trademarks, database rights 
         and other intellectual property rights. Nothing on this site shall be construed as granting, 
         by implication, estoppel, or otherwise, any license or right to use any trademark, logo or 
         service mark displayed on the site without the owner's prior written permission.</p>
         <p>2. You may, for your own personal, non-commercial use only, do the following:</p>
         <ul>
         <li>a. retrieve, display and view the Content on a computer screen</li>
         <li>b. download and store the Content in electronic form on a disk 
         (but not on any server or other storage device connected to a network)</li>
         <li>c. print one copy of the Content</li>
         </ul>
         <p>3. You must not otherwise reproduce, modify, copy, distribute or use for
          commercial purposes any Content without the written permission of Ultra Agent Limited.</p>
        <p>4. You acknowledge that you are responsible for any Content you may submit via the 
        Website, including the legality, reliability, appropriateness, originality and 
        copyright of any such Content. You may not upload to, distribute or otherwise 
        publish through the Website any Content that (i) is confidential, proprietary, 
        false, fraudulent, libellous, defamatory, obscene, threatening, invasive of privacy 
        or publicity rights, infringing on intellectual property rights, abusive, illegal or 
        otherwise objectionable; (ii) may constitute or encourage a criminal offence, violate the 
        rights of any party or otherwise give rise to liability or violate any law; or (iii) may 
        contain software viruses, political campaigning, chain letters, mass mailings, or any 
        form of "spam." You may not use a false email address or other identifying information, 
        impersonate any person or entity or otherwise mislead as to the origin of any content. 
        You may not upload commercial content onto the Website.</p>
        <p>5. You represent and warrant that you own or otherwise control all the rights to 
        the Content you post; that the Content is accurate; that use of the Content you 
        supply does not violate any provision of these terms and conditions and will not 
        cause injury to any person; and that you will indemnify Ultra Agent Limited for all 
        claims resulting from Content you supply.</p>
        <h5>Prohibited use</h5>
        <p>6. You may not use the Website for any of the following purposes:</p>
        <ul>
        <li>a. in any way which causes, or may cause, damage to the Website or interferes 
        with any other person's use or enjoyment of the Website;<li>
        <li>b. in any way which is harmful, unlawful, illegal, abusive, harassing, threatening 
        or otherwise objectionable or in breach of any applicable law, regulation, 
        governmental order;<li>
        <li>c. making, transmitting or storing electronic copies of Content protected 
        by copyright without the permission of the owner.<li>
        </ul>
        <h5>Registration</h5>
        <p>7. You must ensure that the details provided by you on registration or at any 
        time are correct and complete.<p>
        <p>8. You must inform us immediately of any changes to the information that you 
        provide when registering by updating your personal details to ensure we can 
        communicate with you effectively.</p>
        <p>9. We may suspend or cancel your registration with immediate effect for any 
        reasonable purposes or if you breach these terms and conditions.</p>
        <p>10. You may cancel your registration at any time by informing us in writing to the 
        address at the end of these terms and conditions. If you do so, you must immediately 
        stop using the Website. Cancellation or suspension of your registration does not affect 
        any statutory rights.</p>
        <h5>Password and security</h5>
        <p>11. When you register on this Website, you will be asked to create a password, 
        which you should keep confidential and not disclose or share with anyone.</p>
        <p>12. If we have reason to believe that there is or is likely to be any misuse of 
        the Website or breach of security, we may require you to change your password or suspend 
        your account.</p>
        <h5>Links to other websites</h5>
        <p>13. This Website may contain links to other sites. Unless expressly stated, 
        these sites are not under the control of Ultra Agent Limited or that of our affiliates.</p>
        <p>14. We assume no responsibility for the content of such Websites and disclaim liability 
        for any and all forms of loss or damage arising out of the use of them.</p>
        <p>15. The inclusion of a link to another site on this Website does not imply any 
        endorsement of the sites themselves or of those in control of them.</p>
        <h5>Privacy Policy and Cookies Policy</h5>
        <p>16. Use of the Website is also governed by our Privacy Policy and Cookies Policy,
         which are incorporated into these terms and conditions by this reference. 
         To view the Privacy Policy and Cookies Policy, 
         please click on the following: _______________ and _______________.</p>
         <h5>Availability of the Website and disclaimers</h5>
         <p>17. Any online facilities, tools, services or information that Ultra Agent 
         Limited makes available through the Website (the Service) is provided "as is" and 
         on an "as available" basis. We give no warranty that the Service will be free of defects 
         and/or faults. To the maximum extent permitted by the law, we provide no warranties 
         (express or implied) of fitness for a particular purpose, accuracy of information, 
         compatibility and satisfactory quality. Ultra Agent Limited is under no obligation to 
         update information on the Website.</p>
         <p>18. Whilst Ultra Agent Limited uses reasonable endeavours to ensure that the Website 
         is secure and free of errors, viruses and other malware, we give no warranty or guaranty 
         in that regard and all Users take responsibility for their own security, that of their 
         personal details and their computers.</p>
         <p>19. Ultra Agent Limited accepts no liability for any disruption or non-availability 
         of the Website.</p>
         <p>20. Ultra Agent Limited reserves the right to alter, suspend or discontinue any part 
         (or the whole of) the Website including, but not limited to, any products and/or services 
         available. These terms and conditions shall continue to apply to any modified version of 
         the Website unless it is expressly stated otherwise.</p>
         <h5>Limitation of liability</h5>
         <p>21. Nothing in these terms and conditions will: (a) 
         limit or exclude our or your liability for death or personal injury resulting 
         from our or your negligence, as applicable; (b) limit or exclude our or your liability 
         for fraud or fraudulent misrepresentation; or (c) limit or exclude any of our or your 
         liabilities in any way that is not permitted under applicable law.</p>
         <p>22. We will not be liable to you in respect of any losses arising out of 
         events beyond our reasonable control.</p>
         <p>23. To the maximum extent permitted by law, Ultra Agent Limited accepts no liability 
         for any of the following:</p>
         <ul>
         <li>a. any business losses, such as loss of profits, income, revenue, anticipated savings, 
         business, contracts, goodwill or commercial opportunities;</li>
         <li>b. loss or corruption of any data, database or software;</li>
         <li>c. any special, indirect or consequential loss or damage.</li>
         </ul>
         <h5>General</h5>
         <p>24. You may not transfer any of your rights under these terms and conditions 
         to any other person. We may transfer our rights under these terms and conditions 
         where we reasonably believe your rights will not be affected.</p>
         <p>25. These terms and conditions may be varied by us from time to time. Such revised 
         terms will apply to the Website from the date of publication. Users should check the 
         terms and conditions regularly to ensure familiarity with the then current version.</p>
         <p>26. These terms and conditions together with the Privacy Policy and Cookies Policy 
         contain the whole agreement between the parties relating to its subject matter and 
         supersede all prior discussions, arrangements or agreements that might have taken place 
         in relation to the terms and conditions.</p>
         <p>27. The Contracts (Rights of Third Parties) Act 1999 shall not apply to these terms and 
         conditions and no third party will have any right to enforce or rely on any provision of 
         these terms and conditions.</p>
         <p>28. If any court or competent authority finds that any provision of these terms and 
         conditions (or part of any provision) is invalid, illegal or unenforceable, that provision 
         or part-provision will, to the extent required, be deemed to be deleted, and the validity 
         and enforceability of the other provisions of these terms and conditions will 
         not be affected.</p>
         <p>29. Unless otherwise agreed, no delay, act or omission by a party in exercising any 
         right or remedy will be deemed a waiver of that, or any other, right or remedy.</p>
         <p>30. This Agreement shall be governed by and interpreted according to the law of England 
         and Wales and all disputes arising under the Agreement (including non-contractual disputes 
         or claims) shall be subject to the exclusive jurisdiction of the English and Welsh courts.</p>
         <h5>Ultra Agent Limited details</h5>
         <p>31. Ultra Agent Limited is a company incorporated in England and Wales with registered 
         number 10510063 whose registered address is 9 Rotherwick hill, Ealing, London, 
         W5 3EQ and it operates the Website www.ultraagent.co.uk.</p>
         <p>You can contact Ultra Agent Limited by email on Hello@ultragent.co.uk.</p>
         <h5>Attribution</h5>
         <p>32. These terms and conditions were created using a document from Rocket 
         Lawyer <a href="https://www.rocketlawyer.co.uk">(https://www.rocketlawyer.co.uk)</a>
         </p>
      </div>
      </div>
    </div>
  </div>
</div>
