.terms_of_services{
    background-image: url(../../../assets/terms-of-services-bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}

.terms_of_services_heading h2{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #000;
    padding: 20px 0 10px;
}

.terms_of_services_content{
    background-color: rgba(255, 255, 255);
    padding: 30px 40px;
    border-radius: 5px;
    margin: 60px 0;
    box-shadow: 0 3px 1px -2px rgba(255, 255, 255, .2), 0 2px 2px 0 rgba(255, 255, 255, .14), 
    0 1px 5px 0 rgba(255, 255, 255, .12);
}
.terms_of_services_content li {
    list-style-type: none;
    font-size: 14px;
}
.terms_of_services_content p{
  font-size: 14px;
}