<mat-toolbar-row class="dialog-toolbar">
  <p class="letter-text text-center">U</p>
  <span class="dialog-header">From: Ultra Agent Control</span>
  <span class="example-spacer"></span>
  <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
</mat-toolbar-row>
<mat-dialog-content>
  <div class="dialog-subject">
    <p>Subject Details : Patrick Smith</p>
    <p>Details:</p>
    <div class="details_content">
      <p>Registration body licence No 123456 has expired</p>
    </div>
    <div class="suspend_worker_button text-center">
      <button class="suspend_btn" (click)="suspendWorkerCancelClick()">SUSPEND WORKER</button>
    </div>
  </div>
</mat-dialog-content>