<!DOCTYPE html>
<html>
    <head>
        <title>Employer Bookings</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <style>
            body{
                font-family: Roboto;
            }
            tbody{
                font-size: 15px;
            }
            .employer-booking-container{
                margin: 20px;
            }
            .ultra-agent-logo{
                width: 150px;
                height: 150px;
                padding-left: 20px;
            }
            .ultra-agent-logo img{
                width: 100%;
                height: 100%;
            }
            .contact-details-text{
                margin: 0;
                padding-bottom: 7px;
                font-size: 12px;
                color: #808080;
            }
            .clear{
                clear: both;
            }
            .header{
                width: 100%;
            }
            .contact-details{
                display: inline-block;
                margin: 0;
                width: 31.3%;
                padding-left: 20px;

            }
            .company-heading{
                display: inline-block;
                margin: 0;
                width: 31.3%;
            }
            .company-heading h4{
                margin: 0;
                text-align: center;
                color: #4e6eff;
            }
            .period{
                display: inline-block;
                width: 31.3%;
                padding-right: 20px;
            }
            .period-content{
                float: right;
            }
            .period-content span{
                text-align: right;
            }
            .period h5{
                margin: 0;
                color: #4e6eff;
                padding-bottom: 10px;
            }
            .period p{
                margin: 0;
                padding-bottom: 7px;
                font-size: 12px;
                color: #808080;
            }
            .booking-report-sec{
                margin: 30px 0;
            }
            .booking-report-heading-sec{
                padding: 10px 0;
                background-color: #4e6eff;
                background-image: linear-gradient(to right, #2b3c7e , #7992f8, #5a78f7);
            }
            .booking-report-heading{
                text-align: center;
                margin: 0;
                color: #fff;
            }
            .booking-report-table{
                border: 1px solid #c3c3c3;
                width: 100%;
                border-collapse: collapse;
            }
            .table-col{
                border-right: 1px solid #c3c3c3;
                padding: 10px 20px;
                width: 25%;
            }
            .table-col span{
               color: #4e6eff;
                float: right;
            }
            .bookings-heading h4{
                margin: 0;
                text-align: center;
                color: #4e6eff;
            }
            .table-content{
                width: 100%;
                border-collapse: collapse;
            }
            .table-heading{
                background-color: #4e6eff;
                background-image: linear-gradient(to right, #2b3c7e , #5977f4, #a0aee9);
            }
            .table-heading th{
                padding: 10px;
                color: #fff;
                border-left: 1px solid #fff;
            }
            .bookings{
                margin: 10px 0 30px;
            }
            .bookings-heading{
                padding-bottom: 10px;
            }
            .table-body{
                border: 1px solid #c3c3c3;
            }
            .table-body td{
                border-right: 1px solid #c3c3c3;
                padding: 10px;
            }
            .inline-content{
               display: inline-block;
            }
            .from-to-content{
                padding-left: 15px;
            }
            
        </style>
    </head>
    <body>
        <div class="employer-booking-container">
            
            <!-- Logo -->
            <div class="ultra-agent-logo">
                <img src="../../../assets/ultra-agent-logo.png">
            </div>
            
            <!-- Header -->
            <div class="header">
                
                <!-- Contact Details -->
                <div class="contact-details">
                    <p class="contact-details-text">E-mail: <span>hello@ultraagent.co.uk</span></p>
                    <p class="contact-details-text">Cell Phone: <span>+447852317228</span></p>
                    <p class="contact-details-text">Website: <span>www.ultraagent.co.uk</span></p>
                </div>
                
                <!-- Company Heading -->
                <div class="company-heading">
                    <h4>{{companyName.toUpperCase()}}</h4>
                </div>
                
                <!-- Period -->
                <div class="period">
                    <div class="period-content">
                        <h5>PERIOD</h5>
                        <div class="from-to-label inline-content">
                            <p>From : </p>
                            <p>To : </p>
                        </div>
                        <div class="from-to-content inline-content">
                            <p>{{displayStartStr}}</p>
                            <p>{{displayEndStr}}</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                
                <!-- Booking Report -->
                <div class="booking-report-sec">
                    <div class="booking-report-heading-sec">
                        <p class="booking-report-heading">BOOKINGS REPORT ON {{generatedAtStr}}</p>
                    </div>
                    <table class="booking-report-table">
                        <tr>
                            <td class="table-col">Total Bookings : <span>{{totalBookings}}</span></td>
                            <td class="table-col" *ngIf="type=='all' || type=='bookings'">Active Bookings : <span>{{mybookings.length}}</span></td>
                            <td class="table-col" *ngIf="type=='all' || type=='cancelled'">Cancelled Bookings : <span>{{cancelledbookings.length}}</span></td>
                            <td class="table-col"></td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <!-- Bookings -->
            <div class="bookings" *ngIf="type=='all' || type=='bookings'">
                <div class="bookings-heading">
                    <h4>BOOKINGS</h4>
                </div>
                <div class="bookings-table">
                    <table class="table-content">
                      <thead class="table-heading">
                        <tr>
                          <th>Start Time</th>
                          <th>Shift No</th>
                          <th>Location</th>
                          <th>Fee (&pound;/h)</th>
                          <th>Supervisor / Contact Person</th>
                          <th>Cell No</th>
                        </tr>
                      </thead>
                      <tbody class="table-body">
                        <tr *ngFor="let aBooking of mybookings">
                          <td>{{aBooking.shiftStartDateTime.toDate() | date:'MM/dd/yyyy HH:mm a'}}</td>
                          <td>{{aBooking.shiftSubCategory}} #{{aBooking.shiftNo}}</td>
                          <td>{{aBooking.address}}</td>
                          <td>&pound; {{aBooking.fee}}</td>
                          <td>{{aBooking.contactpername}}</td>
                          <td>{{aBooking.contactphonenumber}}</td>
                        </tr>
                       
                      </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Cancelled Bookings -->
            <div class="bookings" *ngIf="type=='all' || type=='cancelled'">
            <div class="bookings-heading">
                <h4>CANCELLED BOOKINGS</h4>
            </div>
            <div class="bookings-table">
                <table class="table-content">
                  <thead class="table-heading">
                    <tr>
                      <th>Start Time</th>
                      <th>Shift No</th>
                      <th>Location</th>
                      <th>Fee (&pound;/h)</th>
                      <th>Supervisor / Contact Person</th>
                      <th>Cell No</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                        <tr *ngFor="let aBooking of cancelledbookings">
                            <td>{{aBooking.shiftStartDateTime.toDate() | date:'MM/dd/yyyy HH:mm a'}}</td>
                            <td>{{aBooking.shiftSubCategory}} #{{aBooking.shiftNo}}</td>
                            <td>{{aBooking.address}}</td>
                            <td>&pound; {{aBooking.fee}}</td>
                            <td>{{aBooking.contactpername}}</td>
                            <td>{{aBooking.contactphonenumber}}</td>
                        </tr>
                  </tbody>
                </table>
            </div>
            </div>
        </div>
    </body>
</html>
