<div class="registration-content">
    <mat-toolbar-row>
      <span class="registration-heading">Workers</span>
      <span class="example-spacer"></span>
      <div class="available-workers">Available Workers: <span>{{workerslist.length}}</span></div>
    </mat-toolbar-row>
</div>
<div class="filter-button-sec clearfix">
  <!-- <form class="top-search-form">
    <input placeholder="Search Worker" type="text" [(ngModel)]="filterSearchText" id="searchTextId" name="searchTextName">
    <mat-icon aria-hidden="true">search</mat-icon>
  </form> -->
  <!-- <span class="example-spacer"></span> -->
  <div class="dropdown worker-filter-dropdown float-right">
    <button class="btn filters-workers-btn dropdown-toggle" type="button" 
    id="dropdownMenuButton" data-toggle="dropdown" 
    aria-haspopup="true" aria-expanded="false">
      Sort workers {{filterWorkersText.length > 0? '- '+filterWorkersText:''}}
    </button>
    <div class="dropdown-menu worker-filter-dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item"  *ngIf="filterWorkersText.length > 0"
      (click)="filterWorkersSelected('')">-None-</a>
      <a class="dropdown-item" *ngFor="let subcat of subcategories" 
      (click)="filterWorkersSelected(subcat)">{{subcat}}</a>
    </div>
  </div> 
</div>
<div class="employer-worker-list">
  <div class="worker-container" id="workers">
    <div class="workers-tab-sec">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let profile of workerslist | employerworkersfilter:filterSearchText:filterWorkersText | employerworkersorderfilter">
          <div class="worker-content" (click)="openWorkerDialog(profile)">
            <div class="worker-image">
              <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
              <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            </div>
            <h3 class="worker-text text-center">{{ profile.firstName }} {{profile.lastName}}</h3>
            <p class="worker-sub-text text-center">{{ profile.wProfession }}</p>
            <!-- <p class="ratings-text inline">Ratings:</p>
            <div class="rating-icon inline">
              <span><mat-icon class="star">star</mat-icon></span>
              <span><mat-icon class="star">star</mat-icon></span>
              <span><mat-icon class="star">star</mat-icon></span>
              <span><mat-icon class="star">star</mat-icon></span>
              <span><mat-icon class="star">star</mat-icon></span>
            </div> -->
            <div class="d-flex justify-content-center">
              <p class="ratings-text">Ratings<span>:</span></p>
              <!-- <div class="rating-icon">
                <span><mat-icon class="star">star</mat-icon></span>
                <span><mat-icon class="star">star</mat-icon></span>
                <span><mat-icon class="star">star</mat-icon></span>
                <span><mat-icon class="star">star</mat-icon></span>
                <span><mat-icon class="star">star</mat-icon></span>
              </div> -->
              <star-rating [starType]="'svg'" [rating]="profile.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

