.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}

mat-icon.clear-icon{
    position: absolute;
    right: 20px;
    color: #555;
    padding: 5px;
    top: 20px;
    background-color: transparent;
    z-index: 99;
    cursor: pointer;
    height: 40px;
    width: 40px;
    font-size: 30px;
    /* font-weight: 500; */
    background-color: #ccc;
}
  
.location-map-view-container{
    /* margin-bottom: 20px;
    padding: 0 40px; */
    position: relative;
}
.dialog-toolbar{
    position: absolute;
    right: 0;
}
.map-container{
    position: relative
}
.address-search-input{
    width: 90%;
    top: 20px;
    position: absolute;
    left: 40px;
    z-index: 9;
}
.address-search-form{
    position: relative;
    background-color: #5271ff;
    padding: 7px 10px;
    border-radius: 5px;
    color: #fff;
}
.address-search-form .material-icons {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    color: #fff;
}
.address-search-form input {
    cursor: text;
    border: none;
    background: none;
    padding: 0 25px 0 0;
    outline: 0;
    width: 100%;
    color: #fff;
}
.map-image{
    width: 100%;
}

#search-input::-webkit-input-placeholder {
    color:    #efefef;
}
#search-input:-moz-placeholder {
    color:    #efefef;
}
#search-input::-moz-placeholder {
    color:    #efefef;
}
#search-input:-ms-input-placeholder {
    color:    #efefef;
}
agm-map {
    height: 350px;
  }

  .sebm-google-map-container {
    height: 350px;
  }