<!-- <mat-toolbar-row class="dialog-toolbar clearfix"> -->
  <!-- <div class="dialog-toolbar-heading"><h3 class="dialog-toolbar-heading">WORKER DETAILS</h3></div>
  <span class="example-spacer"></span> -->
  <!-- <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon> -->
  <!-- <div class = "row">
      <h4 *ngIf="userLocation != null">User Coordinates: {{userLocation.position}}</h4>
      </div> -->
<!-- </mat-toolbar-row> -->
  
<mat-dialog-content>
    <div class="location-map-view-container">
        <mat-toolbar-row class="dialog-toolbar">
          <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
        </mat-toolbar-row>
        <div class="map-container">
          <div class="address-search-input">
              <form class="address-search-form col-md-10">
                <input placeholder="Search Address Here" type="text" id="search-input" [(ngModel)] = 'searchInput' name='searchInput'>
                <mat-icon aria-hidden="true" (click)="searchButtonClicked()">search</mat-icon>
              </form>
          </div>
          <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
              <agm-marker 
                [(latitude)]="location.marker.lat" 
                [(longitude)]="location.marker.lng" 
                [markerDraggable]="location.marker.draggable" 
                (dragEnd)='markerDragEnd($event)'>
              </agm-marker>
            </agm-map>

            <!-- <div class="container-fluid">
                <div class='row'>
                  <div class="form-group">
                    <label class='col-sm-2'>Address Line 1</label>
                    <input class='col-sm-10' type='text' [(ngModel)]='location.address_level_1' class="form-control" placeholder='Office, Apt, Home, Street'>
                  </div>
                  <div class="form-group">
                    <label class='col-sm-2'>Address Line 2</label>
                    <input class='col-sm-10'  [(ngModel)]='location.address_level_2' class='form-control' placeholder='City'/>
                  </div>
               
                  <div class="form-group">
                    <label class='col-sm-2'>State / Province / Region</label>
                    <input class='col-sm-10'  [(ngModel)]='location.address_state' class='form-control' placeholder='State'>
                  </div>
               
                  <div class="form-group">
                    <label class='col-sm-2'>Country</label>
                    <input class='col-sm-10'  [(ngModel)]='location.address_country' class='form-control' placeholder='State'>
                  </div>
               
                  <div class="form-group">
                    <label class='col-sm-2'>Postal / Zip code</label>
                    <input class='col-sm-10'  [(ngModel)]='location.address_zip' class='form-control' placeholder='Zip'>
                  </div>
               
                  <button (click)='updateOnMap()' type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
              -->
        </div>

       
     
    </div>
  </mat-dialog-content>