  <div class="dialog-toolbar">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-10 col-10">
          <h3 class="toolbar-heading">SHIFT NO: {{booking.shiftSubCategory}} #{{booking.shiftNo}}</h3>
        </div>
        <div class="col-md-2 col-sm-2 col-2">
          <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
        </div>
      </div>
    </div>
  </div>
<mat-dialog-content>
  <div class="dialog-subject">
    <div class="details_content">
      <h5 class="description-heading">Shift Description :</h5>
      <p class="description-text">{{booking.shift.description}}</p>
    </div>
    <div class="shift-description-content">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold"><img src="../../../assets/calendericon-black.png">Date &amp; Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Duration<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shift.duration}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Fees<span>:</span></div>
              <div class="order-2 p-b breaking-word">&pound;{{booking.shift.fee}}/h</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Needed Experience<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shift.expNeeded}} {{booking.shift.expNeeded > 1? 'yrs':'yr'}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Contact Person<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shift.contactpername}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shift.phoneNumber}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Location<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shift.address}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">City<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shift.city}}</div>
            </div>
          </div>
        </div>
    </div>

    <div class="underline"></div>
    <div class="worker-details-sec">
      <h5 class="worker-details-heading">WORKER DETAILS</h5>
      <div class="worker-details-content">
        <div class="row">
          <div class="col-md-6">
            <!-- <p><span class="text-bold">Worker Name :</span>Walter White</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Worker Name<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workerFirstName}} {{booking.workerLastName}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <!-- <p><span class="text-bold">Phone Number :</span>0791123456</p> -->
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workerPhoneNumber}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cancelreasoncontainer" *ngIf="!hideCancelledReason">
      <div class="underline"></div>
      <div class="reason-for-cancelation">
        <h5 class="reason-for-cancellation-heading">REASON FOR CANCELLATION</h5>
        <div class="reason-for-cancellation-content">
          <div class="row">
            <div class="col-md-4">
              <div class="text-bold">{{booking.cancelledBy == booking.workerId ? 'Worker': 'Employer'}}<span>:</span></div>
              <div class="breaking-word">{{booking.cancelReason}}</div>
            </div>
            <div class="col-md-8">
              <div class="text-bold">Brief Description<span>:</span></div>
              <div class="breaking-word"><p>{{booking.cancelBrief}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cancel-booking text-center" *ngIf="!hideCancelButton">
      <button class="cancel-booking-btn" (click)="openCancelBookingDialog()">CANCEL BOOKING</button>
    </div>
  </div>
</mat-dialog-content>
