<div class="review-worker-sec">
  <mat-toolbar-row>
    <h4 class="review-worker-heading">Review Worker</h4>
  </mat-toolbar-row>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="review-worker-content">
          <div class="review-worker-content-heading d-flex flex-row bd-highlight mb-3">
            <div class="review-worker-image">
                <!-- <img [src]="profile == undefined ? '' : profile.profilePicture != undefined? profile.profilePicture.url : '' || 
                '../../../assets/ultraagent_admin_image.png' "> -->
                <img [src]="profile == undefined ? '' : profile.profilePicture != undefined? profile.profilePicture.url : '' " onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            </div>
            <div class="review-worker-text">
              <h4>{{profile == undefined ? '' : profile.firstName}} {{profile == undefined ? '' : profile.lastName}}</h4>
              <p>{{profile == undefined ? '' : profile.wSubCategory}} </p>
            </div>
          </div>
          <div class="review-worker-below-heading-sec">
            <p>How was the communication with the worker?</p>
            <div class="rating-star">
              <!-- <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span> -->
              <star-rating [starType]="'svg'" [rating]="0" 
              (ratingChange)="onCommRatingChange($event)" [showHalfStars]="true"></star-rating>
            </div>
            <p>Did the worker deliver as described?</p>
            <div class="rating-star">
              <!-- <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span> -->
              <star-rating [starType]="'svg'" [rating]="0" 
              (ratingChange)="onDeliveryRatingChange($event)" [showHalfStars]="true"></star-rating>

            </div>
            <p>Would you hire this worker again or recommend?</p>
            <div class="rating-star">
              <!-- <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span>
              <span><img src="../../../assets/review-worker-img.PNG"></span> -->
              <star-rating [starType]="'svg'" [rating]="0" 
              (ratingChange)="onWorkAgainRatingChange($event)" [showHalfStars]="true"></star-rating>

            </div>
            <p>Tell us why you hired this worker.Did you achieve your goal?</p>
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="5" id="comment" name="comment" [(ngModel)] = "whyHiredBrief"></textarea>
              </div>
            </form>
            <div class="submit text-center">
              <button class="submit-btn" (click)="onSubmitClick()">SUBMIT</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>