.mat-toolbar-row{
    padding: 20px 22px 20px 22px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
}
.review-worker-content{
    margin: 50px 0;
}
.review-worker-heading{
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 0px;
}

.review-worker-content-heading{
    background-color: #c3ccf7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 20px 0 20px 40px;
}
.mb-3{
    margin-bottom: 0 !important;
}
textarea{
    resize: none;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #f3f3f3;
}

.review-worker-image{
    width: 60px;
    height: 60px;
}
.review-worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.review-worker-text{
    padding-top: 3px;
    padding-left: 15px;
}

.review-worker-text h4{
    margin-bottom: 0px;
    font-size: 23px;
    font-weight: 400;
    font-family: Roboto;
}
.review-worker-text p{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto;
}
.review-worker-below-heading-sec{
    background-color: #f3f3f3;
    padding: 20px 20px 10px 50px; 
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}
.review-worker-below-heading-sec p{
    margin-bottom: 0;
    padding: 5px 0 8px;
}
.rating-star{
    padding-bottom: 5px;
}
.submit-btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px;
    border: 0;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px 0 10px;
    cursor: pointer;
}