.example-spacer {
    flex: 1 1 auto;
  }
.shifts-content{
    padding: 5px 0;
    border-bottom: 1px solid #e2e2e2;
}
.shifts-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
}
.new-shifts-heading{
    font-size: 12px;
    color: #a4a4a4;
    font-weight: 400;
    line-height: 5px;
}
.number{
    margin-bottom: 0 !important;
}
.new-shifts{
    /* box-shadow: 0 9px 5px -1px rgba(0,0,0,.04), 0 5px 2px 0 
    rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.12); */
    box-shadow: 0px 5px 5px 0px rgb(236, 234, 234), 0 2px 2px 0 rgb(236, 234, 234), 
    0 1px 5px 0 rgb(218, 218, 218);
    padding: 0 50px;
}

.action-dropdown{
    cursor: pointer;
}
.shifts-tab{
    border: 0;
}
.shifts-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 15px;
    text-align: center;
    margin-left: 1px;
}
.shifts-link.active{
    color: #fff;
    background-color: #5271ff;
}
.shifts-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.tab-first-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tab-btn{
    border-radius: 0;
}
.tab-last-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
 
/* table {
  border-collapse:collapse;
 }

td {
  border:1px solid lightgray;
}

.shift-table-sec {
  max-width:100%;
  overflow-x:auto;
  border:1px solid black;
  background-color:lightgray;
}

.shift-table {
  background-color:transparent;
  min-width:100%;
}

.shift-table thead,
.shift-table tbody {
  display:block;
}

.shift-table thead {
  
  border-bottom:1px solid black;
  
}

.shift-table thead > tr {
  width:calc(100% - 12px);
}

.shift-table tbody {
  max-height:100px;
  overflow-x:hidden;
 }
 
 .shift-table tr {
   display:flex;
 }
 
.shift-table td, 
.shift-table th {
  white-space:nowrap;
  padding:15px 20px;
  width:100%;
  background-color:white;
}

.shift-table th {
  background-color:lightgray;
}

.shift-table tr:nth-child(2n) > td {
  background-color:#EEFFEE;
}

.shift-table th {
  border-left:1px solid black;
}

.shift-table th:first-child {
  border-left:0;
} */

/* .shift-table th:nth-child(3),
.shift-table td:nth-child(3) {
  min-width:30%;
} */

.shifts-tab-sec{
    border: 1px solid #c9c9c9;
    margin: 30px 15px 30px 30px;
}
.pagination-sec{
    padding: 5px 15px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.pagination{
    margin-bottom: 0;
}
.regn-page-item.active .page-link-number{
    background-color: #DF8C40;
    border: 0;
}
.regn-page-item .page-link-number{
    border: 0;
    background-color: #f4f4f4;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 50px;
    margin: 5px 5px 0;
}
.regn-page-item .page-link-text{
    border: 0;
    font-size: 14px;
}
.page-link-text{
    color: #9e9e9e;
}
.page-link-number{
    color: #000;
}
.table-striped tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff;
    border: 0;
}
.table-row{
    background-color: #f4f4f4;
}
.table-row th{
    font-size: 14px;
    font-weight: 700;
}
.table-body td{
   font-size: 14px;
   color: #a6a6a6;
   padding: 13px 0;
   border-top: 0;
}
.table-body td a{
    color: #DF8C40;
    cursor: pointer;
}
.table-bordered{
    margin-bottom: 0 !important;
}
.table-bordered th{
    border-bottom: 0;
}
.table td{
    border-top: 0;
    border-bottom: 0;
    padding: 15px 20px;
}
.dropdown-menu.action-dropdown-menu{
    padding: 0;
    background-color: red;
}
.tab-heading{
    border-bottom: 2px solid #e2e2e2;
    padding: 15px 0 15px 15px;
}
/* .tab-below-sec{
    padding: 20px 0 20px 20px;
} */
.select-tab-date{
    padding: 15px 0 15px 15px;
}
.select-date{
    padding: 5px 0;
}

.sort-dropdown{
    background-color: #efefef;
    height: 40px;
    width: 100px;    
    border: 1px solid #d2d1d1;
    margin: 15px 15px 15px 0;
    cursor: pointer;
}
.sort-dropdown option{
    cursor: pointer;
}
/* .select-date{
    padding-right: 20px;
} */
.select-date span{
    padding: 0 5px;
}
.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 240px;
    border: 1px solid #d2d1d1;
}
.calender-picker-input-sec{
    position: relative;
}
.calender-picker-image{
    vertical-align: top;
}
.mat-icon-button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.calender-picker-bg{
    position: absolute;
    right: 0;
}

@media (max-width: 1104px) {
   .registration-tab-sec .mat-toolbar-row{
       height: 100px;
   }
}
@media (max-width: 840px){
    .select-tab-date{
        float: none !important;
        padding-right: 15px;
    }
    .sort-dropdown{
        float: none !important;
        margin: 0 0 15px 15px;
    }
}
@media (max-width: 768px){
    .shifts-tab-sec{
        margin: 20px;
    }
 }
@media (max-width: 453px) {
    .registration-tab-sec .mat-toolbar-row{
        height: 150px;
    }
}