<div class="shifts-content">
    <mat-toolbar-row>
      <span class="shifts-heading">Shifts</span>
      <span class="example-spacer"></span>
      <div class="text-center">
        <div class="new-shifts" *ngIf="!hideNewShiftsThisWeekTitle">
          <span class="new-shifts-heading">New Shifts This Week</span>
          <p class="number">{{NewShiftsThisWeek}}</p>
        </div>
        <div class="new-shifts" *ngIf="!hideBookingsShiftsTitle">
          <span class="new-shifts-heading">Bookings</span>
          <p class="number">{{(blist | adminshiftsbookingsfilter).length}}</p>
        </div>
        <div class="new-shifts" *ngIf="!hideCancelledShiftsTitle">
          <span class="new-shifts-heading">Cancelled Bookings</span>
          <p class="number">{{(blist | adminshiftscancelledfilter).length}}</p>
        </div>
        <div class="new-shifts" *ngIf="!hideOngoingShiftsTitle">
          <span class="new-shifts-heading">Ongoing Shifts</span>
          <p class="number">{{(blist | adminshiftsongoingfilter).length}}</p>
        </div>
        <div class="new-shifts" *ngIf="!hideApprovedShiftsTitle">
          <span class="new-shifts-heading">Approved Shifts</span>
          <p class="number">{{(blist | adminshiftsapprovedfilter).length}}</p>
        </div>
        <div class="new-shifts" *ngIf="!hideOpenDisputesShiftsTitle">
          <span class="new-shifts-heading">Open Disputes Shifts</span>
          <p class="number">{{(blist | adminshiftsdisputesopenfilter).length}}</p>
        </div>
        <div class="new-shifts" *ngIf="!hideResolvedDisputesShiftsTitle">
          <span class="new-shifts-heading">Resolved Disputes Shifts</span>
          <p class="number">{{(blist | adminshiftsdisputesresolvedfilter).length}}</p>
        </div>
      </div>
    </mat-toolbar-row>
  </div>
    <div class="shifts-tab-sec">
      <div class="tab-heading">
        <ul class="nav nav-tabs shifts-tab" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active shifts-link tab-first-btn" id="posted-tab" data-toggle="tab" 
            href="#posted" role="tab" aria-controls="posted" aria-selected="true" 
            (click)="onPostedTabSelected()">Posted</a>
          </li>
          <li class="nav-item">
            <a class="nav-link shifts-link tab-btn" id="bookings-tab" data-toggle="tab" 
            href="#bookings" role="tab" aria-controls="bookings" aria-selected="true" 
            (click)="onBookingsTabSelected()">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link shifts-link tab-btn" id="cancelled-tab" data-toggle="tab" 
            href="#cancelled" role="tab" aria-controls="cancelled" aria-selected="true" 
            (click)="onCancelledTabSelected()">Cancelled</a>
          </li>
          <li class="nav-item">
              <a class="nav-link shifts-link tab-btn" id="ongoing-tab" data-toggle="tab" 
              href="#ongoing" role="tab" aria-controls="ongoing" aria-selected="true" 
              (click)="onOnGoingTabSelected()">On Going</a>
            </li>
            <li class="nav-item">
              <a class="nav-link shifts-link tab-btn" id="approved-tab" data-toggle="tab" 
              href="#approved" role="tab" aria-controls="approved" aria-selected="true" 
              (click)="onApprovedTabSelected()">Approved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link shifts-link tab-btn" id="open-disputed-tab" data-toggle="tab" 
              href="#open-disputed" role="tab" aria-controls="open-disputed" aria-selected="true" 
              (click)="onOpenDisputesTabSelected()">Open Disputes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link shifts-link tab-last-btn" id="resolved-disputed-tab" data-toggle="tab" 
              href="#resolved-disputed" role="tab" aria-controls="resolved-disputed" aria-selected="true" 
              (click)="onResolvedDisputesTabSelected()">Resolved Disputes</a>
            </li>
        </ul>
      </div>
      <div class="tab-below-sec clearfix">
        <div class="select-tab-date float-left">
          <div class="d-flex flex-row">
            <div class="select-date">Select By Date<span>:</span></div>
            <div class="calender-picker-input-sec">
              <input class="calender-picker-input" matInput [matDatepicker]="filterDatePicker" placeholder="DD/MM/YYYY" [(ngModel)]="filterDate" (click)="filterDatePicker.open()">
              <mat-datepicker-toggle matSuffix [for]="filterDatePicker" class="calender-picker-bg">
                <mat-icon matDatepickerToggleIcon>
                  <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                </mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #filterDatePicker></mat-datepicker>
            </div>
          </div>
        </div>
          <select class="float-right sort-dropdown" [(ngModel)]= 'sortKey'>
            <option value="" selected class="select-sort-btn">Sort</option>
            <option value="Date" class="select-item">Date</option>
            <option value="Fee" class="select-item">Fee</option>
            <option value="City" class="select-item">City</option>
            <option value="Industry" class="select-item">Industry</option>
          </select>
        </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="posted" role="tabpanel" aria-labelledby="posted-tab">
          <div class="shift-table-sec table-responsive">
            <table class="table table-bordered table-striped table-condensed shift-table">
                <thead>
                  <tr class="text-center table-row">
                    <th>DATE &amp; TIME</th>
                    <th>SHIFT NO</th>
                    <th>INDUSTRY</th>
                    <th>FEE</th>
                    <th>EMPLOYER</th>
                    <th>CITY</th>
                    <th>DETAIL</th>
                  </tr>
                </thead>
                <tbody class="table-body shift-table-body text-center">
                  <tr *ngFor="let shift of shiftslist | adminshiftspostedfilter:filterDate | adminshiftsorderfilter:sortKey">
                    <td>{{shift.startDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                    <td>{{shift.subcategory}} #{{shift.shiftNo}}</td>
                    <td>{{shift.category}}</td>
                    <td>&pound;{{shift.fee}}/h</td>
                    <td>{{shift.companyName == undefined ? '': shift.companyName}}</td>
                    <td>{{shift.city}}</td>
                    <td><a (click)="openPostedDetailsDialog(shift)">Details</a></td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
            <div class="shift-table table-responsive">
              <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr class="text-center table-row">
                      <th>DATE &amp; TIME</th>
                      <th>SHIFT NO</th>
                      <th>INDUSTRY</th>
                      <th>FEE</th>
                      <th>EMPLOYER</th>
                      <th>WORKER</th>
                      <th>CITY</th>
                      <th>DETAIL</th>
                    </tr>
                  </thead>
                  <tbody class="table-body text-center">
                      <tr *ngFor="let booking of blist | adminshiftsbookingsfilter:filterDate | adminbookingsorderfilter:sortKey">
                        <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                        <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                        <td>{{booking.shiftCategory == undefined? booking.shift == undefined?'':booking.shift.category : booking.shiftCategory}}</td>
                        <td>&pound;{{booking.fee}}/h</td>
                        <td>{{booking.companyName}}</td>
                        <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                        <td>{{booking.city}}</td>
                        <td><a (click)="openBookingDetailsDialog(booking)">Details</a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
        <div class="tab-pane fade" id="cancelled" role="tabpanel" aria-labelledby="cancelled-tab">
            <div class="shift-table table-responsive">
              <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr class="text-center table-row">
                      <th>DATE &amp; TIME</th>
                      <th>SHIFT NO</th>
                      <th>INDUSTRY</th>
                      <th>FEE</th>
                      <th>EMPLOYER</th>
                      <th>WORKER</th>
                      <th>CITY</th>
                      <th>DETAIL</th>
                    </tr>
                  </thead>
                  <tbody class="table-body text-center">
                      <tr *ngFor="let booking of blist | adminshiftscancelledfilter:filterDate | adminbookingsorderfilter:sortKey">
                        <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                        <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                        <td>{{booking.shiftCategory == undefined? booking.shift == undefined?'':booking.shift.category : booking.shiftCategory}}</td>
                        <td>&pound;{{booking.fee}}/h</td>
                        <td>{{booking.companyName}}</td>
                        <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                        <td>{{booking.city}}</td>
                        <td><a (click)="openCancelledBookingDetailsDialog(booking)">Details</a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
        <div class="tab-pane fade" id="ongoing" role="tabpanel" aria-labelledby="ongoing-tab">
            <div class="shift-table table-responsive">
              <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr class="text-center table-row">
                      <th>DATE &amp; TIME</th>
                      <th>SHIFT NO</th>
                      <th>INDUSTRY</th>
                      <th>FEE</th>
                      <th>EMPLOYER</th>
                      <th>WORKER</th>
                      <th>CITY</th>
                      <th>DETAIL</th>
                    </tr>
                  </thead>
                  <tbody class="table-body text-center">
                      <tr *ngFor="let booking of blist | adminshiftsongoingfilter:filterDate | adminbookingsorderfilter:sortKey">
                          <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                          <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                          <td>{{booking.shiftCategory == undefined? booking.shift == undefined?'':booking.shift.category : booking.shiftCategory}}</td>
                          <td>&pound;{{booking.fee}}/h</td>
                          <td>{{booking.companyName}}</td>
                          <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                          <td>{{booking.city}}</td>
                        <td><a (click)="openOngoingBookingDetailsDialog(booking)">Details</a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
        <div class="tab-pane fade" id="approved" role="tabpanel" aria-labelledby="approved-tab">
            <div class="shift-table table-responsive">
              <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr class="text-center table-row">
                      <th>DATE &amp; TIME</th>
                      <th>SHIFT NO</th>
                      <th>INDUSTRY</th>
                      <th>FEE</th>
                      <th>EMPLOYER</th>
                      <th>WORKER</th>
                      <th>CITY</th>
                      <th>DETAIL</th>
                    </tr>
                  </thead>
                  <tbody class="table-body text-center">
                      <tr *ngFor="let booking of blist  | adminshiftsapprovedfilter:filterDate | adminbookingsorderfilter:sortKey">
                          <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                          <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                          <td>{{booking.shiftCategory == undefined? booking.shift == undefined?'':booking.shift.category : booking.shiftCategory}}</td>
                          <td>&pound;{{booking.fee}}/h</td>
                          <td>{{booking.companyName}}</td>
                          <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                          <td>{{booking.city}}</td>
                        <td><a (click)="openApprovedBookingDetailsDialog(booking)">Details</a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
        <div class="tab-pane fade" id="open-disputed" role="tabpanel" aria-labelledby="disputed-tab">
            <div class="shift-table table-responsive">
              <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr class="text-center table-row">
                      <th>DATE &amp; TIME</th>
                      <th>SHIFT NO</th>
                      <th>INDUSTRY</th>
                      <th>FEE</th>
                      <th>EMPLOYER</th>
                      <th>WORKER</th>
                      <th>CITY</th>
                      <th>DETAIL</th>
                    </tr>
                  </thead>
                  <tbody class="table-body text-center">
                      <tr *ngFor="let booking of blist | adminshiftsdisputesopenfilter:filterDate | adminbookingsorderfilter:sortKey">
                          <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                          <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                          <td>{{booking.shiftCategory == undefined? booking.shift == undefined?'':booking.shift.category : booking.shiftCategory}}</td>
                          <td>&pound;{{booking.fee}}/h</td>
                          <td>{{booking.companyName}}</td>
                          <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                          <td>{{booking.city}}</td>
                        <td><a (click)="openDisputeOpenBookingDetailsDialog(booking)">Details</a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
        </div>
        <div class="tab-pane fade" id="resolved-disputed" role="tabpanel" aria-labelledby="disputed-tab">
          <div class="shift-table table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr class="text-center table-row">
                    <th>DATE &amp; TIME</th>
                    <th>SHIFT NO</th>
                    <th>INDUSTRY</th>
                    <th>FEE</th>
                    <th>EMPLOYER</th>
                    <th>WORKER</th>
                    <th>CITY</th>
                    <th>DETAIL</th>
                  </tr>
                </thead>
                <tbody class="table-body text-center">
                    <tr *ngFor="let booking of blist  | adminshiftsdisputesresolvedfilter:filterDate | adminbookingsorderfilter:sortKey">
                        <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                        <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                        <td>{{booking.shiftCategory == undefined? booking.shift == undefined?'':booking.shift.category : booking.shiftCategory}}</td>
                        <td>&pound;{{booking.fee}}/h</td>
                        <td>{{booking.companyName}}</td>
                        <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                        <td>{{booking.city}}</td>
                        <td><a (click)="openDisputeResolvedBookingDetailsDialog(booking)">Details</a></td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
      </div>
      <!--<mat-toolbar-row>
        <span class="example-spacer"></span>
        <div class="pagination-sec">
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item regn-page-item disabled">
                    <a class="page-link page-link-text" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item active regn-page-item"><a class="page-link page-link-number">1 <span class="sr-only">(current)</span></a></li>
                  <li class="page-item regn-page-item">
                    <a class="page-link page-link-number">2</a>
                  </li>
                  <li class="page-item regn-page-item"><a class="page-link page-link-number">3</a></li>
                  <li class="page-item regn-page-item"><a class="page-link page-link-number">4</a></li>
                  <li class="page-item regn-page-item disabled">
                    <a class="page-link page-link-text">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
      </mat-toolbar-row>-->
    </div>