.example-spacer {
    flex: 1 1 auto;
  }
.mat-toolbar{
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
}
.settings-heading{
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 0px;
}
.nav-tabs{
    border-bottom: 0;
}
.settings-container{
    padding: 40px 30px;
}
.settings-tab{
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0 20px 20px;
}
.settings-tab .basic-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.settings-tab .uamargins-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.uamargin-container{
    padding:0 20px; 
}
.settings-tab .noradius-tab-btn{
    border-radius: 0;
}
.settings-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 0px;
    width: 110px;
    text-align: center;
    border-right: 1px solid #fff;
}
.settings-link.active{
    color: #fff;
    background-color: #5271ff;
    border-right: none;
}
.admin-setting-table{
    overflow-x: auto;
}
.margins-input{
    position: relative;
}
.margin-percentage{
    position: absolute;
    right: 12px;
    top: 8px;
}
.basic-title h4{
    padding: 0 10px 30px;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 22px;
}
.basic-change-password-form{
    background-color: #5271ff;
    border-radius: 8px;
    padding: 40px 30px;
}
.basic-input label{
    margin-bottom: 2px;
    color: #efefef;
    text-transform: capitalize;
    font-weight: 300;
}
.basic-input{
    margin-top: 18px;
    margin: 18px 20px 0;
}
.input-box{
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
    border: none;
    color: #838383;
    font-size: 14px;
}
.ultra-agent-btn{
    margin-top: 30px;
}
.save-button{
  background-color: #DF8C40;
  color: #fff;
  padding: 4px 40px;
  border-radius: 3px;
  box-shadow: 0 0 40px rgba(82,113,255, .3);
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}

.table-striped tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff;
    border: 0;
}
.table-row{
    background-color: #f4f4f4;
}
.table-row th{
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}
.table td{
   font-size: 14px;
   color: #a6a6a6;
   padding: 13px 10px;
   border-top: 0;
   text-align: left;
   border-bottom: 0;
}
.table-body td a{
    /*color: #DF8C40;*/
    cursor: pointer;
}
.table-bordered th{
    border-bottom: 0;
}

.action-menu{
    background-color: #9e9e9e;
    min-width: 5rem;
    margin-right: 10px;
}
.action-item{
    color: #fff;
    font-size: 14px;
}
.action-item:hover {
    background-color: #000;
}
.action-dropdown{
    cursor: pointer;
}
.action-dropdown a{
    color: #DF8C40;
}
.dropdown-cursor{
    cursor: pointer;
}
.action-dropdown-menu{
    background-color: #9e9e9e;
    min-width: 5rem;
}
.action-dropdown-menu a{
    color: #fff;
    font-size: 14px;
}
.action-dropdown-menu a:hover {
    background-color: rgba(0,0,0,.5);
}
.action-menu a{
    color: #fff;
    font-size: 14px;
}
.action-menu a:hover {
    background-color: rgba(0,0,0,.5);
}
.action-dropdown span{
    font-size: 16px;
    margin-left: 5px;
    color: #9e9e9e;
}
.dropdown-toggle::after {
    display: none;
}
.form-group{
    padding-right: 18px;
}
.form-group input{
    background-color: #efefef;
}
.form-group input.no-bg{
    background-color: #fff;
}
.form-control-bg{
    background-color: #efefef;
    border: 1px solid #d2d1d1;
    resize: none;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: transparent;
    border: 1px solid #dc8d2a;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, 
.mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, 
.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #DF8C40 !important; 
}
.settings-content {
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #e2e2e2;
}
.ualable{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

@media (max-width: 1084px){
    .mat-toolbar{
        padding: 50px 20px 50px 20px;
    }
}

@media (max-width: 768px) {
    .mat-toolbar{
        padding: 65px 20px 65px 20px;
    }
    .settings-heading{
        text-align: center;
    }
 }