<div class="settings-content">
    <h4 class="settings-heading">Settings</h4>
</div>
<ul class="nav nav-tabs settings-tab" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active settings-link basic-btn" id="basic-tab" 
    data-toggle="tab" href="#basic" role="tab" aria-controls="basic" 
    aria-selected="true">Basic</a>
    </li>
    <li class="nav-item">
    <a class="nav-link settings-link admin-btn noradius-tab-btn" 
    id="admin-tab" data-toggle="tab" href="#admin" role="tab" 
    aria-controls="admin" aria-selected="false" >Admins</a>
    </li>
    <li class="nav-item">
    <a class="nav-link settings-link addadmin-btn noradius-tab-btn" 
    id="addadmin-tab" data-toggle="tab" href="#addadmin" role="tab" 
    aria-controls="addadmin" aria-selected="false" >New Admin</a>
    </li>
    <li class="nav-item">
    <a class="nav-link settings-link uamargins-btn" id="uamargins-tab" 
    data-toggle="tab" href="#uamargins" role="tab" 
    aria-controls="uamargins" aria-selected="false" >UA Margins</a>
    </li>
  </ul>
  
  <div class="settings-container">
    <!-- tab start-->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="basic" role="tabpanel" 
      aria-labelledby="basic-tab">
          <div class="row">
              <div class="col-md-6 offset-md-3">
                <div class="basic-container">
                    <div class="basic-title text-center">
                      <h4>Change Password</h4>
                    </div>
                    <div class="basic-form-container">
                        <mat-card class="basic-change-password-form">
                            <div class="basic-input">
                              <label>Old Password</label>
                              <input class="input-box" type="password" style="width: 100%;" placeholder="" [(ngModel)]="oldPassword">
                            </div>
                            <div class="basic-input">
                              <label>New Password</label>
                              <input class="input-box" type="password" style="width: 100%;" placeholder="" [(ngModel)]="newPassword">
                            </div>
                            <div class="basic-input">
                              <label>Confirm New Password</label>
                              <input class="input-box" type="password" style="width: 100%;" placeholder="" [(ngModel)]="confirmNewPassword">
                            </div>
                            <mat-card-actions class="ultra-agent-btn text-center">
                              <button mat-button class="save-button" (click)="clickOnChangePassword()">SAVE</button>
                            </mat-card-actions>
                          </mat-card>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <div class="tab-pane fade" id="admin" role="tabpanel" aria-labelledby="admin-tab">
        <div class="admin-setting-table">
          <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr class="text-center table-row">
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Job Title</th>
                  <th>Password</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="table-body text-center">
                
                <tr *ngFor="let profile of admins">
                    <td>{{profile.firstName}} {{profile.lastName}}</td>
                    <td>{{profile.email}}</td>
                    <td>{{profile.phoneNumber}}</td>
                    <td>{{profile.jobTitle}}</td>
                    <td>***********</td>
                    <td>
                        <!-- <div class="dropdown action-dropdown">
                          <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                          </span>
                          <div class="dropdown-menu action-menu" aria-labelledby="dropdownMenuLink">
                            <div *ngIf="(this.authService.loggedInProfile.profileType == 'adminsuper')">

                              <a (click)="clickOnEditUser(profile)"><span class="dropdown-item action-item">View / Edit</span></a>
                              <a><span class="dropdown-item action-item" (click)="clickOnRemoveUser(profile)">Remove</span></a>
                            </div>
                          </div>
                        </div> -->
                      <div class="dropdown action-dropdown">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action<span>&#9662;</span>
                        </a>
                        <div class="dropdown-menu action-dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <div *ngIf="(this.authService.loggedInProfile.profileType == 'adminsuper')">
                            <a class="dropdown-item" (click)="clickOnEditUser(profile)">View / Edit</a>
                            <a class="dropdown-item" (click)="clickOnRemoveUser(profile)">Remove</a>
                          </div>
                        </div>
                      </div>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="addadmin" role="tabpanel" aria-labelledby="addadmin-tab">
          <div class="row">
            <div class="col-md-8 offset-md-2">
              <div class="addnewuser-container">
                <div class="basic-title">
                  <h4>Add New Admin</h4>
                </div>
                <div class="add-newuser-form">
                  <form class="form-container">
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">First Name</label>
                          <input type="text" class="form-control" id="fname" 
                          placeholder="" name="fname" [(ngModel)]="newUser.firstName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" class="form-control" id="lname" 
                            placeholder="" name="lname" [(ngModel)]="newUser.lastName">
                        </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Email</label>
                            <input type="email" class="form-control" id="email" 
                            placeholder="" name="email"  [(ngModel)]="newUser.email">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Phone No</label>
                              <input type="text" class="form-control" id="phoneno" 
                              placeholder="" name="phoneno" [(ngModel)]="newUser.phoneNumber" uaNumberOnly>
                          </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputPassword4">Job Title</label>
                              <input type="text" class="form-control" id="jobtitle" 
                              placeholder="" name="jobtitle"  [(ngModel)]="newUser.jobTitle">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Password</label>
                                <input type="password" class="form-control" id="password" 
                                placeholder="" name="password"  [(ngModel)]="newUser.password">
                            </div>
                          </div>
                          <label for="inputPassword4" style="margin-bottom:20px;">Rights</label>
                          <div class="form-row" style="padding-left:10px;">
                            <div class="form-group col-md-4">
                                <mat-checkbox class="checkboxcheck" name="shiftmanagement" [(ngModel)]="newUser.permsShifts">Shift Management</mat-checkbox>
                            </div>
                            <div class="form-group col-md-4">
                                <mat-checkbox class="checkboxcheck" name="bookingmanagement" [(ngModel)]="newUser.permsRegistrations">Registration Management</mat-checkbox>
                            </div>
                            <div class="form-group col-md-4">
                                <mat-checkbox class="checkboxcheck" name="timesheetmanagement" [(ngModel)]="newUser.permsTimesheets">Timesheet Management</mat-checkbox>
                            </div>
                            <div class="form-group col-md-4">
                                <mat-checkbox class="checkboxcheck" name="usermanagement" [(ngModel)]="newUser.permsUsers">User Management</mat-checkbox>
                            </div>
                          </div>
                          
                      <div class="ultra-agent-btn text-center">
                        <button mat-button type="submit" class="save-button" (click)="onNewUserSaveClicked()">SAVE</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="uamargins" role="tabpanel" aria-labelledby="uamargins-tab">
          <div class="row">
              <div class="col-md-12">
                <div class="uamargin-container">
                <div class="basic-title text-center">
                  <h4>Set UA Margins</h4>
                </div>
                <div class="add-newuser-form">
                  <form class="form-container">
                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="currentuamargin" class="ualable">Current UA Margins</label>
                          <select id="inputcurrentuamargin" class="form-control" 
                          name="inputcurrentuamargin" style="box-shadow: 0 3px 7px #e8e6e6;" 
                          [(ngModel)]="selectedIndustryOnMargin" (ngModelChange)="onChangeSelectedIndustry($event)">
                              <option selected>Select Industry</option>
                              <option [value]="i" *ngFor="let i of categories">{{i}}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="currentuamargin" class="ualable">Current UA Margins (%)</label>
                            <div class="margins-input">
                              <input type="text" class="form-control form-control-bg" id="currentuamargin" 
                              placeholder="" name="currentuamargin" [(ngModel)]="previousuamargin" disabled>
                              <span class="margin-percentage">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="newuamargin" class="ualable">New UA Margins (%)</label>
                            <div class="margins-input">
                              <input type="text" class="form-control no-bg" id="newuamargin" 
                              placeholder="" name="newuamargin" style="box-shadow: 0 3px 7px #e8e6e6;" 
                              [(ngModel)]="newuamargin" uaNumberOnly (ngModelChange)="onChangeNewMargin($event)">
                              <span class="margin-percentage">%</span>
                            </div>
                        </div>
                      </div>
                      <div class="ultra-agent-btn text-center">
                        <button mat-button type="submit" class="save-button" 
                        (click)="onMarginChangesSave()">SAVE</button>
                      </div>
                  </form>
                </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <!-- tab end-->
  </div>