<!-- <div mat-dialog-container class="dialog-content">
    <h2 mat-dialog-title class="text-center dialog-title">SUCCESS</h2>
    <h4 mat-dialog-content class="text-center dialog-sub-title">BOOKING CANCELLED</h4>
    <p mat-dialog-content class="text-center dialog-text">You will be penalized 50% charge for cancelling the shift within 24 hours to its start</p>
      <div class="ok-btn text-center">
        <button routerLink="/bookings" (click)="cancelClick()">OK</button>
      </div>
    </div> -->
<div mat-dialog-container class="dialog-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 mat-dialog-title class="text-center dialog-title">SUCCESS</h2>
        <h4 mat-dialog-content class="text-center dialog-sub-title">BOOKING CANCELLED</h4>
        <br/>
        <p mat-dialog-content class="text-center dialog-text" *ngIf="show24HrNotice">You will be penalized 50% charge for cancelling the shift within 24 hours to its start</p>
        <br/>
      </div>
    </div>
  </div>
  <div class="ok-btn text-center">
    <button routerLink="/bookings" (click)="cancelClick()">OK</button>
  </div>
</div>      
  