.dialog-content{
    padding: 50px 0;
}
.dialog-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 25px;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-sub-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 22px;
    padding: 15px 0;
}
.ok-btn button{
    color: #fff;
    outline: none;
    border: 0;
    padding: 10px 50px;
    /* margin: 50px 10px 0; */
    border-radius: 3px;
    background-color: #5271ff;
    box-shadow: 0 0 80px rgba(82,113,255, .4);
    cursor: pointer;
}
.mat-dialog-title{
    margin-bottom: 0;
}
 .dialog-text{
    padding: 0 0 20px;
} 