.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.p-b{
    padding-bottom: 20px;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 0px 30px;
    position: relative;
}
.clear-icon{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 30px;
    font-weight: 600;
}
.text-bold{
    font-size: 16px;
    font-weight: 600;
    color: #000;
 }
 .text-bold span{
     padding: 0 5px;
 }
 .breaking-word{
     word-break: break-word;
     font-size: 14px;
     font-weight: 500;
     color: #000;
     margin-top: 2px;
 }
.mat-toolbar-row{
    height: 125px;
}
.worker-image{
    width: 60px;
    height: 60px;
    position: relative;
}
.worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.inline{
    display: inline-block;
}
.no-padding{
    margin: 0;
    padding: 0;
}
.worker-col{
    max-width: 12.666667%;
}
.admin-online{
    position: absolute;
    width: 25px;
    height: 27px;
    bottom: 7px;
    left: 45px;
}
.admin-online img{
    width: 100%;
    height: 100%;
}
.worker-name-address{
    padding-top: 6px;
} 
.worker-name-address h3{
    color: #323232;
    font-size: 23px;
    font-weight: 400;
    font-family: Roboto;
    word-wrap: break-word;
    white-space: normal;
    margin-bottom: 0;
}
.worker-name-address p{
    color: #323232;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    word-wrap: break-word;
}
.email-phone{
    padding: 15px 0 0 10px;
    color: #323232;
    font-size: 15px;
    font-weight: 500;
    font-family: Roboto;
    display: inline-block;
}
.email-phone p{
    margin-bottom: 0;
}
.email_address_phone_no{
    padding: 15px 0 0 10px;
    color: #323232;
    font-size: 15px;
    font-weight: 500;
    font-family: Roboto;
    display: inline-block;
}
.email_address_phone_no p{
    margin-bottom: 0;
    word-break: break-all;
}
.dialog-subject{
    padding: 30px 80px;
    color: #323232;
}
.worker_detail{
    border-bottom: 1px solid #e2e2e2;
}
.worker_detail_data p{
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 14px;
    color: #323232;
    font-family: Roboto;
    font-weight: 400;
    line-height: 25px;
}
.deletesuspendWorker button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 9px 25px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 20px 5px 30px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}

.top-space{
    padding-top: 10px;
}


.personal-description-heading{
    font-size: 23px;
    color: #323232;
    font-family: Montserrat;
    font-weight: 400;
    padding: 5px 0;
}
.document-heading{
    font-size: 23px;
    color: #323232;
    font-family: Montserrat;
    font-weight: 400;
    padding: 5px 0;
}
.personal-description{
    border-bottom: 1px solid #e2e2e2;
    /* padding: 0 10px; */
    padding-top: 20px;
}
.personal-description-text{
    font-size: 14px;
    color: #323232;
    font-family: Roboto;
    font-weight: 500;
}
.personal-description-data{
    font-size: 14px;
    color: #323232;
    font-family: Roboto;
    font-weight: 400;
} 

.document-sec{
    padding-top: 20px;
}
.document-data-text p{
    font-size: 14px;
    color: #b44634;
    font-family: Roboto;
    font-weight: 500;
}
.document-data-download p{
    font-size: 14px;
    color: #0f38f7;
    font-family: Roboto;
    font-weight: 500;
    text-decoration: underline;
}
.print-pdf-sec{
    padding-top: 20px;
}
.print-btn-image {
   padding-right: 6px;
}
.pdf-btn-image{
    padding-left: 6px;
}
.print-pdf-btn{
    border: 0;
    outline: 0;
    background-color: #465f9e;
    color: #fff; 
    font-size: 12px;
    font-weight: 100;
    padding: 3px 7px;
    cursor: pointer;
}

@media (max-width: 768px){
    .mat-toolbar-row{
        height: 150px;
    }
    .worker-col{
        max-width: 18.66667%;
    }
    .dialog-subject{
        padding: 30px 40px;
    }
}
@media (max-width: 555px){
    .worker-col{
        max-width: 27.66667%;
    }
}