  <mat-toolbar-row class="dialog-toolbar">
    <div class="container">
     <div class="row">
      <div class="col-5">
      <div class="d-flex flex-nowrap">
        <div class="order-1 p-2">
          <div class="worker-image">
            <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
            <div class="admin-online">
              <img [src]="profile.wAvailable != false ? '../../../assets/onlinesymbol.png' : '../../../assets/offlinesymbol.png'">
            </div>
          </div>
        </div>
        <div class="order-2 p-2">
          <div class="worker-name-address">
            <h3>{{profile.firstName}} {{profile.lastName}}</h3>
            <p>{{profile.address}}</p>
          </div>
        </div>
       </div>
      </div>
      <div class="col-7">
      <div class="email-phone">
        <p>Email :</p>
        <p>Phone No :</p>
      </div>
      <div class="email_address_phone_no">
        <p>{{profile.email}}</p>
        <p>{{profile.phoneNumber}}</p>
      </div>
     </div>
     </div>
    </div>
    <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
  </mat-toolbar-row>
  <mat-dialog-content>
    <div id="workerPrintableContainerId">
      <div class="dialog-subject">
        <div class="worker_detail">
          <div class="row">
            <div class="col-md-8">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Worker Profession<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{profile.wSubCategory}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Total Shifts<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{totalShiftCount}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Rating<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{profile.ratingsAvg == undefined ? '-' : profile.ratingsAvg | number : '1.2-2'}} 
                  ({{profile.ratingsCount == undefined ? '0 reviews' : profile.ratingsCount + (profile.ratingsCount == 1 ? ' review': ' reviews')}})</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Booking<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{bookingCount}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Pending<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{pendingCount}}</div>
              </div>
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Dispute<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{openDisputeCount + closeDisputeCount}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="personal-description">
            <div class="row">
              <div class="col-md-8">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Professional Body No<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{profile.wProfessionBodyNumber}}</div>
                </div>
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Insurance No<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{profile.wNationalInsurance}}</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Experience<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{profile.wWorkExperienceYears}}</div>
                </div>
              </div>
            </div>
        </div>
        <div class="document-sec" *ngIf="(profile != undefined) && (profile.wDocuments != undefined)">
          <h3 class="document-heading text-center">Documents</h3>
          <div class="row" *ngFor="let aDoc of profile.documents">
            <div class="col-6">
              <p class="document-content-1">{{aDoc.name == undefined? '': aDoc.name}}</p>
            </div>
            <div class="col-6">
              <p class="document-content-2"><a href="{{aDoc.url}}" target="_blank" download>Download</a></p>
            </div>
          </div>
          <!-- <div class="print-pdf-sec d-flex justify-content-center">
            <div class="button-content-1" style="padding-right:5px;">
              <span><img src="../../../assets/printicon.png"></span><button class="print-btn print-pdf-btn" (click)="generatePrint()">Print</button>
            </div>
            <div class="button-content-2" style="padding-left:5px;">
              <span><img src="../../../assets/pdficon.png"></span><button class="pdf-btn print-pdf-btn" (click)="generatePDF()">Generate PDF</button>
            </div>
          </div> -->
        </div>
        <div class="deletesuspendWorker text-center">
          <span><button (click)="suspendButtonClicked()">Suspend Worker</button></span>
          <span><button (click)="deleteButtonClicked()">Delete Worker</button></span>
        </div>
      </div>
    </div>
  </mat-dialog-content>