<div class="admin_login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-8 offset-xs-2">
        <div class="ultra-agent-logo">
          <img src="../../../assets/ultra-agent-logo.png" alt="ultra_agent_logo">
        </div>
        <div class="admin-text text-center">
          <h1>ULTRA AGENT CONTROL</h1>
        </div>
        <mat-card class="forgot_password_card">
          <mat-card-content class="forgot_password_text">
            <div class="email_input">
              <input type="password" style="width: 100%;" placeholder="New Password">
            </div>
            <div class="email_input">
              <input type="password" style="width: 100%;" placeholder="Confirm New Password">
            </div>
            <div class="ultra_agent_btn text-center">
              <button mat-button style="width: 100%;" class="sendcode_button" routerLink="/Admin_new_password">SAVE</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
