<div mat-dialog-container class="dialog-content">
  <h2 class="text-center dialog-title">THANK YOU</h2>
  <h4 class="text-center dialog-sub-title">FOR REGISTERING WITH US</h4>
  <p class="dialog-text text-center">Please wait while your account is being verified.You will be contacted shortly by a member of our team</p>
    <div class="ok-btn text-center">
      <button (click)="openEmployeeUserExp()">OK</button>
    </div>
  </div>

