.dialog-content{
    padding: 50px 0 15px;
}
.dialog-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 25px;
    font-weight: 300;
}
.dialog-text{
    color: #323232;
    padding: 8px 100px 0;
}
.dialog-sub-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 22px;
    font-weight: 300;
}
.ok-btn button{
    color: #fff;
    outline: none;
    border: 0;
    padding: 10px 50px;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #5271ff;
    box-shadow: 0 0 80px rgba(82,113,255, .4);
    cursor: pointer;
}

  
  
  