<div class="reports-content">
  <mat-toolbar-row>
    <span class="report-heading">Reports</span>
  </mat-toolbar-row>
</div>
<div class="report-tab-sec">
  <ul class="nav nav-tabs reports-tab" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active reports-link timesheet-btn" id="timesheet-tab" data-toggle="tab" 
      href="#timesheet" role="tab" aria-controls="timesheet" 
      aria-selected="true" [ngClass]="{ 'active':activeTab==='timesheet'}" 
       (click)="timesheet('timesheet')">Timesheet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link reports-link shifts-btn" id="shifts-tab" data-toggle="tab" 
      href="#shifts" role="tab" aria-controls="shifts" 
      aria-selected="false" [ngClass]="{ 'active':activeTab==='shifts'}" 
        (click)="shifts('shifts')">Shifts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link reports-link registration-btn" id="registration-tab" 
      data-toggle="tab" href="#registration" role="tab" aria-controls="registration" 
      aria-selected="false" [ngClass]="{ 'active':activeTab==='registration'}" 
        (click)="registration('registration')">Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link reports-link users-btn" id="users-tab" 
      data-toggle="tab" href="#users" role="tab" aria-controls="users" 
      aria-selected="false" [ngClass]="{ 'active':activeTab==='users'}" 
        (click)="users('users')">Users</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="timesheet" role="tabpanel" 
    aria-labelledby="timesheet-tab" [ngClass]="{ 'active':activeTab==='timesheet'}">
      <div class="timesheet-tab-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="general-report-sec">
                <span class="general-report-heading">General Report</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 col_max_width_full">
              <p class="report-type">Report Type</p>
              <div class="select-reports-sec">
                <select class="select-report-dropdown" [(ngModel)]="timesheetReportType">
                  <option value="none" selected class="select-report-btn">Select Reports</option>
                  <option value="all" class="select-item">All</option>
                  <option value="pending" class="select-item">Pending</option>
                  <option value="paid" class="select-item">Paid</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>Form(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker1" 
                  placeholder="DD/MM/YYYY" (click)="picker1.open()" name="timesheetReportStart" 
                  [(ngModel)]="timesheetReportStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1" class="calender-picker-bg">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>To(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker2" 
                  placeholder="DD/MM/YYYY" (click)="picker2.open()" name="timesheetReportEnd" 
                  [(ngModel)]="timesheetReportEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker2" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="shifts" role="tabpanel" 
    aria-labelledby="shift-tab" [ngClass]="{ 'active':activeTab==='shifts'}">
      <div class="timesheet-tab-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="general-report-sec">
                <span class="general-report-heading">General Report</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 col_max_width_full">
              <p class="report-type">Report Type</p>
              <div class="select-reports-sec">
                <select class="select-report-dropdown"  [(ngModel)]="shiftsReportType">
                  <option value="none" selected class="select-report-btn">Select Reports</option>
                  <option value="all" class="select-item">All</option>
                  <option value="postedshifts" class="select-item">Postedshifts</option>
                  <option value="bookings" class="select-item">Bookings</option>
                  <option value="cancelled" class="select-item">Cancelled</option>
                  <option value="ongoing" class="select-item">Ongoing</option>
                  <option value="approved" class="select-item">Approved</option>
                  <option value="opendisputes" class="select-item">Open disputes</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>Form(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker3" 
                  placeholder="DD/MM/YYYY" (click)="picker3.open()" name="shiftsReportStart" 
                  [(ngModel)]="shiftsReportStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3" class="calender-picker-bg">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>To(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker4" 
                  placeholder="DD/MM/YYYY" (click)="picker4.open()" name="shiftsReportEnd" 
                  [(ngModel)]="shiftsReportEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker4" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="registration" role="tabpanel" 
    aria-labelledby="registration-tab" [ngClass]="{ 'active':activeTab==='registration'}">
          <div class="timesheet-tab-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="general-report-sec">
                <span class="general-report-heading">General Report</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 col_max_width_full">
              <p class="report-type">Report Type</p>
              <div class="select-reports-sec">
                <select class="select-report-dropdown" [(ngModel)]="registrationReportType">
                  <option value="none" selected class="select-report-btn">Select Reports</option>
                  <option value="all" class="select-item">All</option>
                  <option value="workers" class="select-item">Workers</option>
                  <option value="employers" class="select-item">Employers</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>Form(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker5" 
                  placeholder="DD/MM/YYYY" (click)="picker5.open()" name="registrationReportStart" 
                  [(ngModel)]="registrationReportStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-picker-bg">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>To(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker6" 
                  placeholder="DD/MM/YYYY" (click)="picker6.open()" name="registrationReportEnd" 
                  [(ngModel)]="registrationReportEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker6></mat-datepicker>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="users" role="tabpanel" 
    aria-labelledby="users-tab" [ngClass]="{ 'active':activeTab==='users'}">
          <div class="timesheet-tab-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="general-report-sec">
                <span class="general-report-heading">General Report</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 col_max_width_full">
              <p class="report-type">Report Type</p>
              <div class="select-reports-sec">
                <select class="select-report-dropdown" [(ngModel)]="usersReportType">
                  <option selected value="none" class="select-report-btn">Select Reports</option>
                  <option value="all" class="select-item">All</option>
                  <option value="workers" class="select-item">Workers</option>
                  <option value="employers" class="select-item">Employers</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>Form(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker7" 
                  placeholder="DD/MM/YYYY" (click)="picker7.open()" name="usersReportStart" 
                  [(ngModel)]="usersReportStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker7" class="calender-picker-bg">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker7></mat-datepicker>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>To(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker8" 
                  placeholder="DD/MM/YYYY" (click)="picker8.open()" name="usersReportEnd" 
                  [(ngModel)]="usersReportEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker8" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker8></mat-datepicker>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ultra-agent-btn text-center">
  <button mat-button type="submit" class="save-button" (click)="generateClicked()">GENERATE REPORT</button>
</div>
<div class="print-pdf-sec d-flex justify-content-center">
  <!-- <div class="button-content-1" style="padding-right:5px;">
    <span><img src="../../../assets/printicon.png"></span><button class="print-btn print-pdf-btn" (click)="generatePrint()">Print</button>
  </div> -->
  <!-- <div class="button-content-2" style="padding-left:5px;">
    <span><img src="../../../assets/pdficon.png"></span><button class="pdf-btn print-pdf-btn" (click)="generatePDF()">Generate PDF</button>
  </div> -->
</div>