.report-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
}
.reports-content{
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0;
}
.reports-tab{
    border: 0;
    padding: 30px 0 0 30px;
}
.reports-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 0px;
    width: 110px;
    text-align: center;
    margin-left: 1px;
}
.reports-link.active{
    color: #fff;
    background-color: #5271ff;
}
.reports-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.timesheet-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.shifts-btn{
    border-radius: 0;
}
.registration-btn{
    border-radius: 0;
}
.users-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.general-report-heading{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 1.1rem;
}
.report-type{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 0.9rem;
    padding-top: 25px;
}
.timesheet-tab-sec{
    padding: 75px 30px 0;
}
.form-to-date{
    padding-top: 22px;
    
}
/*input[type='text'] {
    background-image: url(../../../assets/calender-icon.png);
    background-position: 185px 6px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 14px;
    width: 220px;
    border: 1px solid #d2d1d1;
    color: #323232;
}*/
.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #d2d1d1;
}
::placeholder{
  color: #323232;
}
.calender-picker-input-sec{
    position: relative;
}
.calender-picker-image{
    vertical-align: top;
}
.mat-icon-button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.calender-picker-bg{
    position: absolute;
    right: 0;
}
.select-reports-sec{
    position: relative;
}
.select-report-dropdown {
    background-color: #efefef;
    color: #323232;
    border: 1px solid #d2d1d1;
    width: 100%;
    height: 42px;
    cursor: pointer;
}
.select-report-dropdown .select-item{
    color: #DF8C40;
    cursor: pointer;
    border: 2px solid red;
} 

.inline{
    display: inline-block;
}
/* .print-pdf-sec{
    padding-top: 80px;
} */
.print-pdf-btn{
    border: 0;
    outline: 0;
    background-color: #465f9e;
    /* box-shadow: 0 0 40px rgba(223,140,64, .3); */
    color: #fff; 
    font-size: 12px;
    font-weight: 100;
    padding: 3px 7px;
    cursor: pointer;
}
.ultra-agent-btn{
    /* margin-top: 30px; */
    padding: 50px;
}

.ultra-agent-btn button{
    background-color: #DF8C40;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}

@media (max-width: 888px) and (min-width: 768px){
    .col_max_width_full{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col_max_width_half{
        flex: 0 0 50%;
        max-width: 50%;
    }
}