.example-spacer {
    flex: 1 1 auto;
  }
.row{
  padding: 0;
  margin: 0;
}
.mat-toolbar{
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
}
.dashboard-heading{
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 0px;
}
.posted-shift-below{
    padding: 10px 0;
}
.posted-shift-heading{
    font-family: Montserrat;
    font-weight: 400;
    padding: 20px 0 20px 0px;
    margin-bottom: 0;
}
.total-shift-img{
    margin: 10px 0 20px;
    position: relative;
   /* width: 140px;
    height: 100px;*/
    padding: 30px 0;
    box-shadow: 0px 5px 5px 0px rgb(236, 234, 234), 0 2px 2px 0 rgb(236, 234, 234), 0 1px 5px 0 rgb(218, 218, 218);
}
.total-shift-img img{
    width: 100%;
}
.total-shift-text{
    position: absolute;
    top: 40px;
    right: 15px;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.dashboard-below-tab-sec{
    margin: 20px 0 10px 20px;
}
.dashboard-below-tab-sec ul li a{
    padding: 7px 0;
}
.notifications-tab{
    padding: 15px 0px;
}

.circle-image{
    /* padding: 20px 0; */
    position: relative;
}
.circular-text{
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
}
.circular-title{
    font-size: 10px;
    font-weight: 700;
    margin: 0;
}

.delete-icon{
    cursor: pointer;
}
.circular-sub-text{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.bookings-text{
    position: absolute;
    top: 6px;
    left: 6px;
    word-break: break-all;
}
.count-value{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    word-break: break-all;
}
.bookings-title{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    word-break: break-all;
}
.no-padding{
    margin: 0;
    padding: 0;
}
.inline{
    display: inline-block;
}
.col-short{
    max-width: 10%;
}
.letter-sec{
    background-color: #5271ff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 40px 30px; 
}
.letter-sec-next{
    background-color: #c5c5c5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 42px 0px;
}
.letter-text{
    /* font-family: Montserrat; */
    font-weight: 400;
    border: 2px solid #fff;
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    color: #fff;
    padding-top: 6px;
}
.content-sec{
    background-color: #f7f7f7;
    border-right: 4px solid #5271ff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px; 
}
.details-sec{
    padding: 2px 0;
}
.shifts-header-img{
    position: relative;
}
.total-shift-top-text{
    position: absolute;
    top: 10px;
    right: 15px;
}
.content-heading{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.content-text{
    color: #5271ff;
    font-size: 16px;
}
.content-text-next{
    color: #5271ff;
    font-size: 14px;
}
.content-text span{
    color: #9b9b9b;
    padding-left: 30px;
}
.content-text-next span{
    color: #9b9b9b;
    padding-left: 30px;
}
.date-time{
    color: #9b9b9b;
    word-spacing: 10px;
    font-size: 16px;
}
.green-color{
    color: #63e599;
    font-size: 16px;
}
.red-color{
    color: rgb(255, 0, 0);
}
.details-btn{
    background-color: transparent;
    color: #DF8C40;
    border: 2px solid #DF8C40;
    font-size: 12px;
    padding: 4px 20px;
    margin-top: 6px;
}
.dashboard-content-row{
    margin-bottom: 12px;
}
.icon-img{
    float: right;
    padding: 20px 0;
}
.icon-img span{
    /* padding-top: 30px;
    margin-left: 10px; */
    padding: 0 5px;
}
.circle-sec{
    
}
.pichart-sec{
    border-top: 0.8px solid rgba(204, 204, 204, 0.5);
    border-bottom: 0.8px solid rgba(204, 204, 204, 0.5);
    padding: 20px 0;
}


.dashboard-wave-graph{
    margin-top: 30px;
    width: 100%;
    padding: 5px 0 0 5px;
}
.dashboard-wave-graph img{
    width: 100%;
    /*height: 100%;*/
}
.top-workers-details-content{
    max-height: 215px;
    overflow-y: auto;
}
.top-workers-details{
    padding: 20px 0px;
    /* max-height: 180px;
    overflow-y: auto; */
}
.top-workers-employers-sec{
    padding: 10px 0;
}
.top-workers-intro{
    padding-top: 5px;
}
.top-workers-intro h6{
    color: #101010;
    margin-bottom: 0;
    font-size: 18px;
    word-wrap: break-word;
}
.top-workers-intro span{
    color: #7e7e7e;
    word-wrap: break-word;
}
.roofer{
    color: #7e7e7e;
    line-height: 16px;
    margin-top: 10px;
    word-break: break-word;
}
.book-now-btn{
    padding: 10px 8px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    word-spacing: 1px;
    border-radius: 3px;
    opacity: 1;
    color: #fff;
    background-color: #5271ff;
    border: 0;
    outline: 0;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 0 40px rgba(82, 113, 255, 0.35);
}
.worker-image{
    width: 60px;
    height: 60px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    position: relative;
}
.worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.admin-online{
    width: 25px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 45px;
}
.admin-online img{
    width: 100%;
    height: 100%;
}
.users-text{
    font-weight: 400;
    font-family: Montserrat;
    margin-top: 110px;
    transform: rotate(270deg);
}

.dashboard-users-img{
    margin-top: 15px;
    margin-right: 5px;
    position: relative;
    border: .8px solid rgba(0,0,0,.05);
}
.dashboard-users-img img{
    width: 100%;
}
.dashboard-tab{
    
}
.dashboard-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 1px 0px;
    width: 110px;
    text-align: center;
}
.dashboard-link.active{
    color: #fff;
    background-color: #5271ff;
}
.dashboard-tab .summary-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dashboard-tab .notifications-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mat-badge-warn .mat-badge-content {
    background-color: #DF8C40 !important;
}
.nav-tabs{
    border-bottom: 0;
}
.top-workers-employers-heading{
    font-size: 23px;
    padding: 20px 0 0px 0px;
    font-family: Montserrat;
    font-weight: 400;
    letter-spacing: 1px;
}
.underline{
    width: 100%;
    height: 1px;
    background-color: #e2e2e2;
}
.booking-sec{
    padding: 20px 0;
}
.paddinglr5{
    padding-left: 5px;
    padding-right: 5px;
}
.paddingleft0{
    padding-left: 0;
}
/* @media (max-width: 1200px) and (min-width: 1055px) {
    .top-workers-details {
        padding: 10px 10px;
    }
    
    
    .book-now-btn {
        padding: 10px 8px;
        font-size: 10px;
    }
    .roofer{
        margin-top: 20px;
    }
    .sidenav {
        width: 200px !important;
        max-width: 200px !important;
        min-width: 200px !important;
    }
    
    .users-text{
        font-size: 1.25rem;
        margin-top: 85px;
        font-weight: 400;
    }
}
@media (max-width: 1055px) and (min-width: 768px){
    
    .top-workers-intro h6{
        font-size: 14px;
    }
    .top-workers-intro span{
        font-size: 12px;
    }
    .roofer{
        margin-top: 40px;
        font-size: 12px;
    }

}
@media (max-width: 1043px) and (min-width: 768px){
    .book-now-btn{
        padding: 10px 3px;
        font-size: 10px;
        font-weight: 300;
        margin-top: 16px;
    }
} */
@media (max-width: 1152px) and (min-width: 768px){
    .col-max-width{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .book-now-btn{
        margin-top: 20px;
    }
    .roofer{
        margin-top: 38px;
    }
    .col-button{
        flex: 0 0 70%;
        max-width: 70%;
    }
    .col-roofer{
        flex: 0 0 25%;
        max-width: 25%;
    }
}


@media (max-width: 820px) and (min-width: 768px){
    .users-text {
        margin-top: 5px; 
        transform: none;
        font-size: 1.25rem;
    }
    .col_max_width{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 784px) and (min-width: 768px){
    .icon-img span{
        padding: 0 2px;
    }
}

@media (max-width: 768px) {
    .users-text {
        margin-top: 5px; 
        transform: none;
    }
    
    .posted-shift-heading{
        font-size: 23px;
    }
    
    
    .dashboard-users-img img{
        width: 100%;
    }
    
}
@media (max-width: 575px){
    .icon-img{
        float: none;
    }
}
@media (max-width: 540px) and (min-width: 450px){
    .col-max-width{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .book-now-btn{
        margin-top: 20px;
    }
    .roofer{
        margin-top: 38px;
    }
    .col-image{
        max-width: 18.33333%;
    }
    .col-button{
        flex: 0 0 70%;
        max-width: 70%;
    }
    .col-roofer{
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media (max-width: 450px){
    .col-max-width{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-image{
        max-width: 25.33333%;
    }
    .book-now-btn{
        margin-top: 20px;
    }
    .roofer{
        margin-top: 38px;
    }
    
    .col-button{
        flex: 0 0 70%;
        max-width: 70%;
    }
    .col-roofer{
        flex: 0 0 25%;
        max-width: 25%;
    }
}