<mat-toolbar>
    <h4 class="dashboard-heading">Dashboard</h4>
    <span class="example-spacer"></span>
    <ul class="nav nav-tabs dashboard-tab" id="myTab" role="tablist" *ngIf="!hideDashboardTopTab">
        <li class="nav-item">
          <a class="nav-link active dashboard-link summary-btn" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="home"
           aria-selected="true" [ngClass]="{ 'active':activeTab==='summary'}" (click)="summary('summary')">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dashboard-link notifications-btn" id="notifications-tab" data-toggle="tab" 
            href="#notifications" role="tab" aria-controls="profile" 
            aria-selected="false" matBadge="{{unreadNoticesCount == 0? '':unreadNoticesCount}}" matBadgePosition="above after" matBadgeColor="warn" 
            [ngClass]="{ 'active':activeTab==='notifications'}" 
            (click)="notifications('notifications')">Notifications</a>
        </li>
    </ul>
    <div class="graph-image-sec" *ngIf="!hideGraph">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <div class="shifts-header-img">
                <img src="../../../assets/totalshift_blank_img.png">
                <p class="total-shift-top-text">{{totalShiftCount}}</p> 
              </div>
            </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="shifts-header-img">
                  <img src="../../../assets/thismonth_blank_img.png">
                  <p class="total-shift-top-text">+{{monthlyShiftCount}}</p> 
                </div>
              </div>
          </div>
        </div>
    </div>

</mat-toolbar>
<div class="dashboard-below-tab-sec" *ngIf="!hideDashboardBelowTab">
    <ul class="nav nav-tabs dashboard-tab" id="myTab" role="tablist">
        <li class="nav-item">
        <a class="nav-link active dashboard-link summary-btn" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="home"
        aria-selected="true" 
        [ngClass]="{ 'active':activeTab==='summary'}" (click)="summary('summary')">Summary</a>
        </li>
        <li class="nav-item">
        <a class="nav-link dashboard-link notifications-btn" id="notifications-tab" data-toggle="tab" 
        href="#notifications" role="tab" aria-controls="profile" 
        aria-selected="false" matBadge="{{unreadNoticesCount == 0? '':unreadNoticesCount}}" matBadgePosition="above after" matBadgeColor="warn" 
        [ngClass]="{ 'active':activeTab==='notifications'}" 
        (click)="notifications('notifications')">Notifications</a>
        <!-- <mat-icon matBadge="{{unreadNoticesCount == 0? '':unreadNoticesCount}}" matBadgePosition="above after" matBadgeColor="warn">
            <span class="example-fill-remaining-space notification-bell-image">
              <img src="../../../assets/notification-bell-icon.png">
             </span>
           </mat-icon> -->
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="summary" role="tabpanel" 
    aria-labelledby="summary-tab" [ngClass]="{ 'active':activeTab==='summary'}">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="dashboard-wave-graph" style="display: inline-block;">
                <!-- <img src="../../../assets/graph.png"> -->
                <canvas baseChart width="400" height="400"
                    [datasets]="shiftsLineChartData"
                    [labels]="shiftsLineChartLabels"
                    [options]="shiftsLineChartOptions"
                    [colors]="shiftsLineChartColors"
                    [legend]="shiftsLineChartLegend"
                    [chartType]="shiftsLineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" 
                    style="width: 100%;"></canvas>
            </div>
            <div class="top-workers-employers-sec">
                <div class="row">
                    <div class="col-12">
                        <p class="top-workers-employers-heading">Top Workers</p>
                    </div>
                </div>
                <div class="underline"></div>
                <div class="top-workers-details-content">
                    <div class="top-workers-details"  id="workers" 
                    *ngFor="let profile of workerslist | employerworkersfilter | employerworkersorderfilter">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-6 paddingleft0 col-max-width">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-4 col-image">
                                        <div class="worker-image">
                                            <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                                            <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
                                            <div class="admin-online">
                                                <img [src]="profile.wAvailable != false ? '../../../assets/onlinesymbol.png' : '../../../assets/offlinesymbol.png'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-8">
                                        <div class="top-workers-intro">
                                            <h6>{{ profile.firstName }} {{profile.lastName}}</h6>
                                            <span>{{profile.address}}, {{profile.city}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-3 col-roofer"><p class="roofer">{{ profile.wSubCategory }}</p></div>
                            <div class="col-md-3 col-sm-3 col-3 col-button"><button class="book-now-btn" (click)="advanceBookingClick(profile)">BOOK NOW</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="posted-shifts">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="posted-shift-heading">Posted Shifts</h5>
                    </div>
                </div>
            </div>
            <div class="underline"></div>
            <div class="posted-shift-below">
                <div class="row">
                    <div class="col-6" style="padding-left:0">
                        <div class="total-shift-img">
                            <img src="../../../assets/totalshift_blank_img.png">
                            <p class="total-shift-text">{{totalShiftCount}}</p>
                        </div>
                    </div>
                    <div class="col-6" style="padding-right:0">
                        <div class="total-shift-img">
                            <img src="../../../assets/thismonth_blank_img.png">
                            <p class="total-shift-text">+{{monthlyShiftCount}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pichart-sec">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-4 paddinglr5">
                        <!-- <div class="circle-image">
                            <img src="../../../assets/piechat_1.png">
                        </div> -->
                        <div style="display: inline-block; width:100%;" class="circle-image">
                            <canvas baseChart
                                    [data]="doughnutCompletedChartData"
                                    [labels]="doughnutCompletedChartLabels"
                                    [chartType]="doughnutChartType"
                                    [legend] = false
                                    [options] = "doughnutOptions"
                                    [colors] = "doughnutColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)" 
                                    height="100"
                                    width="100">
                            </canvas>
                            <div class="circular-text">
                                <p class="circular-title">Completed</p>
                                <p class="circular-sub-text">{{completedShiftPerce}}%</p>
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-4 col-sm-4 col-4 paddinglr5">
                        <!-- <div class="circle-image">
                            <img src="../../../assets/piechat_2.png">
                        </div> -->
                        <div style="display: inline-block; width:100%;" class="circle-image">
                            <canvas baseChart
                                    [data]="doughnutPendingChartData"
                                    [labels]="doughnutPendingChartLabels"
                                    [chartType]="doughnutChartType"
                                    [legend] = false
                                    [options] = "doughnutOptions"
                                    [colors] = "doughnutColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)" 
                                    height="100"
                                    width="100">
                            </canvas>
                            
                            <div class="circular-text">
                                <p class="circular-title">Pending</p>
                                <p class="circular-sub-text">{{pendingShiftPerce}}%</p>
                            </div>          
                        </div> 
                    </div>
                     <div class="col-md-4 col-sm-4 col-4 paddinglr5">
                        <!-- <div class="circle-image">
                            <img src="../../../assets/peichat_3.png">
                        </div> -->
                        <div style="display: inline-block; width:100%;" class="circle-image">
                            <canvas baseChart
                                    [data]="doughnutDisputedChartData"
                                    [labels]="doughnutDisputedChartLabels"
                                    [chartType]="doughnutChartType"
                                    [legend] = false
                                    [options] = "doughnutOptions"
                                    [colors] = "doughnutColors"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)" 
                                    height="100"
                                    width="100">
                            </canvas>
                            <div class="circular-text">
                                <p class="circular-title">Disputed</p>
                                <p class="circular-sub-text">{{disputedShiftPerce}}%</p>
                            </div>           
                        </div> 
                    </div>
                </div>
            </div>
            <div class="booking-sec">
                <div class="row">
                    <div class="col-md-2 col-sm-12 col-12 col_max_width">
                        <h4 class="users-text">Bookings</h4>
                    </div>
                    <div class="col-md-5 col-sm-6 col-6">
                        <div class="workers-4000-image dashboard-users-img">
                            <!-- <img src="../../../assets/worker_4000_blank.png"> -->
                                <!-- <img src="../../../assets/graph.png"> -->
                                <canvas baseChart width="80" height="80"
                                    [datasets]="totalBookingsLineChartData"
                                    [labels]="totalBookingsLineChartLabels"
                                    [options]="bookingsLineChartOptions"
                                    [colors]="bookingsLineChartColors"
                                    [legend]="bookingsLineChartLegend"
                                    
                                    [chartType]="bookingsLineChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)" 
                                    style="width: 100%;"></canvas>
                            <div class="bookings-text">
                                <p class="bookings-title">Total Shifts</p>
                                <p class="count-value">{{totalBookingShiftsCount}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-6">
                        <div class="employers-500-image dashboard-users-img">
                            <!-- <img src="../../../assets/employer_500_blank.png"> -->
                            <canvas baseChart width="80" height="80"
                            [datasets]="thisMonthBookingsLineChartData"
                            [labels]="thisMonthBookingsLineChartLabels"
                            [options]="bookingsLineChartOptions"
                            [colors]="bookingsLineChartColors"
                            [legend]="bookingsLineChartLegend"
                            
                            [chartType]="bookingsLineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)" 
                            style="width: 100%;"></canvas>
                            <div class="bookings-text">
                                <p class="bookings-title">This Month</p>
                                <p class="count-value">+{{monthlyBookingShiftsCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="tab-pane fade show" id="notifications" role="tabpanel" 
  aria-labelledby="notifications-tab" [ngClass]="{ 'active':activeTab==='notifications'}">
      <div class="notifications-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row dashboard-content-row" *ngFor="let notice of noticeslist">
                    <div class="letter-sec">
                        <p class="letter-text text-center">{{notice.shiftTitle.charAt(0).toUpperCase()}}</p>
                    </div>
                    <div class="content-sec w-100">
                        <div class="row"> 
                            <div class="col-md-8 col-sm-8">
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerCancelledBooking'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'employerCancelledBooking'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerAppliedToShift'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerInvitedToShift'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerRejectedDirectBooking'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'employerRejectedBookingRequest'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerAcceptedBookingRequest'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'employerAcceptedBookingRequest'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerRaisedDispute'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerDisputeResolved'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'employerAmendAcceptedByWorker'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'shiftApproved'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'shiftPaid'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerCompletedWork'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerPausedWork'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerResumedWork'">{{notice.shiftTitle}}</h6>
                                    <div class="details-sec">

                                    <span class="content-text" *ngIf="notice.type == 'workerCancelledBooking'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'employerCancelledBooking'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerAppliedToShift'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerInvitedToShift'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerRejectedDirectBooking'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'employerRejectedBookingRequest'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerAcceptedBookingRequest'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'employerAcceptedBookingRequest'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerRaisedDispute'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerDisputeResolved'">Ultra Agent Control</span>
                                    <span class="content-text" *ngIf="notice.type == 'employerAmendAcceptedByWorker'">Ultra Agent Control</span>
                                    <span class="content-text" *ngIf="notice.type == 'shiftApproved'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'shiftPaid'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerCompletedWork'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerPausedWork'">{{notice.workerTitle}}</span>
                                    <span class="content-text" *ngIf="notice.type == 'workerResumedWork'">{{notice.workerTitle}}</span>

                                    <span class="red-color p-2" *ngIf="notice.type == 'workerCancelledBooking'">{{notice.header}}</span>
                                    <span class="red-color p-2" *ngIf="notice.type == 'employerCancelledBooking'">{{notice.header}}</span>
                                    <span class="blue-color p-2" *ngIf="notice.type == 'workerAppliedToShift'">{{notice.header}}</span>
                                    <span class="blue-color p-2" *ngIf="notice.type == 'workerInvitedToShift'">{{notice.header}}</span>
                                    <span class="red-color p-2" *ngIf="notice.type == 'workerRejectedDirectBooking'">{{notice.header}}</span>
                                    <span class="red-color p-2" *ngIf="notice.type == 'employerRejectedBookingRequest'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'workerAcceptedBookingRequest'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'employerAcceptedBookingRequest'">{{notice.header}}</span>
                                    <span class="red-color p-2" *ngIf="notice.type == 'workerRaisedDispute'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'workerDisputeResolved'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'employerAmendAcceptedByWorker'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'shiftApproved'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'shiftPaid'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'workerCompletedWork'">{{notice.header}}</span>
                                    <span class="red-color p-2" *ngIf="notice.type == 'workerPausedWork'">{{notice.header}}</span>
                                    <span class="green-color p-2" *ngIf="notice.type == 'workerResumedWork'">{{notice.header}}</span>
                                    <span class="date-time p-2">{{notice.createdAt.toDate() | date:'HH:mm MMM dd, yyyy' }}</span>
                                </div>
                                <button type="button" class="btn details-btn" (click)="openNoticeDetailsDialog(notice)">DETAILS</button>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="icon-img">
                                    <a (click)="deleteButtonClicked(notice)" class="delete-icon">
                                        <img src="../../../assets/delete-icon.png">
                                    </a>
                                    <span *ngIf="notice.isRead">
                                        <img src="../../../assets/email-open-icon.png">
                                    </span>
                                    <span *ngIf="!notice.isRead">
                                        <img src="../../../assets/email-close-icon.png">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>