<div class="dashboard-content">
    <h4 class="dashboard-heading">Dashboard</h4>
</div>
<ul class="nav nav-tabs dashboard-tab" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active dashboard-link summary-btn" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="home"
       aria-selected="true" [ngClass]="{ 'active':activeTab==='summary'}" (click)="summary('summary')">Summary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link dashboard-link notifications-btn" id="notifications-tab" data-toggle="tab" 
        href="#notifications" role="tab" aria-controls="profile" 
        aria-selected="false" matBadge="{{unreadNoticesCount == 0? '':unreadNoticesCount}}" matBadgePosition="above after" matBadgeColor="warn" 
        [ngClass]="{ 'active':activeTab==='notifications'}" 
        (click)="notifications('notifications')">Notifications</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="summary" role="tabpanel" 
    aria-labelledby="summary-tab" [ngClass]="{ 'active':activeTab==='summary'}">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="dashboard-wave-graph" style="display: inline-block;">
                        <!-- <img src="../../../assets/admin-dashboard-wave-graph.png"> -->
                        <canvas baseChart width="400" height="400"
                    [datasets]="shiftsLineChartData"
                    [labels]="shiftsLineChartLabels"
                    [options]="shiftsLineChartOptions"
                    [colors]="shiftsLineChartColors"
                    [legend]="shiftsLineChartLegend"
                    [chartType]="shiftsLineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" 
                    style="width: 100%;"></canvas>
        
                    </div>
                    <div class="top-workers-employers-sec">
                        <div class="top-worker-employer-heading-sec">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-6 paddingl5">
                                    <p class="top-workers-employers-heading">Top Workers</p>
                                </div>
                                <div class="col-md-6 col-sm-6 col-6 paddingl5">
                                    <p class="top-workers-employers-heading">Top Employers</p>
                                </div>
                            </div>
                        </div>

                        <div class="top-workers-details">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6 col_flex paddingl5">
                                        <div class="top-worker-heading-sec">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="top-workers-employers-heading">Top Workers</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="top-worker-col">
                                            <div class="container" *ngFor="let worker of topWorkers" >
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-4 col-max-width">
                                                        <div class="image-sec">
                                                            <div class="worker-image">
                                                                <!-- <img [src]="worker.profilePicture != undefined? worker.profilePicture.url : '' || 
                                                                '../../../assets/ultraagent_admin_image.png' "> -->
                                                                <img [src]="worker.profilePicture != undefined? worker.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
                                                                <div class="admin-online">
                                                                    <img [src]="worker.wAvailable != false ? '../../../assets/onlinesymbol.png' : '../../../assets/offlinesymbol.png'">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-8">
                                                        <div class="top-workers-intro">
                                                            <h6>{{worker.firstName}} {{worker.lastName}}</h6>
                                                            <p>{{worker.wSubCategory}} ({{worker.wWorkExperienceYears}} Yrs)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="container">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-4 col-max-width">
                                                        <div class="image-sec">
                                                            <div class="worker-image">
                                                                <img src="../../../assets/ultraagent_admin_image.png">
                                                                <div class="admin-online">
                                                                    <img src="../../../assets/onlinesymbol.png">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-8">
                                                        <div class="top-workers-intro">
                                                            <h6>Sophie Wright</h6>
                                                            <p>Nurse(2 Yrs)</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 col_flex paddingl5">
                                        <div class="top-employers-heading-sec">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="top-workers-employers-heading">Top Employers</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="top-worker-col">
                                            <div class="container" *ngFor="let company of topEmployers">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-4 col-max-width">
                                                        <div class="image-sec">
                                                            <div class="worker-image">
                                                                <!-- <img [src]="company.profilePicture != undefined? company.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                                                                <img [src]="company.profilePicture != undefined? company.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
                                                                <div class="admin-online">
                                                                    <img src="../../../assets/onlinesymbol.png">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-8">
                                                        <div class="top-workers-intro">
                                                            <h6>{{company.name}}</h6>
                                                            <p>{{company.industry}}, {{company.city}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="container">
                                                <div class="row">
                                                    <div class="col-md-4 col-sm-4 col-4 col-max-width">
                                                        <div class="image-sec">
                                                            <div class="worker-image">
                                                                <img src="../../../assets/ultraagent_admin_image.png">
                                                                <div class="admin-online">
                                                                    <img src="../../../assets/onlinesymbol.png">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8 col-sm-8 col-8">
                                                        <div class="top-workers-intro">
                                                            <h6>Family Care</h6>
                                                            <p>Health Care, Manchester</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="posted-shifts">
                        <h5 class="posted-shift-heading">Posted Shifts</h5>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-6 paddingleft0">
                                <div class="total-shift-img">
                                    <img src="../../../assets/totalshift_blank_img.png">
                                    <p class="total-shift-text">{{totalShiftCount}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6 paddingright0">
                                <div class="total-shift-img">
                                    <img src="../../../assets/thismonth_blank_img.png">
                                    <p class="total-shift-text">+{{monthlyShiftCount}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row circle-sec">
                            <div class="col-md-4 col-sm-4 col-4 paddinglr5" style="display: inline-block">
                                <!-- <div class="circle-image">
                                    <img src="../../../assets/piechat_1.png">   
                                </div> -->
                                <div style="display: inline-block; width:100%;" class="circle-image">
                                    <!-- <canvas baseChart
                                            [data]="doughnutCompletedChartData"
                                            [labels]="doughnutCompletedChartLabels"
                                            [chartType]="doughnutChartType"
                                            [legend] = false
                                            [options] = "doughnutOptions"
                                            [colors] = "doughnutColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            style="display:inline-block; width:100%; height:100%;">
                                    </canvas> -->
                                    <canvas baseChart
                                            [data]="doughnutCompletedChartData"
                                            [labels]="doughnutCompletedChartLabels"
                                            [chartType]="doughnutChartType"
                                            [legend] = false
                                            [options] = "doughnutOptions"
                                            [colors] = "doughnutColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            height="100"
                                            width="100">
                                    </canvas>
                                    <div class="circular-text">
                                        <p class="circular-title">Completed</p>
                                        <p class="circular-sub-text">{{completedShiftPerce}}%</p>
                                    </div>
                                </div>                               
                            </div>
                            <div class="col-md-4 col-sm-4 col-4 paddinglr5">
                                <div style="display: inline-block; width:100%;" class="circle-image">
                                    <!-- <canvas baseChart
                                            [data]="doughnutPendingChartData"
                                            [labels]="doughnutPendingChartLabels"
                                            [chartType]="doughnutChartType"
                                            [legend] = false
                                            [options] = "doughnutOptions"
                                            [colors] = "doughnutColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            style="display:inline-block; width:100%; height:100%;">
                                    </canvas> -->
                                    <canvas baseChart
                                            [data]="doughnutPendingChartData"
                                            [labels]="doughnutPendingChartLabels"
                                            [chartType]="doughnutChartType"
                                            [legend] = false
                                            [options] = "doughnutOptions"
                                            [colors] = "doughnutColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            height="100"
                                            width="100">
                                    </canvas>
                                    
                                    <div class="circular-text">
                                        <p class="circular-title">Pending</p>
                                        <p class="circular-sub-text">{{pendingShiftPerce}}%</p>
                                    </div>          
                                </div>       
                            </div>
                            <div class="col-md-4 col-sm-4 col-4 paddinglr5">
                                <div style="display: inline-block; width:100%;" class="circle-image">
                                    <!-- <canvas baseChart
                                            [data]="doughnutDisputedChartData"
                                            [labels]="doughnutDisputedChartLabels"
                                            [chartType]="doughnutChartType"
                                            [legend] = false
                                            [options] = "doughnutOptions"
                                            [colors] = "doughnutColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            style="display:inline-block; width:100%; height:100%;">
                                    </canvas> -->
                                    <canvas baseChart
                                            [data]="doughnutDisputedChartData"
                                            [labels]="doughnutDisputedChartLabels"
                                            [chartType]="doughnutChartType"
                                            [legend] = false
                                            [options] = "doughnutOptions"
                                            [colors] = "doughnutColors"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            height="100"
                                            width="100">
                                    </canvas>
                                    <div class="circular-text">
                                        <p class="circular-title">Disputed</p>
                                        <p class="circular-sub-text">{{disputedShiftPerce}}%</p>
                                    </div>           
                                </div>       
                            </div>
                        </div>
                        
                        <div class="user-sec">
                            <div class="user-image-sec">
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-12 col_max_width">
                                        <div class="users-text">
                                            <h4>Users</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4 offset-md-1 col-sm-4 offset-sm-1 col-6 marginleft0">
                                        <div class="workers-4000-image dashboard-users-img">
                                            <!-- <img src="../../../assets/worker_4000_blank.png"> -->
                                            <canvas baseChart width="80" height="80"
                                            [datasets]="thisMonthWorkersLineChartData"
                                            [labels]="thisMonthWorkersLineChartLabels"
                                            [options]="bookingsLineChartOptions"
                                            [colors]="bookingsLineChartColors"
                                            [legend]="bookingsLineChartLegend"
                                            
                                            [chartType]="bookingsLineChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            style="width: 100%;"></canvas>
                                            <div class="worker-employer-text">
                                                <p class="worker-employer-title">Workers</p>
                                                <p class="count-value">{{workersCount}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-6">
                                        <div class="employers-500-image dashboard-users-img">
                                            <!-- <img src="../../../assets/employer_500_blank.png"> -->
                                            <canvas baseChart width="80" height="80"
                                            [datasets]="thisMonthEmployersLineChartData"
                                            [labels]="thisMonthEmployersChartLabels"
                                            [options]="bookingsLineChartOptions"
                                            [colors]="bookingsLineChartColors"
                                            [legend]="bookingsLineChartLegend"
                                            
                                            [chartType]="bookingsLineChartType"
                                            (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)" 
                                            style="width: 100%;"></canvas>
                                            <div class="worker-employer-text">
                                                <p class="worker-employer-title">Employers</p>
                                                <p class="count-value">{{employersCount}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="notifications" role="tabpanel" 
    aria-labelledby="notifications-tab" [ngClass]="{ 'active':activeTab==='notifications'}">
    <div class="notifications-tab">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex flex-row dashboard-content-row" *ngFor="let notice of noticeslist">
                    <div class="letter-sec">
                        <p class="letter-text text-center">{{notice.shiftTitle != undefined? notice.shiftTitle.charAt(0).toUpperCase(): notice.companyTitle != undefined? notice.companyTitle.charAt(0).toUpperCase():notice.workerTitle != undefined? notice.workerTitle.charAt(0).toUpperCase():''}}</p>
                    </div>
                    <div class="content-sec w-100">
                        <div class="row"> 
                            <div class="col-md-8 col-sm-8">
                                    <h6 class="content-heading" *ngIf="notice.type == 'registrationNewWorker'">{{notice.workerTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'registrationNewCompany'">{{notice.companyTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'workerRaisedDispute'">{{notice.shiftTitle}}</h6>
                                    <h6 class="content-heading" *ngIf="notice.type == 'shiftApproved'">{{notice.shiftTitle}}</h6>
                                    <div class="details-sec">
                                    <!-- <span class="content-text">{{notice.workerTitle}}</span> -->
                                    <span class="blue-color" *ngIf="notice.type == 'registrationNewWorker'">{{notice.header}}</span>
                                    <span class="blue-color" *ngIf="notice.type == 'registrationNewCompany'">{{notice.header}}</span>
                                    <span class="red-color" *ngIf="notice.type == 'workerRaisedDispute'">{{notice.header}}</span>
                                    <span class="green-color" *ngIf="notice.type == 'shiftApproved'">{{notice.header}}</span>
                                    <span class="date-time p-2">{{notice.createdAt.toDate() | date:'HH:mm MMM dd, yyyy' }}</span>
                                </div>
                                <button type="button" class="btn details-btn" (click)="openNoticeDetailsDialog(notice)">DETAILS</button>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="icon-img">
                                    <a (click)="deleteButtonClicked(notice)" class="delete-icon">
                                        <img src="../../../assets/delete-icon.png">
                                    </a>
                                    <span *ngIf="notice.isRead">
                                        <img src="../../../assets/email-open-icon.png">
                                    </span>
                                    <span *ngIf="!notice.isRead">
                                        <img src="../../../assets/email-close-icon.png">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>