.dashboard-content{
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #e2e2e2;
}
.dashboard-heading{
    font-weight: 400;
    font-family: Montserrat;
    margin-bottom: 0px;
}
.posted-shifts{
    padding-right: 30px;
}
.posted-shift-heading{
    font-family: Montserrat;
    font-weight: 400;
    padding: 20px 0;
    margin-bottom: 0;
}

.paddinglr5{
    padding: 0 5px;
}
.total-shift-img{
    position: relative;
    margin-bottom: 20px;
    padding: 30px 0;
    box-shadow: 0px 5px 5px 0px rgb(236, 234, 234), 0 2px 2px 0 rgb(236, 234, 234), 0 1px 5px 0 rgb(218, 218, 218);
   /*  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); */
}
.total-shift-img img{
    width: 100%;
}
.total-shift-text{
    position: absolute;
    top: 40px;
    right: 15px;
    font-size: 18px;
    font-weight: 600;
}
.notifications-tab{
    padding: 15px;
}

.no-padding{
    margin: 0;
    padding: 0;
}
.inline{
    display: inline-block;
}
.col-short{
    max-width: 10%;
}
.col-long{
    max-width: 90%;
}
.letter-sec{
    background-color: #5271ff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 40px 30px; 
}
.letter-sec-next{
    background-color: #c5c5c5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 42px 0px;
}
.letter-text{
    /* font-family: Montserrat; */
    font-weight: 400;
    border: 2px solid #fff;
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    color: #fff;
    padding-top: 6px;
}
.content-sec{
    background-color: #f7f7f7;
    border-right: 4px solid #5271ff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 20px;
}
.details-sec{
    padding: 2px 0;
}
.content-sec-next{
    background-color: #f7f7f7;
    border-right: 4px solid #c5c5c5;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 15px 30px;
    min-height: 125px;
}
.content-heading{
    color: #757575;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
}
.red-text{
    color: rgb(255, 0, 0);
    font-size: 16px;
}
.blue-text{
    color: #5271ff;
    font-size: 16px;
}
.content-text-next{
    color: #5271ff;
    font-size: 14px;
}
.content-text span{
    color: #9b9b9b;
    padding-left: 30px;
    word-spacing: 10px;
}
.content-text-next span{
    color: #9b9b9b;
    padding-left: 30px;
    word-spacing: 10px;
}

.details-btn{
    background-color: transparent;
    color: #DF8C40;
    border: 2px solid #DF8C40;
    font-size: 12px;
    padding: 4px 20px;
    margin-top: 6px;
}
.dashboard-content-row{
    margin: 0 0px 12px 0;
}
.icon-img{
    float: right;
    padding: 20px 0;
    cursor: pointer;
}
.icon-img span{
    padding: 0 5px;
}
.circle-sec{
    border-top: 0.8px solid rgba(204, 204, 204, 0.5);
    border-bottom: 0.8px solid rgba(204, 204, 204, 0.5);
}
.circle-image{
    padding: 20px 0;
    position: relative;
}
.circular-text{
    position: absolute;
    top: 72px;
    width: 100%;
    text-align: center;
}
.circular-title{
    font-size: 10px;
    font-weight: 700;
    margin: 0;
}

.circular-sub-text{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.date-time{
    color: #9b9b9b;
    word-spacing: 10px;
    font-size: 16px;
}
.dashboard-wave-graph{
    margin-top: 30px;
    width: 100%;
}
.dashboard-wave-graph img{
    width: 100%;
}
.top-workers-details{
    margin: 25px 0px;
}
.top-worker-col{
    max-height: 180px;
    overflow-y: auto;
}

.top-worker-employer-heading-sec{
    border-bottom: 1px solid #e2e2e2;
    padding: 30px 0 20px 40px;
    margin-left: -15px;
}
.top-workers-employers-heading{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    font-family: Montserrat;
}
/*.top-workers-employers-sec{
    padding: 5px 0 5px 25px;
}*/
.image-sec{
    margin-bottom: 30px;
}
.top-workers-intro{
    margin-top: 10px;
    margin-bottom: 30px;
}
.top-workers-intro h6{
    color: #101010;
    margin-bottom: 0;
    word-wrap: break-word;
}
.top-workers-intro p{
    color: #7e7e7e;
    margin-bottom: 0;
    line-height: 20px;
}
.worker-image{
    width: 60px;
    height: 60px;
    position: relative;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
}
.worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.admin-online{
    width: 25px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 45px;
}
.users-text{
    font-weight: 600;
    font-family: Montserrat;
    padding-top: 40px;
    font-size: 18px;
}
.admin-online-second{
    position: absolute;
    top: 205px;
    bottom: 0;
    left: 60px;
    right: 0;
}
.dashboard-users-img{
    margin-top: 20px;
    border: .8px solid rgba(0,0,0,.05);
    position: relative;
}
.dashboard-users-img img{
    width: 100%;
}
.worker-employer-text{
    position: absolute;
    top: 6px;
    left: 6px;
    word-break: break-all;
}
.count-value{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    word-break: break-all;
}
.worker-employer-title{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    word-break: break-all;
}
.dashboard-tab{
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0 20px 20px;
}
.dashboard-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 0px;
    width: 110px;
    text-align: center;
}
.dashboard-link.active{
    color: #fff;
    background-color: #5271ff;
}
.dashboard-tab .summary-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dashboard-tab .notifications-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.mat-badge-warn .mat-badge-content {
    background-color: #DF8C40 !important;
}
.top-employers-heading-sec{
    display: none;
}
.top-worker-heading-sec{
    display: none;
}
.paddingright0{
    padding-right: 0;
}
.paddingleft0{
    padding-left: 0;
}
.blue-color{
    color: #5271ff;
    font-weight: 500;
}
.red-color{
    color: rgb(255, 0, 0);
    font-weight: 500;
}
.green-color{
    color: #63e599;
    font-weight: 500; 
}
@media (max-width: 1200px) and (min-width: 768px) {
    .col-max-width{
        max-width: 34.3333%;
    }
    .image-sec{
        margin-bottom: 0;
    }
}
@media (max-width: 1085px) and (min-width: 768px) {
    .paddingl5{
        padding-left: 0px;
    }
    .col_max_width{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .marginleft0{
        margin-left: 0;
    }
}
@media (max-width: 784px) and (min-width: 768px){
    .icon-img span{
        padding: 0 2px;
    }
}
@media (max-width: 768px) and (min-width: 700px) {
    .col-max-width{
        max-width: 26.3333%;
    }
}
@media (max-width: 768px) {
    .top-workers-employers-heading{
        font-size: 25px;
    }
    .posted-shift-heading{
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 0;
        font-family: Montserrat;
        padding: 0 0 20px;
    }
    .users-text{
        padding-top: 20px;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 0;
        font-family: Montserrat;
    }
     .circle-image{
        /* width: 150px;
        height: 150px; */
        padding: 0;
        margin: 20px 0;
    }
    .circle-image img{
        width: 100%;
    } 
    
    .dashboard-users-img {
        /* width: 200px;
        height: 200px; */
        margin-bottom: 20px;
    }
    .dashboard-users-img img{
        width: 100%;
    }
    .col-short{
        max-width: 100%;
    }
    .col-long{
        max-width: 100%;
    }
    .container {
        max-width: 765px;
    }
    .paddingright0{
        padding-right: 15px;
    }
    .paddingleft0{
        padding-left: 15px;
    }
    .posted-shifts{
        padding: 0 20px;
    }
    
    .top-worker-col{
        border-bottom: 1px solid #e2e2e2;
    }
    
}
@media (max-width: 575px){
    
    .image-sec{
        margin-bottom: 18px;
    }
    .top-workers-employers-heading{
        font-size: 25px;
    }
    
    .users-text{
        padding-top: 20px;
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 0;
        font-family: Montserrat;
    }
    .posted-shift-heading{
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 0;
        font-family: Montserrat;
        padding: 0 0 20px;
    }
    
    .top-worker-col{
        max-height: 150px;
    }
    .icon-img{
        float: none;
    }
}

@media (max-width: 525px){
    .top-worker-employer-heading-sec{
        display: none;
    }
    .top-employers-heading-sec{
        display: block;
        padding: 20px 0;
    }
    .top-worker-heading-sec{
        display: block;
        padding: 20px 0;
    }
    .col_flex{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .dashboard-wave-graph{
        padding-bottom: 30px;
        border-bottom: 1px solid #e2e2e2;
    }
    .col-max-width{
        max-width: 24.3333%;
    } 
}
