<div class="dialog-toolbar">
    <!-- <div class="d-flex justify-content-center">
      <h3 class="toolbar-heading">{{title}}</h3>
    </div>
    <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon> -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
        <h3 class="toolbar-heading">{{title}}</h3>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon> 
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="dialog-subject">
    <P class="dialog-subject-text text-center">Are You sure you want to delete this shift ?</P>
    <div class="amend-approve-btn text-center">
      <button class="amend-btn" (click)="cancelClick()">NO</button>
      <button class="approve-btn" (click)="openYesDialog()">YES</button>
    </div>
  </div>
</mat-dialog-content>
