.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.p-b{
    padding-bottom: 20px;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 25px 30px;
}
.clear-icon{
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}
.toolbar-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
}
.toolbar-subheading{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
}
.mat-toolbar-row{
    height: 30px;
}
.dialog-subject{
    padding: 30px 0px;
}
.details_content{
    background-color: #f4f4f4;
    padding: 35px 20px 35px;
    margin: 0 40px 20px;
}
.description-heading{
    font-size: 20px;
}
.description-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
.shift-dialog-form{
    border-bottom: 1px solid #e2e2e2;
    padding: 0 20px 15px;
}
.form-content{
    margin: 0 40px;
}
/* .shift-detail-form{
  padding-top: 18px;
} */
.experience p{
    margin-bottom: 0;
}
input[type='text']{
    background-color: #efefef;
    outline: none;
    border: 0;
    font-size: 14px;
}
.date-input{
    background-image: url(../../../assets/calendericon-black.png);
    background-position: 11px 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.time-input{
    background-image: url(../../../assets/clockicon-black.png);
    background-position: 11px 7px;
    background-repeat: no-repeat;
    padding-left: 40px;
}
.booked-worker-sec{
    margin: 0 40px;
    border-bottom: 1px solid #e2e2e2; 

}
.text-bold{
    font-size: 16px;
    font-weight: 600;
    color: #000;
 }
 .text-bold span{
     padding: 0 5px;
 }
 .breaking-word{
    word-break: break-all;     
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 2px;
 }
.calender-picker-input{
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #efefef;
    border: 0;
    outline: none;
    border-radius: .25rem;
}
.booked-worker-content{
    background-color: #f4f4f4;
    padding: 30px 10px;
    margin-bottom: 20px;
}
.booked-worker-heading{
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat;
    padding: 20px 0;
}
.booked-worker-image{
    width: 60px;
    height: 60px;
    position: relative;
  }
  .booked-worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .booked-worker-online img{
    width: 25px;
    height: 27px;
    position: absolute;
    right: -9px;
    bottom: 3px;
  }
  .star{
      color: rgb(255,155,0);
      font-size: 18px; 
      width: 16px;
  }
  .booked-worker-name{
      padding-left: 25px;
  }
  .booked-worker-full-name{
      font-size: 22px;
      line-height: 20px;
  }
  .booked-worker-name p{
      margin-bottom: 0;
  }
  .paddingr5{
      padding-right: 5px;
  }
  .paddingl0{
      padding-left: 0;
  }
  .col-max-width{
      max-width: 13.666667%;
  }
  .edit-shift-btn{
      margin-top: 30px;
  }
  .reviews{
      margin-left: 7px;
  }
  .reviews p{
      margin-bottom: 0;
  }
  .waiting-approval-btn button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 10px 10px;
    box-shadow: 0 0 40px rgba(223,140,64, .3);
    border: 0;
    outline: none;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    width: 155px;
  }
  .waiting-approval-btn span{
    float: right;
    padding-right: 50px;
    margin-top: -15px;
    color: #DF8C40;
  }
  .edit-shift-btn button{
      background-color: #5271ff;
      color: #fff;
      padding: 8px 40px;
      border-radius: 3px;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 400;
  }

  .post-delete-shift-btn{
      margin-top: 30px;
  }

  .post-delete-shift-btn span{ 
      margin: 0 15px;
  }
  .post-delete-shift-btn button{
    background-color: #5271ff;
    color: #fff;
    padding: 8px 40px;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  .requested-worker-sec{
      margin-top: 20px;
  }
  .requested-worker-heading{
      margin: 0 40px;
      padding: 20px 0 30px 0;
      font-size: 25px;
      font-weight: 500;
      font-family: Montserrat;
  }
  .requested-worker-content{
      margin: 0 40px 20px;
      background-color: #f4f4f4;
      padding: 30px 10px;
  }
  .requested-worker-image{
    width: 60px;
    height: 60px;
    position: relative;
  }
  .requested-worker-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .requested-worker-online img{
    width: 25px;
    height: 27px;
    position: absolute;
    right: -9px;
    bottom: 3px;
  }

.requested-worker-full-name{
    font-size: 22px;
    line-height: 30px;
}
.requested-worker-name p{
    margin-bottom: 0;
}