<div class="dialog-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-10">
        <h3 class="toolbar-heading">SHIFT NO: {{shift.subcategory}} #{{shift.shiftNo}} </h3>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="dialog-subject">
    <div class="details_content">
      <h5 class="description-heading">Shift Description :</h5>
      <p class="description-text">
        {{shift.description}}
      </p>
    </div>
    <div class="shift-dialog-form">
      <form class="form-content">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Date &amp; Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shiftDate | date:'dd/MMM/yyyy HH:mm a'}}</div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Duration<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.duration}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Fee (&pound;/h)<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.fee}}</div>
            </div>
          </div>
          <!-- <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Needed Experience(Years)<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.expNeeded == undefined? '': shift.expNeeded}}</div>
            </div>
          </div> -->
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">City<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.city}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Contact Person<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.contactpername}}</div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.phoneNumber}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Address<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.address}}</div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form" *ngIf="!hideneedExperience">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Needed Experience(Years)<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.expNeeded == undefined? '': shift.expNeeded}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12 shift-detail-form">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Postcode<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{shift.postcode}}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
    
    <!-- Booked Worker -->

    <div class="booked-worker-sec" *ngIf="!hideBookedWorkersList">
      <h4 class="booked-worker-heading">BOOKED WORKERS</h4>
      <div *ngFor="let profile of bookedWorkers">
        <div class="booked-worker-content">
          <div class="row">
            <div class="col-md-1">
              <div class="booked-worker-image">
                <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">
                <div class="booked-worker-online">
                  <img src="../../../assets/onlinesymbol.png">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="booked-worker-name">
                <p class="booked-worker-full-name">{{profile.firstName}} {{profile.lastName}}</p>
                <p>{{profile.wSubCategory}}, {{profile.city}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="roofertext">
                <p>{{profile.wSubCategory}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="experience">
                <p>{{profile.wWorkExperienceYears}}yr Experience</p>
              </div>
            </div>
            <div class="col-md-2 paddingr5">
              <div class="reviews">
                <p>{{profile.ratingsAvg == undefined ? '-' : profile.ratingsAvg | number : '1.2-2'}} 
                  ({{profile.ratingsCount == undefined ? '0 reviews' : profile.ratingsCount + (profile.ratingsCount == 1 ? ' review': ' reviews')}})</p>
              </div>
              <div class="rating-icon">
                <star-rating [starType]="'svg'" [rating]="profile.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
              </div>
            </div>
            <div class="col-md-3">
              <div class="waiting-approval-btn">
                <button class="btn" (click)= "clickCancelBookedWorker(profile)">CANCEL WORKER</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="requested-worker-sec" *ngIf="!hideRequestedWorkersList">
        <h4 class="requested-worker-heading">REQUESTED WORKERS</h4>
        <div *ngFor="let profile of requestedWorkers">
          <div class="requested-worker-content">
            <div class="row">
              <div class="col-md-1">
                <div class="requested-worker-image">
                  <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                  <img [src]="profile == undefined ? '' : profile.profilePicture != undefined? profile.profilePicture.url : '' " onerror="this.src='../../../assets/workerprofiledefault.jpg'">
                  <div class="requested-worker-online">
                    <img src="../../../assets/onlinesymbol.png">
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="requested-worker-name">
                  <p class="requested-worker-full-name">{{profile.firstName}} {{profile.lastName}}</p>
                  <p>{{profile.city}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="roofertext">
                  <p>{{profile.wSubCategory}}</p>
                </div>
              </div>
              <div class="col-md-2">
                <div class="experience">
                  <p>{{profile.wWorkExperienceYears}}yr Experience</p>
                </div>
              </div>
              <div class="col-md-2 paddingr5">
                <div class="reviews">
                  <p>{{profile.ratingsAvg == undefined ? '-' : profile.ratingsAvg | number : '1.2-2'}} 
                  ({{profile.ratingsCount == undefined ? '0 reviews' : profile.ratingsCount + (profile.ratingsCount == 1 ? ' review': ' reviews')}})</p>
                </div>
                <div class="rating-icon">
                  <star-rating [starType]="'svg'" [rating]="profile.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
                </div>
              </div>
              <!-- <div class="col-md-2 paddingl0 col-max-width">
                <div class="rating-icon">
                  <star-rating [starType]="'svg'" [rating]="averageRating" [showHalfStars]="true"></star-rating>
                </div>
              </div> -->
              <div class="col-md-3">
                <div class="waiting-approval-btn float-left" *ngIf="!hideWaitingApproval">
                  <button class="btn">WAITING APPROVAL</button>
                </div>
                <div class="waiting-approval-btn float-left" *ngIf="!hideWorkerDeclined">
                  <button class="btn">WORKER DECLINED</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 

    <!-- Interested Worker -->

   <div class="requested-worker-sec" *ngIf="!hideInterestedWorkersList">
      <h4 class="requested-worker-heading">INTERESTED WORKERS</h4>
      <div *ngFor="let profile of interestedWorkers">
        <div class="requested-worker-content">
          <div class="row">
            <div class="col-md-1">
              <div class="requested-worker-image">
                <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">

                <div class="requested-worker-online">
                  <img [src]="profile.wAvailable != false ? '../../../assets/onlinesymbol.png' : '../../../assets/offlinesymbol.png'">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="requested-worker-name">
                <p class="requested-worker-full-name">{{profile.firstName}} {{profile.lastName}}</p>
                <p>{{profile.city}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="roofertext">
                <p>{{profile.wSubCategory}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="experience">
                <p>{{profile.wWorkExperienceYears}}yr</p>
                <p>Experience</p>
              </div>
            </div>
            <div class="col-md-2 paddingr5">
              <div class="reviews">
                <p>{{profile.ratingsAvg == undefined ? '-' : profile.ratingsAvg | number : '1.2-2'}} 
                  ({{profile.ratingsCount == undefined ? '0 reviews' : profile.ratingsCount + (profile.ratingsCount == 1 ? ' review': ' reviews')}})</p>
              </div>
              <div class="rating-icon">
                <star-rating [starType]="'svg'" [rating]="profile.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
              </div>
            </div>
            <div class="col-md-3">
              <div class="waiting-approval-btn">
                <button class="btn" (click)= "clickAcceptInterestedWorker(profile)">ACCEPT WORKER</button>
              </div>
              <br/>
              <div class="waiting-approval-btn">
                <button class="btn" (click)= "clickDeclineInterestedWorker(profile)">DECLINE WORKER</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <div class="requested-worker-sec" *ngIf="!hideDeclinedWorkersList">
      <h4 class="requested-worker-heading">DECLINE WORKERS</h4>
      <div *ngFor="let profile of declinedWorkers">
        <div class="requested-worker-content">
          <div class="row">
            <div class="col-md-1">
              <div class="requested-worker-image">
                <!-- <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' "> -->
                <img [src]="profile.profilePicture != undefined? profile.profilePicture.url : ''" onerror="this.src='../../../assets/workerprofiledefault.jpg'">

                <div class="requested-worker-online">
                  <img [src]="profile.wAvailable != false ? '../../../assets/onlinesymbol.png' : '../../../assets/offlinesymbol.png'">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="requested-worker-name">
                <p class="requested-worker-full-name">{{profile.firstName}} {{profile.lastName}}</p>
                <p>{{profile.city}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="roofertext">
                <p>{{profile.wSubCategory}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="experience">
                <p>{{profile.wWorkExperienceYears}}yr</p>
                <p>Experience</p>
              </div>
            </div>
            <div class="col-md-2 paddingr5">
              <div class="reviews">
                <p>{{profile.ratingsAvg == undefined ? '-' : profile.ratingsAvg | number : '1.2-2'}} 
                  ({{profile.ratingsCount == undefined ? '0 reviews' : profile.ratingsCount + (profile.ratingsCount == 1 ? ' review': ' reviews')}})</p>
              </div>
              <div class="rating-icon">
                <star-rating [starType]="'svg'" [rating]="profile.ratingsAvg" [showHalfStars]="true" [readOnly]="true"></star-rating>
              </div>
            </div>
            <div class="col-md-3">
              <br/>
              <div class="waiting-approval-btn">
                <span>DECLINED</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  

    <!-- <div class="edit-shift-btn text-center">
      <button class="btn" (click)="editShift(shift)">EDIT SHIFT</button>
    </div> -->
  </div>
</mat-dialog-content>
