.ultra-agent-webapp-login-full-page{
    background-color: #5271FF;
}
.ultra-agent-content{
    padding: 60px 60px 30px;
}
.no-padding{
    margin: 0;
    padding: 0;
}

.ultra-agent-bg{
    background-image: url(../../../assets/employer_registration_login_bg.jpg);
    background-size: cover;
    min-height: 610px;
}
.Employer_registration{
    padding-top: 100px;
}
.Employer_registration h1{
    font-family: Roboto;
    font-weight: 300;
    color: #fff;
}
.Employer_registration h6{
    font-family: Roboto;
    font-weight: 300;
    color: #fff;
}
.Employer_registration_text{
    padding: 15px 40px 0 40px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
}
.employer_registration_list{
    padding: 0 40px;
}
.employer_registration_list_text{
    font-weight: 300;
    font-size: 14px;
    color: #fff;
}
.list_line{
    padding-top: 15px;
}
.list_line li{
    list-style-type: none;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}
.login_bullet{
    color: #DF8C40;
    margin-right: 8px;
    font-size: 28px;
    line-height: 25px;
}
.footer_register{
    padding: 15px 0;
}
.register_btn{
    margin: 70px;
}
.register_btn button{
    background-color: #DF8C40;
    color: #fff;
    padding: 4px 30px;
    font-size: 18px;
    font-weight: 300;
}
.below_regn_btn_text a{
    font-size: 14px;
    color: #fff;
    text-decoration: underline;
    padding-bottom: 50px;
}
.ultra_agent_login{
    padding: 16px 60px 20px;
    background-color: #fff;
}
.ultra_agent_logo{
    width: 150px;
    height: 150px;
    margin: auto;
}
.ultra_agent_logo img{
    width: 100%;
    height: 100%;
}
/*.login_card{
    width: 350px;
    margin: auto;
}*/
.login_account{
    background-color: #5271FF;
    padding: 30px 30px 15px;
    border-radius: 5px;
    margin-top: 20px;
}
.login_text{
    color: #fff;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
}
.forgot_password{
    padding-right: 15px;
    padding-top: 30px;
    cursor: pointer;
}
.forgot_password a{
    color: #323232;
    font-size: 16px;
    font-weight: 500;
}
input[type='email'] {
    background-image: url(../../../assets/mailicon.png);
    background-position: 15px 12px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 13px 50px;
    outline: none;
    border: none;
    margin: 10px 0;
}
input[type='password'] {
    background-image: url(../../../assets/passwordicon.png);
    background-position: 12px 8px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 13px 50px;
    outline: none;
    border: none;
    margin: 10px 0;
}
.login_btn button{
    background-color: #DF8C40;
    color: #fff;
    padding: 4px 60px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
.footer_img{
    width: 22px;
    height: 22px;
    margin: 0 7px;
}
.footer-inline{
    display: inline-block;
}
.footer_img img{
    width: 100%;
    height: 100%;
}
.footer_text{
    display: inline-block;
    color: #fff;
    margin-right: 35px;
    font-size: 16px;
    font-weight: 100;
}
.footer_text a{
    color: #fff;
}
.footer_text span{
    margin-right: 5px;
}
.terms_of_services{
    cursor: pointer;
}

@media (min-width: 991px) and (max-width: 1200px){
    .Employer_registration{
        padding-top: 70px;
    }
    .ultra-agent-bg{
        min-height: 597px;
    }
    .list_line{
        padding-top: 15px;
    }
    .employer_registration_list{
        padding: 0 20px;
    }
    .Employer_registration_text{
        padding: 15px 20px 0px;
    }
    .ultra_agent_login{
        padding: 10px 0px 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .ultra_agent_login{
        padding: 10px 0px 20px;
    }
    .ultra-agent-bg{
        height: 486px;
    }
    .Employer_registration h1{
        font-size: 32px;
    }
    .Employer_registration_text{
        padding: 15px 15px 0 15px;
    }
    .employer_registration_list{
        padding: 0 10px;
    }
    .ultra-agent-content{
        padding: 60px 30px 30px;
    }
}
@media (max-width: 768px){
   .ultra-agent-content{
       padding: 0;
   }
   .Employer_registration h1{
       font-size: 32px;
   }
   .Employer_registration_text{
       padding: 15px 15px 0 15px;
   }
   .employer_registration_list{
       padding: 0 10px;
   }
   .footer_text{
       font-size: 14px;
   }
   input[type='email']{
       padding: 13px 20px 13px 50px;
   }
   input[type='password']{
    padding: 13px 20px 13px 50px;
}
}