<div class="ultra-agent-webapp-login-full-page">
  <div class="ultra-agent-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 no-padding">
          <mat-card class="ultra-agent-bg">
            <mat-card-content class="Employer_registration">
              <h1 class="text-center">Ultra Agent Employer</h1>
              <h6 class="text-center">Register Today and Start Hiring</h6>
              <p class="Employer_registration_text">Choose from over 50,000 verified skilled or profesional workers for maximum performance</p>
              <mat-list class="employer_registration_list">
                <p class="employer_registration_list_text">With Ultra Agent, you can:</p>
                <mat-list-item class="list_line">
                  <p mat-line>
                    <li mat-line><span class="login_bullet">&#9679;</span>Post shifts with instructions</li>
                    <li mat-line><span class="login_bullet">&#9679;</span>Hire from available skilled/professions workers</li>
                    <li mat-line><span class="login_bullet">&#9679;</span>Track your bookings and timesheet</li>
                    <li mat-line><span class="login_bullet">&#9679;</span>Approve completed shifts</li>
                  </p>
                </mat-list-item>
              </mat-list>
              <mat-card-actions class="text-center register_btn">
                <button mat-button routerLink="/company_registration">REGISTER NOW</button>
              </mat-card-actions>
            </mat-card-content>
            <p class="below_regn_btn_text text-center"><a href="https://worker.ultraagents.co.uk">LOOKING FOR WORKER APP?</a></p>          
          </mat-card>
        </div>
        <div class="col-md-6 no-padding">
            <mat-card class="ultra_agent_login">
                <mat-card-content>
                  <div class="ultra_agent_logo">
                    <img src="../../../assets/ultra-agent-logo.png">
                  </div>
                  <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <div class="login_card">
                        <div class="login_account">
                          <p class="login_text">LOGIN TO <br>YOUR ACCOUNT</p>
                          <div>
                            <input type="email" style="width: 100%;" placeholder="Email" [(ngModel)]="email">
                          </div>
                          <div>
                            <input type="password" style="width: 100%;" placeholder="Password" [(ngModel)]="password">
                          </div>
                          <mat-card-actions class="login_btn text-center">
                            <button mat-button (click)="clickOnLogin()">LOGIN</button>
                          </mat-card-actions>
                        </div>
                        <mat-card-actions class="forgot_password text-right">
                          <a (click)="clickForgotPassword()">Forgot Password ?</a>
                        </mat-card-actions>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
            </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_register">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <p class="footer_text"><span><img src="../../../assets/glovecon1.png"></span>www.ultraagent.co.uk</p>
          <p class="footer_text">Help</p>
          <p class="footer_text terms_of_services" (click)="clickTermsOfServices()">Terms of Services</p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
          <p class="footer_text">
              <span><img src="../../../assets/mailicon1.png"></span>Email: <a href="mailto:hello@ultraagent.co.uk">hello@ultraagent.co.uk</a>
          </p>
          <p class="footer_text"><span><img src="../../../assets/callicon1.png"></span>Call: +447852317228</p>
        </div>
      </div>
      <div class="row">
        <p class="footer_text" style="font-size:12px; width:100%; text-align: center;">{{uaWebVersion}}</p>
      </div>
    </div>
  </div>
</div>