<div class="bookings-content">
  <mat-toolbar-row>
    <span class="bookings-heading">Bookings</span>
    <span class="example-spacer"></span>
    <div class="graph-image-sec">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="booking-nav-img">
              <img src="../../../assets/total_booking_this_month.png">
              <p class="booking-count">{{(blist | employerbookingsfilter).length}}</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="booking-nav-img">
              <img src="../../../assets/total_bookings.png">
              <p class="booking-count">{{(blist | employercancelledbookingsfilter).length}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</div>
<div class="bookings-tab-sec">
  <div class="clearfix">
    <div class="float-left bookings-header-tab-sec">
      <ul class="nav nav-tabs bookings-tab" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link bookings-link workers-btn" id="My-Booking" data-toggle="tab" 
          href="#MyBooking" role="tab" aria-controls="MyBooking" aria-selected="true" 
          [ngClass]="{ 'active':activeTab==='MyBooking'}">My Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bookings-link companies-btn" id="Cancel-Booking" data-toggle="tab" 
          href="#CancelBooking" role="tab" aria-controls="CancelBooking" aria-selected="false" 
          [ngClass]="{ 'active':activeTab==='CancelBooking'}">Cancelled Bookings</a>
        </li>
      </ul>
    </div>
    <div class="float-right bookings-date-sec">
      <div class="d-flex flex-row">
        <div class="select-date">Select By Date<span>:</span></div>
        <div class="calender-picker-input-sec">
          <input class="calender-picker-input" matInput [matDatepicker]="filterDatePicker" placeholder="DD/MM/YYYY" [(ngModel)]="filterDate" (click)="filterDatePicker.open()">
          <mat-datepicker-toggle matSuffix [for]="filterDatePicker" class="calender-picker-bg">
            <mat-icon matDatepickerToggleIcon>
              <img src="../../../assets/calender-icon.png" class="calender-picker-image">
            </mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #filterDatePicker></mat-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="MyBooking" role="tabpanel" aria-labelledby="home-tab" 
    [ngClass]="{ 'active':activeTab==='MyBooking'}">
      <div class="timesheet-table">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr class="text-center table-row">
                <th scope="col">Date &amp; Time</th>
                <th scope="col">Shift No</th>
                <th scope="col">Worker</th>
                <th scope="col">Location</th>
                <th scope="col">Fee<br>(&pound;/h)</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="table-body text-center">
              <tr *ngFor="let booking of blist | employerbookingsfilter:filterDate | bookingsorderfilter">
                <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                <td>{{booking.address}}</td>
                <td><span>&pound;</span>{{booking.fee}}/h</td>
                <td><a (click)="openMybookingDetailsDialog(booking)">Details</a></td>
              </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade show" id="CancelBooking" role="tabpanel" aria-labelledby="profile-tab" 
    [ngClass]="{ 'active':activeTab==='CancelBooking'}">
      <div class="timesheet-table">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr class="text-center table-row">
                <th>Date &amp; Time</th>
                <th>Shift No</th>
                <th>Worker</th>
                <th>Location</th>
                <th>Fee<br>(&pound;/h)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="table-body text-center">
              <tr *ngFor="let booking of blist | employercancelledbookingsfilter:filterDate | bookingsorderfilter">
                <td>{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</td>
                <td>{{booking.shiftSubCategory}} #{{booking.shiftNo}}</td>
                <td>{{booking.workerFirstName}} {{booking.workerLastName}}</td>
                <td>{{booking.address}}</td>
                <td><span>&pound;</span>{{booking.fee}}/h</td>
                <td><a (click)="openCancelledBookingsDetailsDialog(booking)">Details</a></td>
              </tr>
              
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>