.example-spacer {
    flex: 1 1 auto;
  }
.bookings-content{
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0;
}
.bookings-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
    padding-left: 24px;
}
.table-body td span{
    padding-right: 5px;
}

.action-dropdown{
    cursor: pointer;
}
.bookings-tab{
    border: 0;
    padding: 15px 0;
}
.bookings-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 15px;
    text-align: center;
}
.bookings-link.active{
    color: #fff;
    background-color: #5271ff;
}
.bookings-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.workers-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.agents-btn{
    border-radius: 0;
}
.companies-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*input[type='text'] {
    background-image: url(../../../assets/calender-icon.png);
    background-position: 208px 6px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 14px;
    width: 240px;
    border: 1px solid #d2d1d1;
    margin-left: 20px
}*/
.bookings-date-sec{
    padding: 15px 15px 15px 0;
}
.select-date{
    padding: 5px 0;
}
.select-date span{
    padding: 0 5px;
}
.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #d2d1d1;
}
.calender-picker-input-sec{
    position: relative;
    width: 240px;
}
.calender-picker-image{
    vertical-align: top;
}
.mat-icon-button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.calender-picker-bg{
    position: absolute;
    right: 0;
}

.bookings-tab-sec{
    margin: 0px 15px 30px 30px;
}
.pagination-sec{
    padding: 5px 15px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.pagination{
    margin-bottom: 0;
}
.regn-page-item.active .page-link-number{
    background-color: #DF8C40;
    border: 0;
}
.regn-page-item .page-link-number{
    border: 0;
    background-color: #f4f4f4;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 50px;
    margin: 5px 5px 0;
}
.booking-nav-img{
    position: relative;
}
.booking-count{
    position: absolute;
    top: 0;
    right: 10px;
}
.timesheet-table{
    overflow-x: auto;
}
.regn-page-item .page-link-text{
    border: 0;
    font-size: 14px;
}
.page-link-text{
    color: #9e9e9e;
}
.page-link-number{
    color: #000;
}
.table-striped tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff;
    border: 0;
}
.table-row{
    background-color: #f4f4f4;
}
.table-row th{
    font-size: 14px;
    font-weight: 700;
}
.table td{
   font-size: 14px;
   color: #a6a6a6;
   padding: 15px 20px;
   border-top: 0;
   border-bottom: 0;
}
.table-body td a{
    color: #DF8C40;
    cursor: pointer;
}
.table-bordered th{
    border-bottom: 0;
}

.dropdown-menu.action-dropdown-menu{
    padding: 0;
    background-color: red;
}
.mat-toolbar-row{
    padding: 0 24px 0 0;
}
/*.graph-image-sec span{
    margin-left: 50px;
 }*/
.no-padding{
    padding-left: 0;
}
.below-bookings-sec{
    text-align: right;
    padding: 15px 0;
}

@media (max-width: 1120px) {
    .bookings-header-tab-sec{
        float: none !important;
    }
    .bookings-date-sec{
        float: none !important;
        padding: 15px 0;
    }
}
 @media (max-width: 768px) {
    .mat-toolbar-row{
        height: 100px;
    }
    .booking-nav-img{
        text-align: right;
        padding: 5px 0;
    }
    .below-bookings-sec{
        text-align: center;
        padding: 15px 0;
    }
    .bookings-tab-sec{
        margin: 20px;
    }
 }