.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 30px;
    position: relative; 
}
.clear-icon{
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    bottom: 30px;
    right: 0px;
    
    /* right: 45px; */
}
/* .clear-icon-col{
    position: absolute;
    bottom: 25px;
} */
.toolbar-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
    margin-bottom: 0;
}

.toolbar-subheading{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
}
.mat-toolbar-row{
    height: 34px;
}
.dialog-content{
    padding: 30px 0px;
}
.dialog-content-heading{
    padding-bottom: 10px;
}
.list-menu{
    padding: 0;
}
.list-menu li{
    list-style: none;
    padding-bottom: 15px;
    font-size: 14px;
}
.list-menu li span{
    padding-right: 15px;
}
.brief-explanation-textarea{
    resize: none;
}
.warning-text{
    color: red;
    font-size: 12px;
    /* padding: 20px 165px; */
}
.cancel-booking-btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 9px 25px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #DF8C40 !important; 
}

@media (max-width: 575px) {
    .clear-icon{
        bottom: 66px;
    }
    .dialog-content{
        padding: 30px 20px;
    }
}