<div class="dialog-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-4 col-sm-10 col-10">
        <h3 class="toolbar-heading">CANCEL BOOKING</h3>
      </div>
      <div class="col-md-6 offset-md-4 col-sm-10 col-10">
        <h4 class="toolbar-subheading">SHIFT NO: {{booking.shiftSubCategory}} #{{booking.shiftNo}}</h4>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>   
  <div class="dialog-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-12">
          <h5 class="dialog-content-heading">Please select your reason</h5>
          <!-- <ul class="list-menu">
            <li><mat-checkbox class="checkboxcheck" name="materialsNotReady" 
              (click)="materialsNotReady_Clicked()" 
              [checked]="materialsNotReady">Materials not ready</mat-checkbox></li>
            <li><mat-checkbox class="checkboxcheck" name="personalTechnicalReason" 
              (click)="personalTechnicalReason_Clicked()" 
              [checked]="personalTechnicalReason">Personal/Technical Reason</mat-checkbox></li>
            <li><mat-checkbox class="checkboxcheck" name="shiftWillBeRescheduledToLaterDate" 
              (click)="shiftWillBeRescheduledToLaterDate_Clicked()" 
              [checked]="shiftWillBeRescheduledToLaterDate">Shift will be re-scheduled to a later date</mat-checkbox></li>
            <li><mat-checkbox class="checkboxcheck" name="shiftHandledByEmployee" 
              (click)="shiftHandledByEmployee_Clicked()" 
              [checked]="shiftHandledByEmployee">Shift will be handled by our employee</mat-checkbox></li>
          </ul> -->
          <ul class="list-menu">
              <li><mat-checkbox class="checkboxcheck" name="materialsNotReady" 
                (click)="materialsNotReady_Clicked()">Materials not ready</mat-checkbox></li>
              <li><mat-checkbox class="checkboxcheck" name="personalTechnicalReason" 
                (click)="personalTechnicalReason_Clicked()">Personal/Technical Reason</mat-checkbox></li>
              <li><mat-checkbox class="checkboxcheck" name="shiftWillBeRescheduledToLaterDate" 
                (click)="shiftWillBeRescheduledToLaterDate_Clicked()">Shift will be re-scheduled to a later date</mat-checkbox></li>
              <li><mat-checkbox class="checkboxcheck" name="shiftHandledByEmployee" 
                (click)="shiftHandledByEmployee_Clicked()">Shift will be handled by our employee</mat-checkbox></li>
            </ul>
          <div class="brief-explanation">
            <form>
              <div class="form-group">
                <label for="comment"><h5>Brief explanation:</h5></label>
                <textarea class="form-control brief-explanation-textarea" rows="3" id="comment" name="brief" [(ngModel)]="brief"></textarea>
              </div>
            </form>
          </div>
          <div class="warning-text text-center">
            <div class="container">
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <p>Note that bookings cancelled within 24 hours will be subject to a 50% charge</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cancel-booking-bt-sec text-center">
      <button class="cancel-booking-btn" (click)="cancelBookingClicked()">CANCEL BOOKING</button>
    </div>
  </div>
</mat-dialog-content>