.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 25px 30px;
}
.clear-icon{
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}
.toolbar-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
}
.toolbar-subheading{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
}
.post-delete-shift-button button{
    background-color: #5271ff;
    color: #fff;
    border-radius: 3px;
    padding: 3px 35px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 20px 50px 30px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.mat-toolbar-row{
    height: 30px;
}
.dialog-subject{
    padding: 30px 0px;
}
.details_content{
    background-color: #f4f4f4;
    padding: 35px 20px 35px;
    margin: 0 40px;
}
.description-heading{
    font-size: 20px;
}
.description-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}

.shift-dialog-form{
    padding-bottom: 15px;
}
.form-content{
    margin: 40px 40px 0;
}
.save-button button{
    background-color: #DF8C40;
    color: #fff;
    padding: 4px 40px;
    border-radius: 3px;
    box-shadow: 0 0 40px rgba(82,113,255, .3);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    outline: 0;
  }

.form-group input{
    background-color: #efefef;
}
.shift-description input{
    height: 100px;
    width: 615px;
}
.form-group{
    position: relative;
    margin-bottom: 2rem;
}

.form-control-bg{
    background-color: #efefef;
    border: 1px solid #d2d1d1;
    resize: none;
}
.form-control-textarea-bg{
    background-color: transparent;
    border: none;
    resize: none;
}

.no-padding{
    padding-left: 0;
}
.location-map-view-container{
    margin-bottom: 20px;
    padding: 0 40px;
}

.map-container{
    position: relative
}
.address-search-input{
    width: 90%;
    top: 20px;
    position: absolute;
    left: 40px;
    z-index: 9;
}
.address-search-form{
    position: relative;
    background-color: #5271ff;
    padding: 7px 10px;
    border-radius: 5px;
    color: #fff;
}
.address-search-form .material-icons {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
    color: #fff;
}
.address-search-form input {
    cursor: text;
    border: none;
    background: none;
    padding: 0 25px 0 0;
    outline: 0;
    width: 100%;
    color: #fff;
}
.map-image{
    width: 100%;
}

.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #d2d1d1;
}
.calender-picker-input-sec{
    position: relative;
    width: 240px;
}
.custom-date-picker{
    position: absolute;
    right: 5px;
    bottom: 5px;
}
/* .calender-picker-image{
    position: absolute;
    bottom: 5px;
    right: 5px;
} */
.calender-picker-image{
    vertical-align: top;
}

.calender-picker-bg{
    position: absolute;
    right: 0;
}

#search-input::-webkit-input-placeholder {
    color:    #efefef;
}
#search-input:-moz-placeholder {
    color:    #efefef;
}
#search-input::-moz-placeholder {
    color:    #efefef;
}
#search-input:-ms-input-placeholder {
    color:    #efefef;
}
agm-map {
    height: 250px;
  }

  