<mat-toolbar class="dialog-toolbar">
    <mat-toolbar-row>
      <h3 class="toolbar-heading">{{title}} </h3>
      <span class="example-spacer"></span>
      <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-dialog-content>
  <div class="dialog-subject">
    <div class="details_content">
      <h5 class="description-heading">Shift Description :</h5>
      <textarea class="form-control form-control-textarea-bg description-text" rows="3" id="shiftdesc" 
      name="shiftdesc" placeholder="Enter description here" [(ngModel)]="shift.description"></textarea>
    </div>
    <div class="shift-dialog-form">
      <form class="form-content">
        <div class="row">
            <div class="form-group col-md-4">
              <label for="date">Date &amp; Time</label>
              <div class="calender-picker-input-sec">

                <!-- using date & time picker -->

                <input class="calender-picker-input" matInput 
                [owlDateTime]="newShiftDatePicker" [owlDateTimeTrigger]="newShiftDatePicker" [min]="minShiftStartTime"
                [(ngModel)]="newShiftDateFromPicker" name="shiftdate" placeholder="DD/MM/YYYY" readonly>
                <span [owlDateTimeTrigger]="newShiftDatePicker" class="custom-date-picker"> 
                <mat-icon matDatepickerToggleIcon>
                  <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                </mat-icon>
                </span>
                <owl-date-time #newShiftDatePicker></owl-date-time>

              </div>
            </div>
            <div class="form-group col-md-4">
                <label for="duration">Duration(Hrs:Mins)</label>
                <!-- <input type="text" class="form-control form-control-bg" id="shiftduration" 
                placeholder="Duration" aria-label="Duration" [(ngModel)]="shift.duration" name="shiftduration"
                [ngxTimepicker]="durationTimePicker" [format]="24" readonly>
              <ngx-material-timepicker #durationTimePicker></ngx-material-timepicker> -->
              <div class="row">
                <div class="col-md-4 pr-1">
                  <select id="durationhh" class="form-control form-control-bg dropdown-cursor" 
                    name="durationhh" [(ngModel)]="shift.durationHH">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                  </select>
                </div>
                <div class="col-md-2 p-0" >Hrs</div>
                <div class="col-md-4 pr-1">
                  <select id="durationmm" class="form-control form-control-bg dropdown-cursor" 
                    name="durationmm" [(ngModel)]="shift.durationMM">
                    <option value="00">0</option>
                    <option value="01">1</option>
                    <option value="02">2</option>
                    <option value="03">3</option>
                    <option value="04">4</option>
                    <option value="05">5</option>
                    <option value="06">6</option>
                    <option value="07">7</option>
                    <option value="08">8</option>
                    <option value="09">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                  </select>
                </div>
                <div class="col-md-2 p-0">Mins</div>
              </div>
            </div>
            <div class="form-group col-md-4">
                <label for="phoneNumber">Phone Number</label>
              <input type="text" class="form-control form-control-bg" placeholder="" 
               name="phoneNumber" [(ngModel)]="shift.phoneNumber" uaNumberOnly>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="duration">Fees (&pound;/h)</label>
              <!-- <input type="text" class="form-control form-control-bg" placeholder="&pound; 900" 
              name="fee" [(ngModel)]="shift.fee"> -->
              <input type="text" id="shiftfee"  class="form-control  form-control-bg" 
              placeholder="" [(ngModel)]="shift.fee" name="shiftfee"
                minLength="1" maxLength="3" uaNumberOnly>
            </div>
            <div class="form-group col-md-4">
              <label for="postcode">Postcode</label>
              <input type="text" class="form-control form-control-bg" placeholder="" 
              name="postcode" [(ngModel)]="shift.postcode">
            </div>
            <div class="form-group col-md-4">
                <label for="contactperson">Contact Person</label>
              <input type="text" class="form-control form-control-bg" placeholder="Patric Smith" 
              name="contactperson" [(ngModel)]="shift.contactpername">
            </div>
          
        </div>
        <div class="row">
          <!-- <div class="form-group col-md-4">
            <label for="postcode">Postcode</label>
            <input type="text" class="form-control form-control-bg" placeholder="" 
            name="postcode" [(ngModel)]="shift.postcode">
          </div> -->
          <div class="form-group col-md-4" *ngIf="!hideExperience">
            <label for="experience">Experience(yr)</label>
            <!-- <input type="text" id="experience"  class="form-control  form-control-bg" 
            placeholder="" [(ngModel)]="shift.expNeeded" name="experience"
             minLength="1" maxLength="2" uaNumberOnly> -->
             <select id="experience" class="form-control form-control-bg" placeholder="" name="experience" 
              [(ngModel)]="shift.expNeeded" minLength="1" maxLength="2" uaNumberOnly>
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
              </select>
          </div>
        </div>
      </form>
    </div>
    <div class="location-map-view-container" *ngIf="!hideMap">
        <div class="map-container">
            <div class="address-search-input">
                <form class="address-search-form col-md-10">
                  <input placeholder="Search Address Here" type="text" id="search-input" [(ngModel)] = 'searchInput' name='searchInput'>
                  <mat-icon aria-hidden="true" (click)="searchButtonClicked()">search</mat-icon>
                </form>
            </div>
            <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
                <agm-marker 
                  [(latitude)]="location.marker.lat" 
                  [(longitude)]="location.marker.lng" 
                  [markerDraggable]="location.marker.draggable" 
                  (dragEnd)='markerDragEnd($event)'>
                </agm-marker>
              </agm-map>
        </div>
     
    </div>
    <div class="save-button text-center" *ngIf="!hideSaveButton">
      <button class="button" mat-button (click)="saveShift()">SAVE</button>
    </div>

    <div class="post-delete-shift-button text-center" *ngIf="!hidePostDeleteShiftButton">
      <span><button class="button" mat-button (click)="saveShift()">POST SHIFT</button></span>
      <span><button class="button" mat-button (click)="openDeleteShiftDialog()">DELETE SHIFT</button></span>
    </div>
  </div>
</mat-dialog-content>
