<mat-toolbar class="dialog-toolbar">
  <mat-toolbar-row>
    <h3 class="toolbar-heading">PENDING SHIFT</h3>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <h4 class="toolbar-subheading">SHIFT NO: E QUIPMEN_OPERATOR 12345</h4>
    <span class="example-spacer"></span>
    <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
    <div class="dialog-subject">
      <div class="details_content">
        <h5 class="description-heading">Shift Description :</h5>
        <p class="description-text">We are looking for a skilled Machine Operator to set up, maintain and operate machinery.You'll ensure the interminable and efficient running of production.</p>
      </div>
      <div class="shift-description-content clearfix">
        <div class="shift-description-content-1 float-left">
          <p><span><img src="../../../assets/calendericon-black.png"></span>Date: 19/05/2018</p>
          <p>Fees: &pound;9/h</p>
          <p>Contact Person: Patrick Smith</p>
          <p>Location:McLoren Construction Group</p>
          <p>Status: PENDING</p>
        </div>
        <div class="shift-description-content-2 float-left">
          <p><span><img src="../../../assets/clockicon-black.png"></span>13:00</p>
          <p>Needed Experience:5yr</p>
          <p>Phone Number:0791123456</p>
        </div>
        <div class="shift-description-content-3 float-left">
          <p>Duration:2hr</p>
        </div>
      </div>
      <div class="underline"></div>
      <div class="worker-details-sec">
        <h3 class="worker-details-heading">WORKER DETAILS</h3>
        <div class="worker-details-content clearfix">
          <div class="worker-details-content-1 float-left">
            <p>Worker Name: Walter White</p>
          </div>
          <div class="worker-details-content-2 float-left">
            <p>Phone Number: 0791123456</p>
          </div>
        </div>
      </div>
      <div class="amend-approve-btn text-center">
        <button class="amend-btn" (click)="openAmendDialog()" (click)="cancelClick()">AMENDA</button>
        <button class="approve-btn" (click)="openDialog()" (click)="cancelClick()">APPROVE</button>
      </div>
    </div>
</mat-dialog-content>
