.mat-dialog-content{
  margin: 0;
  padding: 0;
}
.dialog-content{
    padding: 50px 0;
}
.dialog-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 25px;
}
.dialog-sub-title{
    font-family: Montserrat;
    color: #3254f1;
    font-size: 17px;
    line-height: 25px;
    white-space: pre-wrap;
    word-break: break-word;
}
.ok-btn button{
    color: #fff;
    outline: none;
    border: 0;
    padding: 10px 50px;
    margin: 50px 10px 0;
    border-radius: 3px;
    background-color: #5271ff;
    box-shadow: 0 0 80px rgba(82,113,255, .4);
    cursor: pointer;
}

  
  
  