<div class="admin_login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-8 offset-xs-2">
        <div class="ultra-agent-logo">
          <img src="../../../assets/ultra-agent-logo.png" alt="ultra_agent_logo">
        </div>
        <div class="admin-text text-center">
          <div  *ngIf="!hideControlHeading">
          <h1>ULTRA AGENT CONTROL</h1>
          </div>
          <div  *ngIf="!hideEmployerHeading">
          <h1>ULTRA AGENT EMPLOYER</h1></div>
          
          <p>Reset Your Password</p>
        </div>
        <mat-card class="forgot_password_card">
          <mat-card-content class="forgot_password_text">
            <div class="forgot_password_img">
              <img src="../../../assets/forgot_password_img.png">
            </div>
            <h4 class="text-center">FORGOT PASSWORD ?</h4>
            <P class="text-center">A reset link will be sent to your email</P>
            <div class="email_input">
              <input type="email" style="width: 100%;" placeholder="Enter your email id" [(ngModel)]="email">
            </div>
            <div class="ultra_agent_btn text-center">
              <button mat-button style="width: 100%;" class="sendcode_button" (click)="onSendCodeClick()">SEND LINK</button>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card-actions class="login_here_button text-center">
          <button mat-button (click)="onLoginClick()">LOGIN HERE</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>
