.admin_login{
    background-image: url(../../../assets/admin_login_bg.jpg);
    background-size: cover;
}
.admin-text h1{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
}
.admin-text p{
    font-family: Montserrat;
    padding-bottom: 75px;
}
.ultra-agent-logo{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 12px;
}
.ultra-agent-logo img{
    width: 100%;
    height: 100%;
}
.forgot_password_text{
    padding: 0 5px;
}
.forgot_password_text h4{
    padding-top: 50px;
    color: #fff;
    font-family: Montserrat;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.forgot_password_text p{
    color: #fff;
    font-family: Montserrat;
    padding: 0 50px;
    line-height: 25px;
    font-size: 15px;
    letter-spacing: 1px;
}
mat-card{
    box-shadow: 0 0 50px rgba(79, 110, 255)!important;
}
.forgot_password_card{
    width: 380px;
    margin: auto;
    background-color: #5271ff;
    position: relative;
    border: 1px solid #fff;
    border-radius: 8px;
}
.forgot_password_img{
    position: absolute;
    top: -47px;
    bottom: 0;
    left: 135px;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #34acf2;
    /*box-shadow: 0 0 80px rgba(82,113,255, .5);
    box-shadow: 0 0 60px rgba(255, 82, 189, 0.8)!important;*/
    box-shadow: 0 0 80px rgba(79, 110, 255, 0.5), 0 10px 25px -2px rgb(59, 88, 222), 0 2px 2px 0 rgb(79, 110, 255), 0 10px 25px 0 rgb(79, 110, 255);
}

input[type='email'] {
    background-image: url(../../../assets/mailicon.png);
    background-position: 20px 15px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 16px 30px 16px 60px;
    outline: none;
    border: none;
    color: #838383;
    margin: 15px 0;
    font-size: 16px;
    color: #838383;
    letter-spacing: 1px;
}
.ultra_agent_btn{
    margin-top: 10px;
}
.sendcode_button{
    background-color: #DF8C40;
    color: #fff;
    padding: 10px 0px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}
.login_here_button{
    padding: 30px 0;
}
.login_here_button button{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
@media (max-width: 768px) {
    .forgot_password_card{
        width: 320px;
    }
    .forgot_password_img{
        left: 110px;
    }
    .forgot_password_text h4{
        font-size: 1.2rem;
    }
    .forgot_password_text p{
        padding: 0 40px;
    }
}