<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
        <div class="top-workers-details">
          <div class="container">
            <div class="row">
              <div class="col-4">
                <div class="image-sec">
                  <div class="admin-image">
                      <img [src]="this.authService.loggedInProfile.profilePicture != undefined? this.authService.loggedInProfile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' ">
                      <div class="admin-online">
                      <img src="../../../assets/onlinesymbol.png">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-8">
                <div class="admin-intro">
                  <h4 class="admin-name">{{profile.firstName+' '+profile.lastName}}</h4>
                  <p class="ultra-agent-admin-text">
                    {{profile.profileType == 'adminuser' ?'Admin - User':'Admin - Super'}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="sidenav-hold">
        <mat-list role="list">
            <mat-list-item role="listitem" class="ultra-agent-list-item">
                <a matLine href="" routerLink="/admin_dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                  <img src="../../../assets/dashboardicon.png" alt="Photo">
                  <span class="list-item-text">Dashboard</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="ultra-agent-list-item"
              *ngIf="(profile.profileType == 'adminsuper') ? true : (profile.permsRegistrations == true)">
                <a matLine href="" routerLink="/registration" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                  <img src="../../../assets/registrationicon.png" alt="Photo">
                  <span class="list-item-text">Registration</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="ultra-agent-list-item"
             *ngIf="(profile.profileType == 'adminsuper') ? true : (profile.permsShifts == true)">
                <a matLine href="" routerLink="/shifts" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                  <img src="../../../assets/shiftsicon.png" alt="Photo">
                  <span class="list-item-text">Shifts</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="ultra-agent-list-item"
              *ngIf="(profile.profileType == 'adminsuper') ? true : (profile.permsTimesheets == true)">
                <a matLine href="" routerLink="/timesheet" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                  <img src="../../../assets/timesheeticon.png" alt="Photo">
                  <span class="list-item-text">TimeSheet</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="ultra-agent-list-item"
              *ngIf="(profile.profileType == 'adminsuper') ? true : (profile.permsUsers == true)">
                <a matLine href="" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                  <img src="../../../assets/usersicon.png" alt="Photo">
                  <span class="list-item-text">Users</span>
                </a>
            </mat-list-item>
            <mat-list-item role="listitem" class="ultra-agent-list-item">
                <a matLine href="" routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                  <img src="../../../assets/reporticon.png" alt="Photo">
                  <span class="list-item-text">Reports</span>
                </a>
            </mat-list-item>
        </mat-list>

      </div>
      <div class="underline"></div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="tool-nav">
            <!--<button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="sidenav.toggle()" aria-expanded="false" class="tagatool-toggle-btn">
              <mat-icon aria-label="Side nav toggle icon" class="toggle-btn" fxShow.sm="true" fxShow.gt-sm="false">
                menu
              </mat-icon>
            </button>-->
            <div class="menu-item-img" aria-label="Toggle sidenav"
            
            (click)="sidenav.toggle()" aria-expanded="false" class="tagatool-toggle-btn">
              <img src="../../../assets/hamburgericon.png">
            </div>
            <span class="example-spacer"></span>
            <form class="top-search-form">
                <input placeholder="Search Something..." type="text">
                <mat-icon aria-hidden="true">search</mat-icon>
              </form>
            <button mat-icon-button class="topbar-button-right">
              <div class="notification-btn" (click)="notificationClick()">
               <mat-icon matBadge="{{unreadNoticesCount == 0? '':unreadNoticesCount}}" matBadgePosition="above after" matBadgeColor="warn">
                 <span class="example-fill-remaining-space notification-bell-image">
                   <img src="../../../assets/notification-bell-icon.png">
                  </span>
                </mat-icon>
              </div>
            </button>
            
            <div class="dropdown">
              <button class="btn dropdown-toggle profile-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="btn-img">
                    <img [src]="this.authService.loggedInProfile.profilePicture != undefined? this.authService.loggedInProfile.profilePicture.url : '' || '../../../assets/ultraagent_admin_image.png' ">
                  </div>
              </button>
              <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/profile"><span><img src="../../../assets/profileicon.png"></span>Profile</a>
                <a class="dropdown-item" routerLink="/admin_settings"><span><img src="../../../assets/settingicon.png"></span>Settings</a>
                <a class="dropdown-item" routerLink="" (click)="clickOnLogOut()"><span><img src="../../../assets/logouticon.png"></span>Log Out</a>
              </div>
            </div>
          </mat-toolbar>
      <div class="right-side-content">
        <router-outlet></router-outlet>  
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
   