/* .report-heading{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-size: 18px;
}
.report-text{
    font-weight: 200;
    padding-top: 30px;
    font-size: 18px;
}
.reports-content{
    border-bottom: 1px solid #e2e2e2;
    padding: 3px 0;
}

.reports-tab{
    border: 0;
    padding: 20px 0 0 20px;
}
.reports-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 0px;
    width: 110px;
    text-align: center;
    margin-left: 1px;
}
.reports-link.active{
    color: #fff;
    background-color: #5271ff;
}
.reports-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.timesheet-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.shifts-btn{
    border-radius: 0;
}
.registration-btn{
    border-radius: 0;
}
.users-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.general-report-heading{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 1.1rem;
}
.report-type{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 0.9rem;
    padding-top: 25px;
}
.timesheet-tab-sec{
    padding-top: 75px;
}
.form-to-date{
    padding: 25px 0 0 0;
    font-weight: 500;
    font-family: Montserrat;
    font-size: 0.9rem;
}
.form-text{
    margin-bottom: 3px;
}
input[type='text'] {
    background-image: url(../../../assets/calender-icon.png);
    background-position: 330px 6px;
    background-repeat: no-repeat;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 14px;
    border: 1px solid #d2d1d1;
    color: #323232;
    width: 365px;
}
.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #d2d1d1;
}
.calender-picker-input-sec{
    position: relative;
}
.calender-picker-image{
    vertical-align: top;
}
.mat-icon-button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.calender-picker-bg{
    position: absolute;
    right: 0;
}
.select-report-btn{
    background-color: #efefef;
    color: #323232;
    border: 1px solid #d2d1d1;
    width: 220px;
}

.select-menu{
    background-color: #efefef;
    width: 220px;
}
.select-menu .select-item{
    color: #DF8C40;
}
.categories-sec{
    padding-top: 30px;
}

.checked-all{
    width: 25px;
    height: 25px;
}
.checked-all img{
    width: 100%;
    height: 100%;
}
.checked-text{
    color: #DF8C40;
    font-size: 14px;
    margin-left: 10px;
}
.inline{
    display: inline-block;
}

.sub-list-item ul{
   list-style-type: none;
   list-style-image: url(../../../assets/arrowmark.png); 
}
.sub-list-item li{
    line-height: 25px;
} 
.sub-list-item{
    padding-left: 25px;
}
.sub-item-text p{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0; 
}
.generate_report_btn{
    padding: 50px 0;
}
.generate_report_btn button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px;
    box-shadow: 0 0 40px rgba(223,140,64, .3);
    border: 0;
    outline: none;
    margin: 0 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
}

.checked-color{
    color: #DF8C40;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #DF8C40 !important; 
}
::ng-deep mat-checkbox label{
    margin-bottom: 0px 
} 
 
.right-space{
    padding-right: 4px;
}
.right-space img{
    padding-bottom: 5px;
}
.small-font{
    font-size: 14px;
}

@media (max-width: 980px) and (min-width: 768px) {
    .col_max_width{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col_modify{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
} */

.report-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
}
.reports-content{
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0;
}
.reports-tab{
    border: 0;
    padding: 30px 0 0 30px;
}
.reports-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 0px;
    width: 110px;
    text-align: center;
    margin-left: 1px;
}
.reports-link.active{
    color: #fff;
    background-color: #5271ff;
}
.reports-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.postedshift-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bookings-btn{
    border-radius: 0;
}
.registration-btn{
    border-radius: 0;
}
/* .users-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
} */
.general-report-heading{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 1.1rem;
}
.report-type{
    font-weight: 500;
    font-family: Montserrat;
    font-size: 0.9rem;
    padding-top: 25px;
}
.timesheet-tab-sec{
    padding: 75px 30px 0;
}
.form-to-date{
    padding-top: 22px;
    
}
/*input[type='text'] {
    background-image: url(../../../assets/calender-icon.png);
    background-position: 185px 6px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 6px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 14px;
    width: 220px;
    border: 1px solid #d2d1d1;
    color: #323232;
}*/
.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    border: 1px solid #d2d1d1;
}
::placeholder{
  color: #323232;
}
.calender-picker-input-sec{
    position: relative;
}
.calender-picker-image{
    vertical-align: top;
}
.mat-icon-button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.calender-picker-bg{
    position: absolute;
    right: 0;
}
.select-reports-sec{
    position: relative;
}
.select-report-dropdown {
    background-color: #efefef;
    color: #323232;
    border: 1px solid #d2d1d1;
    width: 100%;
    height: 42px;
    cursor: pointer;
}
.select-report-dropdown .select-item{
    color: #DF8C40;
    cursor: pointer;
    border: 2px solid red;
} 

.inline{
    display: inline-block;
}
.print-pdf-sec{
    padding-top: 80px;
}
.print-pdf-btn{
    border: 0;
    outline: 0;
    background-color: #465f9e;
    /* box-shadow: 0 0 40px rgba(223,140,64, .3); */
    color: #fff; 
    font-size: 12px;
    font-weight: 100;
    padding: 3px 7px;
    cursor: pointer;
}

.generate_report_btn{
    padding: 50px 0;
}
.generate_report_btn button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 10px 30px;
    box-shadow: 0 0 40px rgba(223,140,64, .3);
    border: 0;
    outline: none;
    margin: 0 20px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    cursor: pointer;
}
.timesheet-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media (max-width: 888px) and (min-width: 768px){
    .col_max_width_full{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col_max_width_half{
        flex: 0 0 50%;
        max-width: 50%;
    }
}