<!-- <div class="reports-content">
    <mat-toolbar-row>
      <span class="report-heading">Reports</span>
     </mat-toolbar-row>
</div>
<div class="report-tab-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h4 class="report-text">Select period dates to generate business reports</h4>
          <form class="form-to-date">
            <div class="row">
              <div class="col">
                <p class="form-text">Form</p>
                <div class="calender-picker-input-sec">
                    <input class="calender-picker-input" matInput [matDatepicker]="picker1" placeholder="DD/MM/YYYY" (click)="picker1.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker1" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
              </div>
              <div class="col">
                <p class="form-text">To</p>
                <div class="calender-picker-input-sec">
                    <input class="calender-picker-input" matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY" (click)="picker2.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker2" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </div>
              </div>
            </div>
          </form>
          <div class="categories-sec">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <p class="category-heading">Categories</p>
                </div>
                <div class="col-md-3 col-sm-12 col_max_width">
                  <mat-checkbox class="checkboxcheck" name="shiftmanagement" [checked]="checked"><span class="checked-color">All</span></mat-checkbox>
                </div>
                <div class="col-md-3 col-sm-4 col_modify">
                  <div class="category-sub-item">
                    <mat-checkbox class="checkboxcheck" name="timesheetmanagement">Posted Shifts</mat-checkbox>
                    <div class="sub-list-item">
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">All</div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">Posted Shifts</div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">Advance bookings</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col_modify">
                  <div class="category-sub-item">
                    <mat-checkbox class="checkboxcheck" name="timesheetmanagement">Bookings</mat-checkbox>
                    <div class="sub-list-item">
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">All</div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">Bookings</div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">Cancelled bookings</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-4 col_modify">
                  <div class="category-sub-item">
                    <mat-checkbox class="checkboxcheck" name="timesheetmanagement">Timesheet</mat-checkbox>
                    <div class="sub-list-item">
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">All</div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">Completed</div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">Pending</div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="right-space"><img src="../../../assets/arrowmark.png"></div>
                        <div class="small-font">Disputed</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="generate_report_btn text-center">
    <button>GENERATE REPORT</button>
  </div>
</div> -->

<div class="reports-content">
  <mat-toolbar-row>
    <span class="report-heading">Reports</span>
  </mat-toolbar-row>
</div>
<div class="report-tab-sec">
  <ul class="nav nav-tabs reports-tab" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active reports-link postedshift-btn" id="postedshift-tab" data-toggle="tab" 
      href="#postedshift" role="tab" aria-controls="postedshift-tab" 
      aria-selected="true" [ngClass]="{ 'active':activeTab==='postedshift'}" 
       (click)="postedshift('postedshift')">Posted Shift</a>
    </li>
    <li class="nav-item">
      <a class="nav-link reports-link bookings-btn" id="bookings-tab" data-toggle="tab" 
      href="#bookings" role="tab" aria-controls="bookings" 
      aria-selected="false" [ngClass]="{ 'active':activeTab==='bookings'}" 
        (click)="bookings('bookings')">Bookings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link reports-link timesheet-btn" id="timesheet-tab" 
      data-toggle="tab" href="#timesheet" role="tab" aria-controls="registration" 
      aria-selected="false" [ngClass]="{ 'active':activeTab==='timesheet'}" 
        (click)="timesheet('timesheet')">Timesheet</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show" id="postedshift" role="tabpanel" 
    aria-labelledby="postedshift-tab" [ngClass]="{ 'active':activeTab==='postedshift'}">
      <div class="timesheet-tab-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="general-report-sec">
                <span class="general-report-heading">General Report</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 col_max_width_full">
              <p class="report-type">Report Type</p>
              <div class="select-reports-sec">
                <select class="select-report-dropdown" [(ngModel)]="shiftsReportType">
                  <option value="none" selected class="select-report-btn">Select Reports</option>
                  <option value="all" class="select-item">All</option>
                  <option value="postedshift" class="select-item">Posted Shift</option>
                  <option value="advancebooking" class="select-item">Advance booking</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>Form(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker1" 
                  placeholder="DD/MM/YYYY" (click)="picker1.open()" name="shiftsReportStart" 
                  [(ngModel)]="shiftsReportStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1" class="calender-picker-bg">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>To(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker2" 
                  placeholder="DD/MM/YYYY" (click)="picker2.open()" name="shiftsReportEnd" 
                  [(ngModel)]="shiftsReportEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker2" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="bookings" role="tabpanel" 
    aria-labelledby="bookings-tab" [ngClass]="{ 'active':activeTab==='bookings'}">
      <div class="timesheet-tab-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="general-report-sec">
                <span class="general-report-heading">General Report</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 col_max_width_full">
              <p class="report-type">Report Type</p>
              <div class="select-reports-sec">
                <select class="select-report-dropdown" [(ngModel)]="bookingsReportType">
                  <option value="none" selected class="select-report-btn">Select Reports</option>
                  <option value="all" class="select-item">All</option>
                  <option value="bookings" class="select-item">Bookings</option>
                  <option value="cancelled" class="select-item">Cancelled bookings</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>Form(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker3" 
                  placeholder="DD/MM/YYYY" (click)="picker3.open()" name="bookingsReportStart" 
                  [(ngModel)]="bookingsReportStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3" class="calender-picker-bg">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>To(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker4" 
                  placeholder="DD/MM/YYYY" (click)="picker4.open()" name="bookingsReportEnd" 
                  [(ngModel)]="bookingsReportEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker4" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade show" id="timesheet" role="tabpanel" 
    aria-labelledby="registration-tab" [ngClass]="{ 'active':activeTab==='timesheet'}">
          <div class="timesheet-tab-sec">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="general-report-sec">
                <span class="general-report-heading">General Report</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 col_max_width_full">
              <p class="report-type">Report Type</p>
              <div class="select-reports-sec">
                <select class="select-report-dropdown" [(ngModel)]="timesheetReportType">
                  <option value="none" selected class="select-report-btn">Select Reports</option>
                  <option value="all" class="select-item">All</option>
                  <option value="completed" class="select-item">Completed</option>
                  <option value="pending" class="select-item">Pending</option>
                  <option value="disputed" class="select-item">Disputed</option>
                </select>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>Form(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker5" 
                  placeholder="DD/MM/YYYY" (click)="picker5.open()" name="timesheetReportStart" 
                  [(ngModel)]="timesheetReportStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker5" class="calender-picker-bg">
                      <mat-icon matDatepickerToggleIcon>
                        <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                      </mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                </div>
              </form>
            </div>
            <div class="col-md-4 col-sm-6 col-12 col_max_width_half">
              <form class="form-to-date">
                <p>To(Date)</p>
                <div class="calender-picker-input-sec">
                  <input class="calender-picker-input" matInput [matDatepicker]="picker6" 
                  placeholder="DD/MM/YYYY" (click)="picker6.open()" name="timesheetReportEnd" 
                  [(ngModel)]="timesheetReportEndDate">
                  <mat-datepicker-toggle matSuffix [for]="picker6" class="calender-picker-bg">
                    <mat-icon matDatepickerToggleIcon>
                      <img src="../../../assets/calender-icon.png" class="calender-picker-image">
                    </mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker6></mat-datepicker>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="generate_report_btn text-center">
    <button (click)="generateReportClicked()">GENERATE REPORT</button>
  </div>