<div class="pay-timesheet-content">
  <h4 class="payments-heading text-center">Payments</h4>
  <div class="payments-content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 col-sm-4 offset-sm-1 col-10 offset-1">
          <div class="payment-form">
            <form>
              <div class="form-group">
                <label for="exampleInputEmployerAmount" class="form-label">Employer Amount</label>
                <input type="text" class="form-control" id="exampleInputEmployerAmount" aria-describedby="emailHelp" 
                placeholder="&pound; {{booking != undefined ? booking.calculatedEmployerFee :''}}" disabled>
              </div>
              <div class="form-group">
                <label for="exampleInputWorkerAmount" class="form-label">Worker Amount</label>
                <input type="text" class="form-control" id="exampleInputWorkerAmount" 
                placeholder="&pound; {{booking != undefined ? booking.calculatedWorkerFee :''}}" disabled>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4 offset-md-1 col-sm-4 offset-sm-1 col-10 offset-1">
          <div class="invoice invoice-payment">
              <form>
                <div class="form-group">
                  <label for="exampleInpuInvoiceNo" class="form-label">Invoice No</label>
                  <input type="text" class="form-control payment-details-box" id="exampleInpuInvoiceNo" aria-describedby="emailHelp" 
                   [(ngModel)]="calculatedInvoiceNo" name="inpuInvoiceNo"
                  placeholder="{{booking != undefined ? booking.shiftNo :''}}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPaymentNo" class="form-label">Payment No</label>
                  <input type="text" class="form-control payment-details-box" id="exampleInputPaymentNo" 
                  placeholder="{{booking != undefined ? booking.shiftNo :''}}" 
                  [(ngModel)]="calculatedPaymentNo" name="inputPaymentNo">
                </div>
              </form>
            <!-- <p class="form-label">Invoice No</p>
            <p class="payment-details-box">{{booking != undefined ? booking.calculatedInvoiceNo :''}}</p> -->
          </div>
          <!-- <div class="Payment invoice-payment">
            <p class="form-label">Payment No</p>
            <p class="payment-details-box">{{booking != undefined ? booking.calculatedPaymentNo :''}}</p>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="save-button-sec text-center">
    <button class="save-btn" (click)="saveClicked()">Save</button>
  </div>
</div>