.payments-heading{
    font-size: 32px;
    font-weight: 400;
    padding: 50px 0;
}
.save-btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 9px 35px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 0 5px 50px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.payments-content{
    padding: 50px 0 50px;
    /* border: 1px solid #000; */
}
.form-control{
    background-color: #efefef;
    font-size: 20px;
    border: 1px solid #d2d1d1;
    margin-top: 12px;
    /* width: 250px; */
}
.form-group{
    margin-bottom: 50px;
}
.form-label{
    font-weight: bold;
    padding-left: 8px;
}
.invoice-payment{
    margin-bottom: 50px;
}
.form-control.payment-details-box{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 8px 20px;
    background-color: #fff;
    border:none;
    font-size: 16px;
    /* width: 250px; */
}

@media (max-width: 777px) and (min-width: 768px){
    .invoice-payment{
        margin-top: 25px;
    }
}