<div class="registration-content">
  <mat-toolbar-row>
    <span class="registration-heading">Registration</span>
    <span class="example-spacer"></span>
    <div class="text-center">
      <div class="new-registration" *ngIf="!hideNewWorkerRegistration">
        <span class="new-registration-heading">
          New Workers Registration This Week</span>
        <p class="number">{{workerRegistrationsThisWeek}}</p>
      </div>
      <div class="new-registration" *ngIf="!hideNewEmployerRegistration">
        <span class="new-registration-heading">
          New Companies Registration This Week</span>
        <p class="number">{{companyRegistrationsThisWeek}}</p>
      </div>
    </div>
  </mat-toolbar-row>
</div>
  <div class="registration-tab-sec">
    <div class="clearfix">
      <div class="float-left registration-header-tab-sec">
        <ul class="nav nav-tabs registration-tab" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active registration-link workers-btn" 
            id="workers-tab" data-toggle="tab" href="#workers" role="tab" 
            aria-controls="workers" aria-selected="true" 
            (click)="onWorkerTabSelected()">Workers</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link registration-link agents-btn" id="agents-tab" data-toggle="tab" href="#agents" role="tab" aria-controls="agents" aria-selected="false">Agents</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link registration-link companies-btn" 
            id="companies-tab" data-toggle="tab" href="#companies" 
            role="tab" aria-controls="companies" 
            aria-selected="false" (click)="onEmployerTabSelected()">Companies</a>
          </li>
        </ul>
      </div>
      <div class="float-right registration-date-sec">
        <div class="d-flex flex-row">
          <div class="select-date">Select By Date<span>:</span></div>
          <div class="calender-picker-input-sec">
            <input class="calender-picker-input" matInput [matDatepicker]="filterDatePicker" placeholder="DD/MM/YYYY" [(ngModel)]="filterDate" (click)="filterDatePicker.open()">
            <mat-datepicker-toggle matSuffix [for]="filterDatePicker" class="calender-picker-bg">
              <mat-icon matDatepickerToggleIcon>
                <img src="../../../assets/calender-icon.png" class="calender-picker-image">
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #filterDatePicker></mat-datepicker>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="workers" role="tabpanel" aria-labelledby="home-tab">
        <div class="admin-table table-responsive">
          <table class="table table-bordered table-striped table-condensed">
              <thead>
                <tr class="text-center table-row">
                  <th>DATE</th>
                  <th>NAME</th>
                  <th>CITY</th>
                  <th>INDUSTRY</th>
                  <th>SUB-CATEGORY</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody class="table-body text-center">
                <tr *ngFor="let profile of profileslist | registrationsworkerfilter:filterDate | registrationsorderfilter">
                  <td>{{ profile.createdAt == undefined? '': profile.createdAt.toDate() | date:'dd/MMM/yyyy' }}</td>
                  <td>{{ profile.firstName }} {{profile.lastName}}</td>
                  <td>{{ profile.city }}</td>
                  <td>{{ profile.wProfession }}</td>
                  <td>{{ profile.wSubCategory }}</td>
                  <td>
                    <div class="dropdown action-dropdown">
                      <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action<span>&#9662;</span>
                      </a>
                      <div class="dropdown-menu action-dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="openWorkerFullprofileDialog(profile)">Full Profile</a>
                        <a class="dropdown-item" (click)="openDeleteProfileDialog(profile)">Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
      <!--<div class="tab-pane fade" id="agents" role="tabpanel" aria-labelledby="profile-tab">...</div>-->
      <div class="tab-pane fade" id="agents" role="tabpanel" aria-labelledby="contact-tab">
        <div class="admin-table table-responsive">
          <table class="table table-bordered table-striped table-condensed">
                <thead>
                  <tr class="text-center table-row">
                    <th>DATE</th>
                    <th>NAME</th>
                    <th>EMAIL</th>
                    <th>JOB TITLE</th>
                    <th>COMPANY NAME</th>
                    <th>REGISTRATION NO</th>
                    <th>CITY</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody class="table-body text-center">
                  <tr *ngFor="let profile of profileslist | registrationsagentfilter:filterDate | registrationsorderfilter">
                    <td>{{ profile.createdAt == undefined? '': profile.createdAt.toDate() | date:'dd/MMM/yyyy' }}</td>
                    <td>{{ profile.firstName }} {{profile.lastName}}</td>
                    <td>{{ profile.email }}</td>
                    <td>{{ profile.jobTitle }}</td>
                    <td>{{ companiesIdHashMap[profile.companyId] == undefined? '': companiesIdHashMap[profile.companyId].name }}</td>
                    <td>{{ companiesIdHashMap[profile.companyId] == undefined? '': companiesIdHashMap[profile.companyId].regdNumber }}</td>
                    <td>{{ profile.city }}</td>
                    <td>
                      <div class="dropdown action-dropdown">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action<span>&#9662;</span>
                        </a>
                        <div class="dropdown-menu action-dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" (click)="openAgentsFullprofileDialog(profile)">Full Profile</a>
                          <a class="dropdown-item" (click)="openDeleteProfileDialog(profile)">Delete</a>
                          <!-- <a class="dropdown-item" (click)="openApproveDialog()">Approve</a>
                          <a class="dropdown-item" (click)="openRejectDialog()">Reject</a> -->
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade" id="companies" role="tabpanel" aria-labelledby="contact-tab">
          <div class="admin-table table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                  <thead>
                    <tr class="text-center table-row">
                      <th>DATE</th>
                      <th>COMPANY NAME</th>
                      <th>REGISTRATION NO</th>
                      <th>CITY</th>
                      <th>INDUSTRY</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody class="table-body text-center">
                    <tr *ngFor="let company of companieslist | registrationscompanyfilter:filterDate | registrationsorderfilter">
                      <td>{{ company.createdAt == undefined? '': company.createdAt.toDate() | date:'dd/MMM/yyyy' }}</td>
                      <td>{{ company.name }}</td>
                      <td>{{ company.regdNumber }}</td>
                      <td>{{ company.city }}</td>
                      <td>{{ company.industry }}</td>
                      <td>
                        <div class="dropdown action-dropdown">
                          <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action<span>&#9662;</span>
                          </a>
                          <div class="dropdown-menu action-dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="openCompaniesFullprofileDialog(company)">Full Profile</a>
                            <a class="dropdown-item" (click)="openDeleteCompanyDialog(company)">Delete</a>
                            <!-- <a class="dropdown-item" (click)="openApproveDialog()">Approve</a>
                            <a class="dropdown-item" (click)="openRejectDialog()">Reject</a> -->
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
            </table>
          </div>
        </div>

    </div>
    <!--<mat-toolbar-row>
      <span class="example-spacer"></span>
      <div class="pagination-sec">
          <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item regn-page-item disabled">
                  <a class="page-link page-link-text" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active regn-page-item"><a class="page-link page-link-number">1 <span class="sr-only">(current)</span></a></li>
                <li class="page-item regn-page-item">
                  <a class="page-link page-link-number">2</a>
                </li>
                <li class="page-item regn-page-item"><a class="page-link page-link-number">3</a></li>
                <li class="page-item regn-page-item"><a class="page-link page-link-number">4</a></li>
                <li class="page-item regn-page-item disabled">
                  <a class="page-link page-link-text">Next</a>
                </li>
              </ul>
            </nav>
          </div>
    </mat-toolbar-row>-->
  </div>