.example-spacer {
    flex: 1 1 auto;
}

.registration-content{
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 0;
}
.registration-heading{
    font-weight: 400;
    font-family: Montserrat;
    font-size: 1.5rem;
}
.new-registration-heading{
    font-size: 12px;
    color: #a4a4a4;
    font-weight: 400;
    line-height: 5px;
}
.select-date{
    padding: 5px 0; 
}
.select-date span{
    padding: 0 5px;
}
.number{
    margin-bottom: 0 !important;
}
.new-registration{
    /*box-shadow: 0 9px 5px -1px rgba(0,0,0,.04), 
    0 5px 2px 0 rgba(0,0,0,.1), 0 1px 5px 0 rgba(0,0,0,.12);*/
    box-shadow: 0px 5px 5px 0px rgb(236, 234, 234), 0 2px 2px 0 rgb(236, 234, 234), 
    0 1px 5px 0 rgb(218, 218, 218);
    padding: 0 50px;
}

.action-dropdown{
    cursor: pointer;
    color: #DF8C40; 
}
.action-dropdown span{
    font-size: 16px;
    margin-left: 5px;
    color: #9e9e9e;
}
.dropdown-toggle::after {
    display: none;
}
.registration-tab{
    border: 0;
}
.registration-link{
    border: 0;
    color: #fff;
    background-color: #c5c5c5;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 8px 0px;
    width: 110px;
    text-align: center;
    margin-left: 1px;
}
.registration-link.active{
    color: #fff;
    background-color: #5271ff;
}
.registration-link.disabled{
    color: #fff;
    background-color: #c5c5c5;
}
.workers-btn{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.agents-btn{
    border-radius: 0;
}
.companies-btn{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.calender-picker-input {
    border-radius: 5px;
    padding: 8px 10px;
    outline: none;
    border: none;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 400;
    width: 240px;
    border: 1px solid #d2d1d1;
}
.calender-picker-input-sec{
    position: relative;
}
.calender-picker-image{
    vertical-align: top;
}
.mat-icon-button:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
}
.calender-picker-bg{
    position: absolute;
    right: 0;
    top: 0;
}
.mat-icon-button.calender-picker-bg:active,
.mat-icon-button.calender-picker-bg:focus,
.mat-icon-button.calender-picker-bg.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
   outline: none !important;
}
.registration-header-tab-sec{
    padding: 15px 0 15px 15px;
}
.registration-date-sec{
    padding: 15px 15px 15px 0;
}
.registration-tab-sec{
    border: 1px solid #c9c9c9;
    margin: 30px 15px 30px 30px;
}
.pagination-sec{
    padding: 5px 15px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.pagination{
    margin-bottom: 0;
}
.regn-page-item.active .page-link-number{
    background-color: #DF8C40;
    border: 0;
}
.regn-page-item .page-link-number{
    border: 0;
    background-color: #f4f4f4;
    padding: 4px 15px;
    font-size: 14px;
    border-radius: 50px;
    margin: 5px 5px 0;
}
.regn-page-item .page-link-text{
    border: 0;
    font-size: 14px;
}
.page-link-text{
    color: #9e9e9e;
}
.page-link-number{
    color: #000;
}
.table-striped tbody tr:nth-of-type(even){
    background-color: #f4f4f4;
    border: 0;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: #fff;
    border: 0;
}
.table-row{
    background-color: #f4f4f4;
}
.table-row th{
    font-size: 14px;
    font-weight: 700;
}
.table-body td{
   font-size: 14px;
   color: #a6a6a6;
   padding: 13px 0;
   border-top: 0;
}
.table-bordered{
    margin-bottom: 0 !important;
}
.table-bordered th{
    border-bottom: 0;
}
.table td{
    border-top: 0;
    border-bottom: 0;
    padding: 15px 20px;
}
/*.dropdown-menu{
    min-width: 5rem;
}*/
.action-dropdown-menu{
    background-color: #9e9e9e;
    min-width: 5rem;
}
.action-dropdown-menu a{
    color: #fff;
    font-size: 14px;
}
.action-dropdown-menu a:hover {
    background-color: rgba(0,0,0,.5);
}
@media (max-width: 1120px) {
    .registration-header-tab-sec{
        float: none !important;
    }
    .registration-date-sec{
        float: none !important;
        padding: 15px;
    }
}
@media (max-width: 1104px) {
    .registration-tab-sec .mat-toolbar-row{
        height: 150px;
    }
 }
 @media (max-width: 768px){
    .registration-tab-sec{
        margin: 20px;
    }
 }
 @media (max-width: 530px) {
    .new-registration{
        padding: 0 15px;
    }
 }
 @media (max-width: 453px) {
     .registration-tab-sec .mat-toolbar-row{
         height: 150px;
     }
     
 }