<div class="dialog-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-10">
        <h3 class="dialog-toolbar-heading">{{title}}</h3>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div id="printableContainerId">
    <div class="personal-detail-sec" *ngIf="profile != undefined">
      <div class="personal-detail-heading text-center"><h5>Personal Details</h5></div>
      <div class="personal-detail-content">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Name<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{profile.firstName}} {{profile.lastName}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Phone No<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{profile.phoneNumber}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">City<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{profile.city}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Insurance No<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{profile.wNationalInsurance}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Address<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{profile.address}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="personal-detail-sec" *ngIf="company != undefined">
        <div class="personal-detail-heading text-center"><h5>Company Details</h5></div>
        <div class="personal-detail-content">
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Name<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{company.name}}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Phone No<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{company.phoneNumber}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">City<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{company.city}}</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Registration No<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{company.regdNumber}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Industry Category<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{company.industry}}</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Address<span>:</span></div>
                  <div class="order-2 p-b breaking-word">{{company.address}}</div>
                </div>
              </div>
            </div>
        </div>
      </div>
    <div class="professional-detail-sec" *ngIf="(profile != undefined) && (profile.profileType == 'worker')">
      <h5 class="professional-detail-heading text-center">Professional Details</h5>
        <div class="professional-detail-content">
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Industry Category<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{profile.wProfession}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Sub-Category<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{profile.wSubCategory}}</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Profession Body No<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{profile.wProfessionBodyNumber}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Years of Experience<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{profile.wWorkExperienceYears}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="personal-detail-sec" *ngIf="company != undefined">
        <div class="personal-detail-heading text-center"><h5>Company Brief Description</h5></div>
        <div class="professional-detail-content">
          <p>{{company.descr}}</p>
        </div>
      </div>
      <div class="document-sec" *ngIf="(profile != undefined) && (profile.wDocuments != undefined)">
        <div class="document-heading text-center"><h5>Documents</h5></div>
        <div class="document-content-sec clearfix">
            <div class="row" *ngFor="let aDoc of profile.wDocuments">
              <div class="col-6">
                <p class="document-content-1">{{aDoc.name == undefined? '': aDoc.name}}</p>
              </div>
              <div class="col-6">
                <p class="document-content-2"><a href="{{aDoc.url}}" target="_blank" download>Download</a></p>
              </div>
            </div>
        </div>
        
      </div>

      <div class="document-sec" *ngIf="(company != undefined) && (company.documents != undefined)">
          <div class="document-heading text-center"><h5>Company Documents</h5></div>
          <div class="document-content-sec clearfix">
              <div class="row" *ngFor="let aDoc of company.documents">
                <div class="col-md-6">
                  <p class="document-content-1">{{aDoc.name == undefined? '': aDoc.name}}</p>
                </div>
                <div class="col-md-6">
                  <p class="document-content-2"><a href="{{aDoc.url}}" target="_blank" download>Download</a></p>
                </div>
              </div>
          </div>
          
        </div>

    </div>
    <!-- <div class="button-sec clearfix d-flex justify-content-center">
      <div class="button-content-1" style="padding-right:5px;">
          <span><img src="../../../assets/printicon.png"></span><button class="print-btn print-pdf-btn" (click)="generatePrint()">Print</button>
      </div>
      <div class="button-content-2" style="padding-left:5px;">
          <span><img src="../../../assets/pdficon.png"></span><button class="pdf-btn print-pdf-btn" (click)="generatePDF()">Generate PDF</button>
        </div>
    </div> -->
    <div class="active-worker-employer-btn text-center">
      <div class="activate-worker">
          <button class="print-btn" (click)="onButtonTitleClicked(buttonTitle)" 
          *ngIf="buttonTitle.length > 0">{{buttonTitle}}</button>
      </div>
      <div class="activate-worker" *ngIf="buttonTitle2.length > 0">
          <button class="print-btn" (click)="onButtonTitleClicked(buttonTitle2)">{{buttonTitle2}}</button>
      </div>
    </div>
</mat-dialog-content>