.example-spacer {
    flex: 1 1 auto;
}

.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 25px 30px;
}
.dialog-toolbar-heading {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 0;
}
.personal-detail-heading h5{
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 10px 30px;
}
.document-heading h5{
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 10px 0;
}
.personal-detail-sec{
    border-bottom: 1px solid #e2e2e2;
}
/* .document-sec{
    border-bottom: 1px solid #e2e2e2;
} */
.personal-detail-content{
    padding: 5px 0px;
    margin: 0 70px;
}
.personal-detail-content p{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.personal-detail-content span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(92, 92, 92);
    padding-left: 10px;
}

.mat-dialog-content{
    margin: 0;
    padding: 0;
}

/*.personal-detail-content-1{
    padding-right: 40px;
}
.personal-detail-content-2{
    padding-left: 40px;
}
.personal-detail-content-1 p{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.personal-detail-content-1 span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(92, 92, 92);
    padding-left: 10px;
}

.personal-detail-content-2 p{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.personal-detail-content-2 span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(92, 92, 92);
    padding-left: 10px;
}*/
/* .mat-toolbar-row{
    height: 75px;
} */
.clear-icon{
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
}
.professional-detail-content{
    padding: 5px 0px;
    margin: 0 70px;
}
.text-bold{
   font-size: 16px;
   font-weight: 600;
   color: #000;
}
.p-b{
    padding-bottom: 20px;
}
.text-bold span{
    padding: 0 5px;
}
.breaking-word{
    word-break: break-word;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 2px;
}
.document-content-sec{
    padding: 5px 0px;
    margin: 0 70px;
}
.document-content-1{
    color: #b44634;
}

.document-content-2{
    color: #0f38f7;
    text-decoration: underline;
}
.button-sec{
    padding: 5px 0px;
    margin: 0 70px;
}
.print-pdf-btn{
    border: 0;
    outline: 0;
    background-color: #465f9e;
    color: #fff;
    font-size: 12px;
    font-weight: 100;
    padding: 3px 7px;
    cursor: pointer;
    letter-spacing: 1px;
}
.activate-worker {
    display: inline-block;
}
.activate-worker button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 8px 25px;
    box-shadow: 0 0 20px rgba(223,140,64, .3);
    border: 0;
    outline: none;
    margin: 10px 15px 30px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}
.professional-detail-heading{
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 20px 0;
}
.professional-detail-sec{
    border-bottom: 1px solid #e2e2e2;
}

 @media (max-width: 440px){
    .personal-detail-content{
        margin: 0 40px;
    }
    .professional-detail-content{
        margin: 0 40px;
    }
} 