<mat-toolbar>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h4 class="settings-heading">Settings</h4>
      </div>
      <div class="col-md-8 offset-md-2">
        <ul class="nav nav-tabs settings-tab" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active settings-link basic-btn" id="basic-tab" data-toggle="tab" 
            href="#basic" role="tab" aria-controls="basic" aria-selected="true" 
            [ngClass]="{ 'active':activeTab==='basic'}" (click)="basic('basic')">Basic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link settings-link users-btn noradius-tab-btn" id="users-tab" data-toggle="tab" 
            href="#users" role="tab" aria-controls="users" aria-selected="false" 
            [ngClass]="{ 'active':activeTab==='users'}" (click)="users('users')">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link settings-link addusers-btn noradius-tab-btn" id="addusers-tab" 
            data-toggle="tab" href="#addusers" role="tab" aria-controls="addusers" 
            aria-selected="false" 
            [ngClass]="{ 'active':activeTab==='addusers'}" (click)="addusers('addusers')">Add Users</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link settings-link termsofservice-btn" id="termsofservice-tab" 
            data-toggle="tab" href="#termsofservice" role="tab" aria-controls="termsofservice" 
            aria-selected="false" >Terms of Service</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link settings-link contactus-btn" id="contactus-tab" 
            data-toggle="tab" href="#contactus" role="tab" aria-controls="contactus" 
            aria-selected="false" >Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-toolbar>

<div class="settings-container">
  <!-- tab start-->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab" 
    [ngClass]="{ 'active':activeTab==='basic'}">
        <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="basic-container">
                  <div class="basic-title text-center">
                    <h4>Change Password</h4>
                  </div>
                  <div class="basic-form-container">
                      <mat-card class="basic-change-password-form">
                          <div class="basic-input">
                            <label>Old Password</label>
                            <input class="input-box" type="password" style="width: 100%;" placeholder="" [(ngModel)]="oldPassword">
                          </div>
                          <div class="basic-input">
                            <label>New Password</label>
                            <input class="input-box" type="password" style="width: 100%;" placeholder="" [(ngModel)]="newPassword">
                          </div>
                          <div class="basic-input">
                            <label>Confirm New Password</label>
                            <input class="input-box" type="password" style="width: 100%;" placeholder="" [(ngModel)]="confirmNewPassword">
                          </div>
                          <mat-card-actions class="ultra-agent-btn text-center">
                            <button mat-button class="save-button" (click)="clickOnChangePassword()">SAVE</button>
                          </mat-card-actions>
                        </mat-card>
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show" id="users" role="tabpanel" aria-labelledby="users-tab" 
    [ngClass]="{ 'active':activeTab==='users'}">
      <div class="users-table">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr class="text-center table-row">
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Job Title</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="table-body text-center">
              <tr *ngFor="let profile of companyusers">
                <td>{{profile.firstName}} {{profile.lastName}}</td>
                <td>{{profile.email}}</td>
                <td>{{profile.phoneNumber}}</td>
                <td>{{profile.jobTitle}}</td>
                <td>***********</td>
                <td>
                    <!-- <div class="dropdown action-dropdown">
                      <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </span>
                      <div class="dropdown-menu action-menu" aria-labelledby="dropdownMenuLink">
                        <div *ngIf="(this.authService.loggedInProfile.profileType == 'companyadmin')">
                          <a (click)="clickOnEditUser(profile)"><span class="dropdown-item action-item">View / Edit</span></a>
                          <a><span class="dropdown-item action-item" (click)="clickOnRemoveUser(profile)">Remove</span></a>
                        </div>
                      </div>
                    </div> -->
                    <div class="dropdown action-dropdown">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action<span>&#9662;</span>
                        </a>
                        <div class="dropdown-menu action-dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <div *ngIf="(this.authService.loggedInProfile.profileType == 'companyadmin')">
                            <a class="dropdown-item" (click)="clickOnEditUser(profile)">View / Edit</a>
                            <a class="dropdown-item" (click)="clickOnRemoveUser(profile)">Remove</a>
                          </div>
                        </div>
                      </div>
                  </td>
              </tr>
              
            </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade show" id="addusers" role="tabpanel" aria-labelledby="addusers-tab" 
    [ngClass]="{ 'active':activeTab==='addusers'}">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="addnewuser-container">
              <div class="basic-title">
                <h4>Add New User</h4>
              </div>
              <div class="add-newuser-form">
                <form class="form-container">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputPassword4">First Name</label>
                        <input type="text" class="form-control" id="fname" 
                        placeholder="" name="fname" [(ngModel)]="newUser.firstName">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="inputPassword4">Last Name</label>
                          <input type="text" class="form-control" id="lname" 
                          placeholder="" name="lname" [(ngModel)]="newUser.lastName">
                      </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Email</label>
                          <input type="email" class="form-control" id="email" 
                          placeholder="" name="email" [(ngModel)]="newUser.email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Phone No</label>
                            <input type="text" class="form-control" id="phoneno" 
                            placeholder="" name="phoneno" [(ngModel)]="newUser.phoneNumber" uaNumberOnly>
                        </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Job Title</label>
                            <input type="text" class="form-control" id="jobtitle" 
                            placeholder="" name="jobtitle" [(ngModel)]="newUser.jobTitle">
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputPassword4">Password</label>
                              <input type="password" class="form-control" id="password" 
                              placeholder="" name="password" [(ngModel)]="newUser.password">
                          </div>
                        </div>
                        <label for="inputPassword4" style="margin-bottom:20px;">Rights</label>
                        <div class="form-row" style="padding-left:10px;">
                          <div class="form-group col-md-4">
                              <mat-checkbox class="checkboxcheck" name="shiftmanagement" [checked]="checked" [(ngModel)]="newUser.permsShifts">Shift Management</mat-checkbox>
                          </div>
                          <div class="form-group col-md-4">
                              <mat-checkbox class="checkboxcheck" name="bookingmanagement" [(ngModel)]="newUser.permsBookings">Booking Management</mat-checkbox>
                          </div>
                          <div class="form-group col-md-4">
                              <mat-checkbox class="checkboxcheck" name="timesheetmanagement" [(ngModel)]="newUser.permsTimesheets">Timesheet Management</mat-checkbox>
                          </div>
                          <div class="form-group col-md-4">
                              <mat-checkbox class="checkboxcheck" name="usermanagement" [(ngModel)]="newUser.permsUsers">User Management</mat-checkbox>
                          </div>
                        </div>
                        
                    <div class="ultra-agent-btn text-center">
                      <button mat-button type="submit" class="save-button" (click)="onNewUserSaveClicked()">SAVE</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <!-- tab end-->
</div>