.profile-content{
    margin: 0 40px;
    background-color: #f4f4f4;
}
.profile-background-image-sec{
    background-image: url(../../../assets/profile-bg.jpg);
    background-size: cover;
    min-height: 145px;
    position: relative;
    z-index: 1;
}
.profile-image{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 95px;
    left: 185px;
    z-index: 2;
}
.profile-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #5271ff;
}
.profile-form{
    background-color: #fff;
    padding: 35px 35px;
    margin: 80px 0 50px;
}
.profile-form-group input:focus{
    outline: 0;
}
.profile-form-group{
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    padding: 12px 15px;
    font-weight: bold;
    min-height: 50px;
}
.profile-form-group p{
    margin-bottom: 0;
}
.profile-form-group input{
    border: 0;
    width: 100%;
    font-weight: bold;
}
.profile-form-group span{
    font-weight: normal;
}
.form-group-last{
    border-bottom: 0;
}
.edit-profile{
    padding: 25px 0;
}
.mat-toolbar{
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
}

.ultra-agent-btn{
    margin-top: 30px;
}

.ultra-agent-btn button{
    background-color: #DF8C40;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer; 
    margin-top: 20px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #DF8C40 !important; 
}

@media (max-width: 768px){
    .profile-form{
        padding: 0;
    }
    .profile-content{
        background-color: transparent;
    }
}
