<div class="profile-container">
    <mat-toolbar>
      <div class="profile-heading">Profile</div>
    </mat-toolbar>
    <div class="profile-content">
      <div class="profile-background-image-sec">
        <div class="profile-image">
          <img src="../../../assets/ultraagent_admin_image.png">
        </div>
      </div>
      <div class="profile-form-sec">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <!--<div class="edit-profile text-right">
              <button class="edit-prifile-btn">EDIT PROFILE</button>
            </div>-->
            <form class="profile-form">
              <div class="profile-form-group">
                <div class="row">
                  <div class="col-3"><p class="">First Name</p></div>
                  <div class="col-1"><span>:</span></div>
                  <div class="col-8"><input class="" type="text" value="" [(ngModel)]="profile.firstName" name="firstName"></div>
                </div>
              </div>
              <div class="profile-form-group">
                  <div class="row">
                    <div class="col-3"><p class="">Last Name</p></div>
                    <div class="col-1"><span>:</span></div>
                    <div class="col-8"><input class="" type="text" value="" [(ngModel)]="profile.lastName" name="lastName"></div>
                  </div>
                </div>
              <div class="profile-form-group">
                <div class="row">
                  <div class="col-3"><p class="">Job Title</p></div>
                  <div class="col-1"><span>:</span></div>
                  <div class="col-8"><input type="text" value="" [(ngModel)]="profile.jobTitle" name="jobTitle"></div>
                </div>
              </div>
              <div class="profile-form-group">
                  <div class="row">
                    <div class="col-3"><p class="">City</p></div>
                    <div class="col-1"><span>:</span></div>
                    <div class="col-8"><input type="text" value="" [(ngModel)]="profile.city" name="city">
                    </div>
                  </div>
                </div>
                <div class="profile-form-group">
                    <div class="row">
                      <div class="col-3"><p class="">Address</p></div>
                      <div class="col-1"><span>:</span></div>
                      <div class="col-8"><input type="text" value="" [(ngModel)]="profile.address" name="address">
                      </div>
                    </div>
                  </div>
                  <div class="profile-form-group">
                      <div class="row">
                        <div class="col-3"><p class="">Phone</p></div>
                        <div class="col-1"><span>:</span></div>
                        <div class="col-8"><input type="text" value="" [(ngModel)]="profile.phoneNumber" name="phoneNumber">
                        </div>
                      </div>
                    </div>
                    <div class="profile-form-group">
                        <div class="row">
                          <div class="col-3"><p class="">Email</p></div>
                          <div class="col-1"><span>:</span></div>
                          <div class="col-8"><input type="email" value="" [(ngModel)]="profile.email" name="email" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="profile-form-group form-group-last col-md-6">
                            <mat-checkbox class="checkboxcheck" name="shiftmanagement" [(ngModel)]="profile.permsShifts">Shift Management</mat-checkbox>
                        </div>
                        <div class="profile-form-group form-group-last col-md-6">
                            <mat-checkbox class="checkboxcheck" name="bookingmanagement" [(ngModel)]="profile.permsRegistrations">Registration Management</mat-checkbox>
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="profile-form-group form-group-last col-md-6">
                          <mat-checkbox class="checkboxcheck" name="timesheetmanagement" [(ngModel)]="profile.permsTimesheets">Timesheet Management</mat-checkbox>
                        </div>
                        <div class="profile-form-group form-group-last col-md-6">
                            <mat-checkbox class="checkboxcheck" name="usermanagement" [(ngModel)]="profile.permsUsers">User Management</mat-checkbox>
                        </div>
                      </div>
  
                      <div class="ultra-agent-btn text-center">
                          <button mat-button type="submit" class="save-button" (click)="onProfileSave()">SAVE</button>
                        </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  