<mat-toolbar-row class="dialog-toolbar clearfix">
  <div class="dialog-toolbar-heading"><h3 class="dialog-toolbar-heading">WORKER DETAILS</h3></div>
  <span class="example-spacer"></span>
  <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
</mat-toolbar-row>
<mat-dialog-content>
  <div class="personal-detail-sec">
    <div class="personal-detail-heading text-center"><h5>Personal Detail</h5></div>
    <div class="personal-detail-content clearfix">
      <div class="personal-detail-content-1 float-left">
        <p>Name: <span>Miss Isebella Davis</span></p>
        <p>Address: <span>The crown Estate 16 New Burlington Place London WIS 2HX</span></p>
        <p>City: <span>London</span></p>
      </div>
      <div class="personal-detail-content-2 float-left">
        <p>Phone No: <span>0791123456</span></p>
        <p><br></p>
        <p>Insurance No: <span>123456789</span></p>
      </div>
    </div>
  </div>
  <div class="personal-detail-sec">
      <div class="personal-detail-heading text-center"><h5>Professional Detail</h5></div>
      <div class="professional-detail-content clearfix">
        <div class="professional-detail-content-1 float-left">
          <p>Industry Category: <span>Health Care</span></p>
          <p>Profession Bdoy No: <span>123456789</span></p>
        </div>
        <div class="professional-detail-content-2 float-left">
          <p>Sub-Category: <span>Nursing</span></p>
          <p>Years of Experience: <span>5</span></p>
        </div>
      </div>
    </div>
    <div class="document-sec">
      <div class="document-heading text-center"><h5>Documents</h5></div>
      <div class="document-content-sec clearfix">
        <div class="document-content-1 float-left">
          <p>Cv.pdf</p>
          <p>My File's.zip</p>
          <p>Qualification File.zip</p>
        </div>
        <div class="document-content-2 float-left">
          <p><a href="#">Download</a></p>
          <p><a href="#">Download</a></p>
          <p><a href="#">Download</a></p>
        </div>
      </div>
    </div>
    <div class="print-pdf-sec d-flex justify-content-center">
        <div class="button-content-1" style="padding-right:5px;">
            <span><img src="../../../assets/printicon.png"></span><button class="print-btn print-pdf-btn" (click)="generatePrint()">Print</button>
        </div>
        <div class="button-content-2" style="padding-left:5px;">
            <span><img src="../../../assets/pdficon.png"></span><button class="pdf-btn print-pdf-btn" (click)="generatePDF()">Generate PDF</button>
          </div>
      </div>
    <div class="activate-worker text-center">
        <button class="print-btn">Activate Worker</button>
    </div>
</mat-dialog-content>