.example-spacer {
    flex: 1 1 auto;
}
.word-wrap-break{
    word-wrap: break-word;
}
.p-b{
    padding-bottom: 20px;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-toolbar{
    background-color: #c3ccf7;
    padding: 20px 30px;
}
.clear-icon{
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}
.padding-all{
    padding: 5px 0;
}
.employer-review-brief{
    padding-left: 8px;
}
.employer-review-below-sec-1{
    padding: 0 0 10px 0px;
}
.employer-review-below-sec-2{
    padding: 10px 0 0 0px;
}
.toolbar-heading{
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
    text-transform: uppercase;
}
.toolbar-subheading{
    font-size: 18px;
    font-weight: 500;
    font-family: Roboto;
    text-transform: uppercase;
}
.mat-toolbar-row{
    height: 30px;
}
.dialog-subject{
    padding: 30px 0px;
}
.details_content{
    background-color: #f4f4f4;
    padding: 35px 20px 35px;
    margin: 0 40px;
}
.description-heading{
    font-size: 20px;
}
.description-text{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
}
.shift-description-below-content{
    margin: 20px 40px;
    padding: 0 20px;
}
.text-bold{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.text-bold span{
    padding: 0 5px;
}
.bottom-margin{
    margin-bottom: 0;
}
.breaking-word{
    word-break: break-word;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    margin-top: 2px;
}
.print-pdf-sec{
    padding-bottom: 30px;
}
.print-pdf-btn{
    border: 0;
    outline: 0;
    background-color: #465f9e;
    /* box-shadow: 0 0 40px rgba(223,140,64, .3); */
    color: #fff; 
    font-size: 12px;
    font-weight: 100;
    padding: 3px 7px;
    cursor: pointer;
}
.inline{
    display: inline-block;
}
.pay-timesheet button{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 9px 25px;
    box-shadow: 0 0 40px rgba(223,140,64, .2);
    border: 0;
    outline: none;
    margin: 0 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
}