<div class="dialog-toolbar">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-10">
        <h3 class="toolbar-heading">{{title}}</h3>
        <h4 class="toolbar-subheading">{{subtitle}}</h4>
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <mat-icon class="clear-icon float-right" (click)="cancelClick()">clear</mat-icon>
      </div>
    </div>
  </div>
</div>
<mat-dialog-content>
  <div class="dialog-subject">

    <div id="printableContainerId">
      <div class="details_content">
        <h5 class="description-heading">Shift Description :</h5>
        <p class="description-text">{{booking.description}}</p>
      </div>
      <div class="shift-description-below-content">
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Date<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.shiftStartDateTime.toDate() | date:'dd/MMM/yyyy'}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Start Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workStartTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">End Time<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workEndTime.toDate() | date:'HH:mm a'}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Fees<span>:</span></div>
              <div class="order-2 p-b breaking-word">&pound; {{booking.calculatedEmployerFee}}</div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Rates<span>:</span></div>
              <div class="order-2 p-b breaking-word">&pound;{{booking.approvedFee}}/h</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Company<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.companyName}}</div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.contactphonenumber}}</div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Location<span>:</span></div>
                <div class="order-2 p-b breaking-word">{{booking.address}}</div>
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-md-4">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Worker<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workerFirstName}} {{booking.workerLastName}}</div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="d-flex flex-nowrap">
              <div class="order-1 p-b text-bold">Phone Number<span>:</span></div>
              <div class="order-2 p-b breaking-word">{{booking.workerPhoneNumber}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="d-flex flex-nowrap">
                <div class="order-1 p-b text-bold">Employer Review<span>:</span></div>
                <div class="order-2 p-b breaking-word">
                    <star-rating [starType]="'svg'" [rating]="averageRating" [showHalfStars]="true" [readOnly]="true"></star-rating>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
                <div class="d-flex flex-nowrap">
                  <div class="order-1 p-b text-bold">Brief<span>:</span></div>
                  <div class="order-2 p-b breaking-word">
                    <p class="employer-review-brief">{{employerRating == undefined? '':employerRating.whyHiredBrief}}</p>
                  </div>
                </div>
            </div>
        </div>

        <div class="employer-review-below-sec-1">
          <div class="row">
            <div class="col-md-4">
              <!-- <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Employer Fee<span>:</span></div>
                <div class="order-2 p-2 breaking-word">&pound;{{booking.calculatedEmployerFee}}</div>
              </div> -->
              <div class="text-bold">Employer Fee</div>
              <div class="breaking-word padding-all">&pound;{{booking.calculatedEmployerFee}}</div>
            </div>
            <div class="col-md-4">
              <!-- <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Worker Fee<span>:</span></div>
                <div class="order-2 p-2 breaking-word">&pound;{{booking.calculatedWorkerFee}}</div>
              </div> -->
              <div class="text-bold">Worker Fee</div>
              <div class="breaking-word padding-all">&pound;{{booking.calculatedWorkerFee}}</div>
            </div>
            <div class="col-md-4">
              <!-- <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">UA Margins<span>:</span></div>
                <div class="order-2 p-2 breaking-word">&pound;{{booking.calculatedUAMargin}}</div>
              </div> -->
              <div class="text-bold">UA Margins</div>
              <div class="breaking-word padding-all">&pound;{{booking.calculatedUAMargin}}</div>
            </div>
          </div>
        </div>

        <div class="employer-review-below-sec-2">
          <div class="row" *ngIf="!hidePaidTimeText">
            <div class="col-md-4">
              <!-- <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Employer Invoice No<span>:</span></div>
                <div class="order-2 p-2 breaking-word">{{booking.calculatedInvoiceNo}}</div>
              </div> -->
              <div class="text-bold">Employer Invoice No</div>
              <div class="breaking-word padding-all">{{booking.calculatedInvoiceNo}}</div>
            </div>
            <div class="col-md-4">
              <!-- <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Worker Payment No<span>:</span></div>
                <div class="order-2 p-2 breaking-word">{{booking.calculatedPaymentNo}}</div>
              </div> -->
              <div class="text-bold">Worker Payment No</div>
              <div class="breaking-word padding-all">{{booking.calculatedPaymentNo}}</div>
            </div>
            <div class="col-md-4" >
              <!-- <div class="d-flex flex-nowrap">
                <div class="order-1 p-2 text-bold">Paid on<span>:</span></div>
                <div class="order-2 p-2 breaking-word">{{booking.paidAt.toDate() | date:'dd/MM/yyyy HH:mm a' }}</div>
              </div> -->
              <div class="text-bold">Date Completed</div>
              <div class="breaking-word padding-all">{{booking.paidAt.toDate() | date:'dd/MM/yyyy HH:mm a' }}</div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    
    <div class="print-pdf-sec d-flex justify-content-center">
        <div class="button-content-1" style="padding-right:5px;">
            <span><img src="../../../assets/printicon.png"></span><button class="print-btn print-pdf-btn" (click)="generatePrint()">Print</button>
        </div>
        <div class="button-content-2" style="padding-left:5px;">
            <span><img src="../../../assets/pdficon.png"></span><button class="pdf-btn print-pdf-btn" (click)="generatePDF()">Generate PDF</button>
          </div>
      </div>
    <div class="pay-timesheet text-center" *ngIf="!hidePayTimesheetButton">
      <button class="pay-timesheet-btn" (click)="paytimesheetButton()">Pay Timesheet</button>
    </div>
   
  </div>
</mat-dialog-content>