/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~css-star-rating/css/star-rating.css';

/*Bharat: added for using date & time picker
https://daniel-projects.firebaseapp.com/owlng/date-time-picker
*/
@import "~ng-pick-datetime/assets/style/picker.min.css";

.my-panel .mat-dialog-container{
    padding: 0;
    border-radius: 10px;
}

.star-container{
    justify-content: left !important;
 }
 .rating{
     justify-content: left !important;
 }

.rating:active,
.rating:focus,
.rating.active {
    background-image: none !important;
    outline: 0 !important;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}