<div mat-dialog-container class="dialog-content">
  <h2 mat-dialog-title class="text-center dialog-title">SUCCESS</h2>
  <h4 mat-dialog-content class="text-center dialog-sub-title">SHIFT COMPLETED</h4>
    <div class="ok-btn text-center">
      <button (click)="approveSuccesOkClick()">OK</button>
    </div>
  </div>

