.no-padding{
    margin: 0;
    padding: 0;
}
.view-map{
    color: #DF8C40;
    font-size: 14px;
    padding-right: 5px;
    cursor: pointer;
}
.company_registration_full_page{
    background-image: url(../../../assets/company_registration_bg.jpg);
    background-size: cover;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #efefef inset;
}
.registration_card{
    background-color: #fff;
}
.registration_form{
    padding: 50px 0;
}
.company_registration_heading{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
}
.ultra_agent_logo{
    margin-top: 40px;
    width: 160px;
    height: 160px;
    float: right;
}
.ultra_agent_logo img{
    width: 100%;
    height: 100%;
}
textarea{
    resize: none;
}
.registration-form-control{
    background-color: #efefef;
    color: #7b7b7b;
}
#firstname::-webkit-input-placeholder,
#lastname::-webkit-input-placeholder{
  color: rgb(204, 203, 203);
  font-size: 14px;
}

#firstname:-moz-placeholder,
#lastname:-moz-placeholder{
  color: rgb(204, 203, 203);
  font-size: 14px;
}

#firstname::-moz-placeholder,
#lastname::-moz-placeholder{
  color: rgb(204, 203, 203);
  font-size: 14px;
}

#firstname:-ms-input-placeholder,
#lastname:-ms-input-placeholder{
  color: rgb(204, 203, 203);
  font-size: 14px;
}

.registration-label{
    color: #979797;
}
.ultra_agent_btn button{
    margin: 10px 20px;
}
.submit_btn{
    background-color: #DF8C40;
    color: #fff;
    border-radius: 3px;
    padding: 4px 50px;
    box-shadow: 0 0 40px rgba(223,140,64, .3);
    border: 0;
    outline: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
}
.clear_btn{
    background-color: transparent;
    border: 1px solid #DF8C40;
    color: #DF8C40;
    border-radius: 3px;
    padding: 4px 50px;
    outline: none;
    margin: 0 20px;
    font-size: 18px;
    font-weight: 300;
}
.clear_btn:hover {
    background-color: #DF8C40;
    color: #fff;
}
.company-image{
    width: 80px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 5px;
    height: 80px;
  }
  .company-image img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;
  }

  .company-image > input
{
    display: none;
}


@media screen and (max-width: 768px) {
    .ultra_agent_logo{
        float: none;
        margin: auto;
    }
}