<div class="company_registration_full_page">
  <div class="container">
    <div class="row">
      <div class="col-md-3 no-padding">
        <div class="ultra_agent_logo">
          <img src="../../../assets/ultra-agent-logo.png">
        </div>
      </div>
      <div class="col-md-6">
        <div class="registration_form">
          <div class="row">
            <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2">
              <div class="registration_form_heading">
                <h1 class="company_registration_heading">COMPANY REGISTRATION</h1>
                <span>Please fill the form</span>
              </div>
            </div>
          </div>
          <mat-card class="registration_card">
              <form class="form-container" [formGroup]="registerForm" #formCtrl="ngForm">
                  <!-- <div class="form-row">
                      <div class="col-md-4 offset-md-4">
                          <div class="company-image">
                            <label for="profilePicInputId">
                                <img id="profilePic" [src]="profilePic || 'https://placehold.it/180'" alt="logo" />
                            </label>
                            <input id="profilePicInputId" type='file' (change)="readProfilePicURL($event)" />
                          </div>
                      </div>
                  </div> 
                  <div class="form-row" *ngIf="((profilePicUpload!=undefined) && (profilePicUpload.progress != 100))">
                    
                    <div class="col-md-10 offset-md-1">
                      <div class="progress">
                          <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': profilePicUpload?.progress + '%' }"></div>
                      </div>
                      Progress: {{profilePicUpload?.name}} | {{profilePicUpload?.progress}}% Complete
                    </div>
                  </div> -->
                  <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail" class="registration-label">Email</label>
                            <input type="email" class="form-control registration-form-control" [(ngModel)]="profile.emailId" 
                            formControlName="email" id="email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword" class="registration-label">Password</label>
                            <input type="password" class="form-control registration-form-control"
                            formControlName="password" id="password">
                        </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputFirstname" class="registration-label">First Name</label>
                        <input type="text" class="form-control registration-form-control" 
                        [(ngModel)]="profile.firstname" placeholder="Admin first name"
                        formControlName="firstname" id="firstname">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputLastname" class="registration-label">Last Name</label>
                      <input type="text" class="form-control registration-form-control" 
                      [(ngModel)]="profile.lastname" placeholder="Admin last name"
                      formControlName="lastname" id="lastname">
                  </div>
              </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputCategory" class="registration-label">Company Category</label>
                          <select id="ccategory" class="form-control registration-form-control" 
                          [(ngModel)]="profile.companycategory" 
                          formControlName="companycategory">
                            <option *ngIf="profile.companycategory == undefined || profile.companycategory.length < 1" 
                            disabled selected value> Select Industry </option>
                            <option [value]="i" *ngFor="let i of categories">{{i}}</option>
                          </select>
                      </div>
                    <div class="form-group col-md-6">
                      <label for="inputComapnyname" class="registration-label">Company Name</label>
                      <input type="text" class="form-control registration-form-control"  id="cname" 
                      [(ngModel)]="profile.companyname" 
                      formControlName="companyname">
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputPhone" class="registration-label">Phone No.</label>
                          <input type="tel" class="form-control registration-form-control" id="phoneno" 
                          [(ngModel)]="profile.phoneNumber" 
                          formControlName="phoneno" uaNumberOnly>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputRegdno" class="registration-label">Reg No.</label>
                            <input type="text" class="form-control registration-form-control"  id="regno" 
                            [(ngModel)]="profile.regnumber" 
                            formControlName="regdno">
                          </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity" class="registration-label">City</label>
                      <select class="form-control registration-form-control" formControlName="city" id="city" 
                      [(ngModel)]="profile.city">
                        <!-- <option selected>City</option> -->
                        <!-- <option value="London">London</option>
                        <option value="Birmingham">Birmingham</option>
                        <option value="Leeds">Leeds</option>
                        <option value="Glasgow">Glasgow</option>
                        <option value="Sheffield">Sheffield</option>
                        <option value="Bradford">Bradford</option> -->

                        <option *ngIf="profile.city == undefined || profile.city.length < 1" 
                          disabled selected value> Select City </option>
                        <option *ngFor="let aSel of citySelectionData" 
                          value="{{aSel.city}}" [disabled]="aSel.city===''">{{aSel.display}}</option>
                      </select>
                    </div>
                    <!-- <div class="form-group col-md-6">
                      <label for="inputAddress" class="registration-label">Address</label>
                      <input type="text" class="form-control registration-form-control"  id="address" formControlName="address" (click)="openLocationLookupDialog()" [(ngModel)]="profile.address">
                    </div> -->
                    <div class="form-group col-md-6">
                      <label for="inputAddress" class="registration-label">Address</label>
                      <label for="inputPassword4" class="float-right"><span class="view-map" 
                        (click)="openLocationLookupDialog()">View Map</span></label>
                      <input type="text" class="form-control registration-form-control" 
                      id="address" formControlName="address" [(ngModel)]="profile.address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="postcode" class="registration-label">Postcode</label>
                      <input type="text" class="form-control registration-form-control" id="postcode" 
                      formControlName="postcode" 
                      [(ngModel)]="profile.postcode"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputDescription" class="registration-label">Brief Company Description</label>
                    <textarea class="form-control registration-form-control" id="cdesc" formControlName="cdesc" [(ngModel)]="profile.cdescription"></textarea>
                  </div>
                  <div class="form-group">
                    <div *ngFor="let  currentUpload of currentUploads">
                      <div class="progress">
                        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                      </div>
                      Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
                    </div>

                    <label>
                      <input type="file" accept="application/pdf" value="Choose Documents" (change)="detectFiles($event)" multiple>
                    </label>

                  </div>
                  <mat-card-actions class="text-center ultra_agent_btn">
                      <div class="message-show">
                          <span class="error" color="warn">{{errorMessage}}</span>
                          <span class="success">{{successMessage}}</span>
                        </div>
                      <button mat-button class="clear_btn" (click)="clickOnClear()" type="reset">CLEAR</button>
                      <button mat-button class="submit_btn" 
                      [disabled]="formCtrl.form.invalid"  (click)="tryRegister(registerForm.value)">SUBMIT</button>
                  </mat-card-actions>
                </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
