<mat-toolbar-row class="dialog-toolbar">
  <p class="letter-text text-center">U</p>
  <span class="dialog-header">From: Ultra Agent Control</span>
  <span class="example-spacer"></span>
  <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
</mat-toolbar-row>
<mat-dialog-content>
  <div class="dialog-subject">
    <p>Subject Details : Plumbing#12345</p>
    <p>Details:</p>
    <div class="details_content">
      <p>Plumbing#1234.</p>
      <p>Shift submited @ 16:40 May 20,2018</p>
      <p>Start time: 12:12. End time: 16:30 Duration: 2hrs 15mins</p>
    </div>
    <div class="suspend_worker_button text-center">
      <button class="suspend_btn" (click)="openDialog()">APPROVE SHIFT</button>
    </div>
  </div>
</mat-dialog-content>