.example-spacer {
    flex: 1 1 auto;
}
.mat-dialog-content{
    margin: 0;
    padding: 0;
}
.dialog-toolbar{
    background-color: #c3ccf7;
}

.clear-icon{
    cursor: pointer;
}

.mat-toolbar-row{
    height: 75px;
}
