<mat-dialog-content>
  <mat-toolbar-row class="dialog-toolbar">
    <div>PENDING SHIFT</div>
    <div>SHIFT NO: E QUIPMEN_OPERATOR 12345</div>
    <span class="example-spacer"></span>
    <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
  </mat-toolbar-row>
  <div class="dialog-subject">
    
  </div>
</mat-dialog-content>