<div mat-dialog-container class="dialog-content">
  <h2 mat-dialog-title class="text-center dialog-title">{{title}}</h2>
  <h2 mat-dialog-title class="text-center dialog-subtitle">{{subtitle}}</h2>
  <h4 mat-dialog-content class="text-center dialog-description">{{descr}}</h4>
  <div class="ok-btn-sec text-center">
    <button class="ok-btn" (click)="okClick()">{{buttonTitle}}</button>
  </div>
  </div>

