.admin_login{
    background-image: url(../../../assets/admin_login_bg.jpg);
    background-size: cover;
    padding-bottom: 100px;
}
.admin-text h1{
    padding-bottom: 50px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
}
.ultra-agent-logo{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 15px;
}
.ultra-agent-logo img{
    width: 100%;
    height: 100%;
}
.log_in_card{
    width: 350px;
    margin: auto;
}
.admin_login_form{
    background-color: #5271ff;
    border-radius: 3px;
    padding: 0px 40px 50px;
}
.admin_login_form p{
    padding-top: 30px;
    color: #fff;
    font-family: Montserrat;
    font-weight: 500;
}
.forgot_password a{
    color: #fff;
    cursor: pointer;
    padding-top: 35px;
}

  input[type='email'] {
    background-image: url(../../../assets/mailicon.png);
    background-position: 15px 12px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 13px 50px;
    outline: none;
    border: none;
    margin: 10px 0;
    color: #838383;
    font-size: 14px;
}
input[type='password'] {
    background-image: url(../../../assets/passwordicon.png);
    background-position: 15px 12px;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 13px 50px;
    outline: none;
    border: none;
    margin: 10px 0;
    color: #838383;
    font-size: 14px;
}
  .ultra_agent_btn{
      margin-top: 10px;
  }
  .login_button{
    background-color: #DF8C40;
    color: #fff;
    padding: 4px 60px;
    border-radius: 3px;
    box-shadow: 0 0 40px rgba(82,113,255, .3);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  