<div class="admin_login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="ultra-agent-logo">
          <img src="../../../assets/ultra-agent-logo.png" alt="ultra_agent_logo">
        </div>
        <div class="admin-text text-center">
          <h1>ULTRA AGENT CONTROL</h1>
        </div>
        <div class="log_in_card">
            <mat-card class="admin_login_form">
              <p>LOGIN TO<br> YOUR ACCOUNT</p>
              <div>
                <input type="email" style="width: 100%;" placeholder="Email"  [(ngModel)]="email">
              </div>
              <div>
                <input type="password" style="width: 100%;" placeholder="Password"  [(ngModel)]="password">
              </div>
              <mat-card-actions class="ultra_agent_btn text-center">
                <button mat-button class="login_button" (click)="clickOnLogin()">LOGIN</button>
              </mat-card-actions>
            </mat-card>
            <div class="forgot_password">
                <a routerLink="/forgot_password" class="float-right">Forgot Password?</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
