<mat-toolbar class="dialog-toolbar">
  <mat-toolbar-row>
    <h3 class="toolbar-heading">SHIFT DETAILS</h3>
    <span class="example-spacer"></span>
    <mat-icon class="clear-icon" (click)="cancelClick()">clear</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content>
  <div class="dialog-subject">
    <div class="details_content">
      <h5 class="description-heading">Shift Description :</h5>
      <p class="description-text">
        {{shift.description}}
      </p>
    </div>
    <div class="shift-description-content">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold"><img src="../../../assets/calendericon-black.png">Date &amp; Time<span>:</span></div>
            <div class="order-2 p-2 breaking-word">{{shift.startDateTime.toDate() | date:'dd/MMM/yyyy HH:mm a'}}</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">Duration<span>:</span></div>
            <div class="order-2 p-2 breaking-word">{{shift.duration}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">Fees<span>:</span></div>
            <div class="order-2 p-2 breaking-word">&pound;{{shift.fee}}/h</div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">Needed Experience<span>:</span></div>
            <div class="order-2 p-2 breaking-word">{{shift.expNeeded == undefined? '': shift.expNeeded}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">Phone Number<span>:</span></div>
            <div class="order-2 p-2 breaking-word">{{shift.phoneNumber}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">Contact Person<span>:</span></div>
            <div class="order-2 p-2 breaking-word">{{shift.contactpername}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">Location<span>:</span></div>
            <div class="order-2 p-2 breaking-word">{{shift.address}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex flex-nowrap">
            <div class="order-1 p-2 text-bold">City<span>:</span></div>
            <div class="order-2 p-2 breaking-word">{{shift.city}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
